[2019-08-16 10:54] tillkamppeter commented on #138
The paper size information in the PPD for the "w432h648" is as follows:
[code]
From a paper size named "w432h648" or "6x9" I expect that it is 6 inches by 9 inches or 432 pt by 648 pt. Thebactual dimensions defined in the PPD file are bigger. Also strange is that there is only an unprintable border defined for the X dimension and not for the Y dimension (but the actually printable area is still bi

[2019-08-16 11:48] speachy commented on #138
(The above was printed using the 6x8"/432x576pt size, but the problem is more general)

The short answer is that, yes, these dimensions are needed to satisfy both the printer's raster data format requirements and "overspray" for full-bleed printing.  The final image is "nominally" 432x576pt, but the printer has a native imageable area of 1844x2436px @300dpi (442.56x584.64pt) with a non-printable 3

[2019-08-16 13:02] tillkamppeter commented on #138
I have tested now with `cupsfilter` using a command line like this
[code]
and the files you supplied in the current directory. When I display the resulting file with `rasterview` I see the decentered output.
The screen output of the `cupsfilter` command shows the Ghostscript command line used and I tested running it separately.
At first, I generated the input PDF file for Ghostscript, the output o

[2019-08-16 13:02] #138 closed

[2019-08-16 17:43] deepak0405 commented on #124
@logTom
The cups version is fine, and the fix is not complete yet ( Its not working).  I checked your printer specifications and it only supports IPP 1.1, so I just want to try that whether we are able to create print queue when we set IPP version as 1.1 in the request.

@tillkamppeter
I tried creating a IPP 1.1 printer on server using the uris
[code]
and I was able to create the print queue. Am I

[2019-08-16 20:46] tillkamppeter commented on #124
AFAIK get_printer_attributes works also with IPP 1.1, but you get much less information. As cups-browsed supports also some legacy (IPP 1.1) PostScript/PCL/PDF printers you can also get queues for IPP 1.1 printers, the PPDs are simply not so well fit to the printers (like showing choices which are not available on the actual printer). You can suppress creation of such queues via options in `cups-b

[2019-08-17 00:48] fernandopioli opened #140 "DefaultOutputOrder not working"
I installed a zebra GC420t to print labels, each label has default side.
I need to set the print side of the labels.
I tried:
*DefaultOutputOrder: Reverse
in .ppd, but didn't work.
(if I change darkness in ppd, it works fine)

I'm printing by mono in raspibian.
I need help please

[2019-08-17 05:13] DeepakPatankar commented on #124
@tillkamppeter
I was thinking that since we didn't set the IPP version, cups-browsed is doing request using default version (IPP 2.0), and the printer doesn't understand it, so it was giving error.

I created the queue in browser, After "Add printer" it asked for the uri, there I entered this uris.

We are not getting HTTP_STATUS_OK for @logTom when we are using httpSeparateURI(), that's why the g

[2019-08-17 06:41] tillkamppeter commented on #124
If you create a CUPS queue this way on a server it talks IPP 1.1 to the physical printer, but the shared CUPS queue is understanding IPP 2.x as usual. For a client it does not matter which device URI you have given to a server's CUPS queue, the device URI is only for the communication with the physical printer.

[2019-08-17 08:19] DeepakPatankar commented on #124
@tillkamppeter
How I can add a printer which supports IPP 1.1 ? I saw ippserver but I think there is no option in ippserver to make IPP 1.1 printer.

For @zdohnal  I need a cups queue understanding only IPP 1.1 and for @logTom I need a IPP Network printer.

[2019-08-17 08:37] dheeraj135 commented on #124
@DeepakPatankar Please try the ippeveprinter utility. Link: https://www.cups.org/doc/man-ippeveprinter.html

[2019-08-17 12:53] speachy commented on #138
Reported to upstream ghostscript at https://bugs.ghostscript.com/show_bug.cgi?id=701438

They seem to think it's a problem with how pstopdf invokes ghostscript, and suggested a different cmdline.  See comment 5.

[2019-08-17 15:01] tillkamppeter commented on #124
@DeepakPatankar (@deepak0405 ? What do you prefer?), note that `ippeveprinter` was only introduced with CUPS 2.3.x. Either use the CUPS packages from Debian Experimental or build from source. Perhaps the [PWG IPP Sample](https://istopwg.github.io/ippsample/) project also has a solution.

[2019-08-17 20:20] dheeraj135 opened #141 "cups-browsed: Print queue for pwg-raster local printer is not created."
If we have a local printer(ippeveprinter/ippserver) which supports only **image/pwg-raster** and **application/octet-stream**, then cups-browsed(default cups-browsed.conf file) is not able to create a print queue for this printer.

If we set ```CreateIPPPrinterQueues All``` then the print queue is created.
But if we use ```CreateIPPPrinterQueues Everywhere``` or ```CreateIPPPrinterQueues Driverles

[2019-08-17 20:42] dheeraj135 commented on #141
To create ipp printer supporting only **image/pwg-raster** and **application/octet-stream**, simply use the attribute file as: ```ippserver -a pwg.attr.txt pwg_test_printer```.
Alternatively, build ippsample for this source: https://github.com/dheeraj135/ippsample. Then use the ippeveprinter utility as: ```./ippeveprinter pwg_test_printer```

[2019-08-17 23:30] archenemies opened #142 "newly installed HP inkjet PPD missing default page order line"
Hello Mr. Till Kamppeter,

I think you did some recent work to get Inkjet printers to print pages in the correct order. (#47)

I noticed that when I recently installed CUPS on a new Raspbian system, that the default PPD for my HP inkjet printer is still configured to print documents in reverse.

I had to install the latest version of cups-filters from GitHub to get printing to work at all. Please

[2019-08-18 07:56] tillkamppeter commented on #142
Your PPD file is from HPLIP, my work on cups-filters only affects PPD files which are generated by cups-filters itself (for driverless IPP printing).
Also the repeated listing of your PPD is a problem of HPLIP as the PPD(s) here come from HPLIP.
Please report a bug [on HPLIP](https://launchpad.net/hplip/).

[2019-08-18 07:56] #142 closed

[2019-08-18 09:03] tillkamppeter commented on #140
Which version of cups-filters are you using? Please try the current version as there were done some fixes on the output order recently.
If the problem still occurs with the newest version, please attach the PPD file (add `.txt` to the end of the file name so that GitHub acceps the upload) and also provide a [CUPS error_log in debug mode](https://wiki.ubuntu.com/DebuggingPrintingProblems#CUPS_error

[2019-08-18 09:59] tillkamppeter commented on #141
I have found out what the problem is.
An IPP printer which supports PWG Raster do not only have to tell this in its "document-format-supported" attribute but also provide the "pwg-raster-document-resolution-supported" to tell a client which resolutions (in dpi) the PWG Raster files need to have so that the printer is able to print them. A typical laser printer would list 300 dpi and 600 dpi here.

[2019-08-18 10:11] tillkamppeter commented on #141
So the bug is in the printer emulator(s) of ippsample (and also CUPS). If a certain PDL is supported also the keywords for the parameters of the PDL need to be present. This is valid for Apple Raster, PWG Raster, and PCLm.
Please report bugs on the appropriate upstream projects and also take this into account in the Printer Application framework, especially for the raster-only mode,

[2019-08-18 10:11] #141 closed

[2019-08-18 10:30] tillkamppeter commented on #141
The attributes AFAIR are:
Apple Raster:
- `urf-supported`

PWG Raster:
- `pwg-raster-document-type-supported`
- `pwg-raster-document-resolution-supported`
- `pwg-raster-document-sheet-back`

PCLm:
- `pclm-source-resolution-supported`
- `pclm-source-resolution-default`
- `pclm-strip-height-supported`
- `pclm-strip-height-preferred`
- `pclm-raster-back-side`
- `pclm-compression-method-preferred`

[2019-08-18 10:47] dheeraj135 commented on #141
@tillkamppeter
From the attributes file, we have the following attributes:
ATTR resolution **pwg-raster-document-resolution-supported** 300x300dpi,600x600dpi
ATTR keyword **pwg-raster-document-type-supported** "black_1","sgray_8"
ATTR mimeMediaType document-format-supported "application/octet-stream","**image/pwg-raster**"

**pwg-raster-document-sheet-back** is missing but this attribute is *CONDI

[2019-08-18 10:56] tillkamppeter commented on #141
I have found what went wrong, the "pwg-raster-document-resolution-supported" was checked as a keyword type but is of resolution type. I have fixed this in commit 01726b3bbf5d01 now.
Thanks for the bug report.

[2019-08-18 12:12] archenemies commented on #142
Thank you. I have reported it [here](https://bugs.launchpad.net/hplip/+bug/1840576).

[2019-08-19 11:22] fernandopioli commented on #140
I am using v 2.2. But I got it with a work around. I set up the printer in Ubuntu, so in Ubuntu there is an option in the GUI that allows you to change the paper order. Then I copied Ubuntu's .ppd to raspibian and it worked. It wasn't the best way, but it worked

[2019-08-19 20:06] tillkamppeter commented on #140
This is probably a problem in the Zebra printer driver which is part of CUPS. You should report a bug at [CUPS](https://github.com/apple/cups).

[2019-08-19 20:06] #140 closed

[2019-08-20 07:35] ChoiChoongHo94 opened #143 "[Question] about "Unable to create PPD file: Printer does not support required IPP attributes or document formats.""
Hi.
(I am not a native speaker. I will try my best to make my question clear, but please understand if there are any grammatical errors.)

If I get "Unable to create PPD file: Printer does not support required IPP attributes or document formats." from entering `driverless cat <driver URI>`, does it mean that this printer discovered by `driverless` don't support IPP?
If then, to set this printer up

[2019-08-20 07:55] tillkamppeter commented on #143
The printer supports IPP as it has an IPP URI and it answers IPP requests, but what does not work with it is driverless IPP printing. According to its "document-format-supported" IPP attribute the only data format it supports for driverless printing is Apple Raster ("image/urf") which is a standard format for Apple's AirPrint, to print on the printer from an iOS device.
Unfortunately, the printer

[2019-08-20 07:55] #143 closed

[2019-08-20 08:53] ChoiChoongHo94 commented on #143
then, if I set this printer, I must have the printer specific PPD file or driver (gutenprint, vendor-specific driver, etc.). right?

[2019-08-20 18:13] debiantriage commented on #143
Would I be correct in thinking that, in the case of this printer, the Bonjour text record would not contain the "URF = " key? Perhaps  ChoiChoongHo94 would provide the output of

`avahi-browse -rt _ipp._tcp` ?

(The Samsung ULD package appears to be his route to printing easily).

[2019-08-20 19:45] tillkamppeter commented on #143
Could you also post the output of
[code]
Please attach the `attrs.txt` file to this bug report.

[2019-08-21 03:29] ChoiChoongHo94 commented on #143
Thank you for fast replies.

Here are the attachments.
[code]
[resolve.txt](https://github.com/OpenPrinting/cups-filters/files/3523446/resolve.txt)
[attrs.txt](https://github.com/OpenPrinting/cups-filters/files/3523447/attrs.txt)

[2019-08-21 08:19] ChoiChoongHo94 commented on #143
I have more question.

If a printer support `AirPrint`, is it safe to say that the printer also support `IPP Everywhere`?

[2019-08-21 10:46] tillkamppeter commented on #143
If a printer supports AirPrint it does not automatically also support IPP Everywhere, but AirPrint is also a form of driverless IPP printing, like IPP Everywhere is, and so AirPrint printers do also print on modern Linux systems without need of a driver.
Unfortunately, your printer has no working implementation of AirPrint or any other driverless IPP printing standard. It supports Apple Raster (`i

[2019-08-21 10:54] debiantriage commented on #143
No, not at all.

Your resolve.txt indeed does not have a key in the text record beginning _urf=_;  its Bonjour broadcasts do not advertise an AirPrint-capable device. The attrs.txt backs up what Till has said already about the _urf-supported_ IPP attribute. This printer does not support AirPrint. IPP cannot get what it needs from the printer, so you cannot set up a print queue with the everywhere

[2019-08-21 12:30] zdohnal commented on #124
@DeepakPatankar Hi Deepak,
I'm not sure if it is still valid but I was able to get cupsd.conf from our IT. Here it is
[cupsd.conf.txt](https://github.com/OpenPrinting/cups-filters/files/3525291/cupsd.conf.txt)

I just substituted IPs, hostnames and paths to certificate/key files with placeholders.

[2019-08-22 21:23] tillkamppeter commented on #138
See my [comment #6](https://bugs.ghostscript.com/show_bug.cgi?id=701438#c6) on the [Ghostscript bug report](https://bugs.ghostscript.com/show_bug.cgi?id=701438) for more detailed info.
The printer driver used here reports a wider page size than the actual width of the paper but the correct page height. The original PDF is probably prepared for the actual paper width and so it does not exactly matc

[2019-08-22 21:47] speachy commented on #138
To echo what I put in the ghostscript ticket.

I didn't file this bug due to "application" or "user" confusion, I filed it because 'gstopdf' and 'pdftopdf' generate inconsistent results with the same input and (explicit) parameters.

[2019-08-22 21:54] speachy commented on #138
The input image is perfectly filtted to the imageable area for the print size.  The behavior with a non-PDF (ie raster) flow is already correct, and pdftopdf behaves consistently with that.

It's one thing to claim that gutenprint's decade-plus-old approach to non-printable paper margins is incorrect (I suspect this would come as a surprise to Robert Krawitz) but I don't think I'm being unreasonab

[2019-08-23 00:27] speachy commented on #138
So far the solution presented is "rewrite your printer driver to reduce user confusion" -- but the user here was not confused by a PageSize that is larger than the ImageableArea.  Instead, they were confused as to how this series of commands would yield different results:

]$ user_application input.jpg outimage.jpg  # generates output perfectly fitting ImageableArea
]$ convert outimage.jpg -densit

[2019-08-23 04:03] sherwinkh commented on #120
@tillkamppeter After installing the cups-filters ,`gs out.ps.txt` can get correctly displayed on the screen by Ghostscript.But `lp -oraw out.ps.txt` get nothing,ant the status of the printer is "Sending data to printer." all the time.
[code]

[2019-08-23 07:24] deepak0405 commented on #124
@tillkamppeter  Please use @deepak0405 .

@zdohnal I am trying to figure out whether your cups version is doing broadcasts using `DNS-SD` or `Cups Legacy Broadcasts`
1. Can you please send the cups-browsed.conf file of the client and the output of `avahi-discover` command when run on client ?
2. Also if you can send the output of `avahi-browse -a` command when run on one of the client whose queue

[2019-08-23 08:50] zdohnal commented on #124
@deepak0405 Hi Deepak,
AFAIK the server (cups-1.4.2) is using CUPS legacy broadcast.

Ad 1) Here is cups-browsed.conf
[cups-browsed.conf.txt](https://github.com/OpenPrinting/cups-filters/files/3533609/cups-browsed.conf.txt) from my machine, where I cannot see any printers when cups-filters 1.24.0 is installed .
And IMO there will be no avahi communication with server, because they are not in the s

[2019-08-23 08:59] tillkamppeter commented on #124
@deepak0405, the configuration as I understand it sees the server's printers only by legacy CUPS broadcasting and BrowsePoll, most probably it is BrowsePoll which should actually get the printers known to the client.
@zdohnal, Deepak wants you to run the Avahi tools (`avahi-discover`/`avahi-browse`) on the client, to see whether the server's DNS-SD broadcasts make it to the client.

[2019-08-23 09:12] dheeraj135 opened #144 "cups-browsed: Unable to connect to local printers."
The current cups-browsed in cups-filters ```HEAD``` is unable to connect to local printers.
I created a local printer with the command: ```ippserver x2```.
From the log file:
[code]
cups-browsed times out trying to connect to the printer. But it still creates a queue with ```implicitclass``` backend. I tried printing to this queue. The cups-browsed log shows that it has received the print job but

[2019-08-23 09:13] dheeraj135 commented on #144
@deepak0405 Can you please attach the log files when you tried the same thing?

[2019-08-25 07:39] deepak0405 commented on #144
@dheeraj135
I created a printer on the same machine using `ippserver x2 -d ~/Desktop` and ran the command `./cups-browsed -d -o CreateIPPPrinterQueues=All` on the latest cups-filter `1.25.3`. I was able to create the queue and the printed file was generated at the desktop. Please see whether I am missing something.

Log file : [localhost_ipp_network_printer.txt](https://github.com/OpenPrinting/cup

[2019-08-25 09:31] tillkamppeter opened #145 "imagetoraster, imagetopdf: Images do not get formatted correctly"
I take a usual digital photo as it comes out of a camera, landscape orientation, 4;3 aspect ratio and pass it through the filter chain for printing, using a PPD of Dye Sublimation photo printer used with Gutenprint.
The command lines are as follows:
[code]
This is the PPD file
[DS620.ppd](https://github.com/OpenPrinting/cups-filters/files/3537955/DS620.ppd.txt)
and this is the picture:
[P8235870.J

[2019-08-25 10:25] deepak0405 commented on #124
@zdohnal Thanks now I am able to reproduce the issue. After setting the required ip in `BrowsePoll` I am getting the same error as shown by you.

[2019-08-25 11:18] tillkamppeter commented on #138
Now both gstoraster and pdftoraster should do the right thing. Both now support also matching the input page size against the imageable area of the PPD's page sizes (if none of the PPD's sizes matches with its full size) and matching is generally done with only 1% of tolerance. Your file comes out correctly now and I also have done some regression tests and all seems to work correctly now.
Fixes:

[2019-08-25 16:56] deepak0405 commented on #124
@tillkamppeter
The error I am facing is little bit different
[code]
I added a BrowsePoll line in the cups-browsed.conf `BrowsePoll <printer-server-ip-address(address of my vm>:631`. The queue was broadcasted but my cups-browsed can't connect to the uri. I tried getting ipp attributes for the uri `ipp://ubuntu:631/printers/test1`, but it says
[code]
While the request for uri `ipp://<ip-address>:631

[2019-08-25 17:17] dheeraj135 commented on #145
Ok. I will look into it.

[2019-08-25 17:19] dheeraj135 commented on #144
@deepak0405 Thanks for testing this. Can you please verify the same for ippeveprinter?
Command: ```ippeveprinter x2```

[2019-08-25 21:28] tillkamppeter commented on #145
@dheeraj135, I have found the cause for the images not getting auto-rotated. You have used overly complicated ways to determine whether the image and the output page are of mismatching orientations (landscape/portrait). I have replaced the occurences by a simple, intuitive expression and it works now.
see my commit 41e56267 and commit ea696db7.
Now only the page header problem of `imagetoraster` n

[2019-08-25 21:51] tillkamppeter commented on #145
@dheeraj135, for the problem with the CUPS Raster header of the `imagetoraster` filter I am not sure whether they are caused by you (with the "blame" function I see no chenges from you on that code), so it is possible that it was already this way and so printer drivers seem to work correctly with it. If it really was this way before your changes, this is most probably no problem and has always wor

[2019-08-25 21:56] tillkamppeter commented on #145
Currently, cups-filters copes with the lack of PWG Raster support by `imagetoraster` simply by calling `imagetopdf` and then `gstoraster`, following its MIME rules.

[2019-08-26 03:28] dheeraj135 commented on #145
pwg-raster is a subset of cups raster. Can we simply remove unsupported options from the cups raster file to convert it to pwg rater file?

[2019-08-26 03:29] dheeraj135 commented on #145
@tillkamppeter Thanks for the fix.

[2019-08-26 05:02] dheeraj135 commented on #145
Major Differences:
- Header (RaS2 vs RaSt)
- ColorOrderEnum (bytes 396-399)
- ColorSpaceEnum (bytes 400-403)
- LeadingEdge (bytes 308-311)
- MediaPositionEnum (bytes 324-327) [pwg-raster requires this value to be between 0-49].
- PrintQuality (bytes 484-487) [PrintQuality is not defined by cups-raster].

All the differences are defined in the pwg raster specification: [PWG Raster Format](https://f

[2019-08-26 09:20] tillkamppeter commented on #145
I have checked and it seems that imagetoraster all the time centered the images by changing the size of the unprintable margins instead of adding white pixels around the image to the bitmap. So drivers should cope with that. So I am closing this issue as what I have observed in this regard is not actually a bug.
Note that for adding support for PWG Raster you have to add white pixels as PWG Raster

[2019-08-26 09:20] #145 closed

[2019-08-28 10:16] tillkamppeter commented on #124
In general, if you try to connect to your VM by host name and not by IP you should try to use "ubuntu.local" instead of just "ubuntu".
The ipptool output using the IPP-based address shows that something is wrong with the printer on your server(VM). A regular, shared, and correctly working CUPS queue on a not too old CUPS server gives a useful answer to a get-printer-attributes IPP request. Your VM

[2019-08-29 18:15] deepak0405 commented on #144
@dheeraj135 For ippeveprinter I am not able to reproduce this error. I am able to generate the print queue without any error but the print job never gets completed on my system. I am facing some different error.

Output of `ippeveprinter x3`
[code]

[2019-08-30 04:31] dheeraj135 commented on #144
Thanks @deepak0405 for investigating this. If you are not able to reproduce this error, then I guess my installation is broken. I am closing the issue. By the way, you can resolve this error by using the command ```ippeveprinter x3 -K /var/tmp -n "localhost" ```.

[2019-08-30 04:31] #144 closed

[2019-09-02 07:14] logTom commented on #124
@deepak0405
Sorry for the late response.
I downloaded the cups-filters 1.25.4 release and applied your patch.

Here is the output:
[code]

[2019-09-02 08:38] zdohnal opened #146 "[question] pdftopdf preserves encryption?"
Hi,
I was looking into pdftopdf filter code, seeing how it works and find out that pdftopdf filter produces encrypted files if input file is encrypted.
Is it based on a specification of filtering? Or is it just for convenience? Would it be possible that I create the patch which disables the encryption in pdftopdf filter and could be added into project?

[2019-09-02 09:50] tillkamppeter commented on #146
The pdftopdf filter does not use any PDF interpreter, it does only manipulations on the PDF file, as re-ordering pages, removing, multiplying pages, scaling, rotating, ... No page is rendered or converted to another file format or internal structure (for example vector text/graphics to raster image). Probably due to thsi encrypted elements are not decrypted but passed on encryoted.
Up to now no on

[2019-09-02 12:06] zdohnal commented on #146
Our crypto people is trying to get rid of weaker hashes/ciphers and they are not happy when pdftopdf filter 'creates' (in matter of speaking, because it is only data which are sent to next filter and no new file is not created) new weakly encrypted (with usage of MD5 and RC4) file based on old weak encrypted file. According to them it would be better to just decrypt the file.

[2019-09-02 13:21] #146 closed

[2019-09-02 13:23] tillkamppeter commented on #146
Thank you very much, I have merged it now.

[2019-09-03 05:40] zdohnal commented on #146
Thank you merging it, Till!

[2019-09-03 07:25] paulmenzel opened #148 "ERROR: Unable to create print queue, ignoring printer."
On Debian Sid/unstable, cups-browsed 1.25.4 fails to start.

[code]

Starting it manually with the switch `--debug`, I see the messages below.

[code]
Without cups-browsed running, printing of course fails with the error below.

    [Job 143] No destination host name supplied by cups-browsed for printer \"EPSON_WF_2660_Series\", is cups-browsed running?

[2019-09-03 07:29] paulmenzel commented on #148
Updating CUPS from 2.2.12-2 to 2.3.0-1 does *not* fix this.

[2019-09-03 07:32] paulmenzel commented on #148
Downgrading the packages *cups-filters* and *cups-browsed* from 1.25.4 to 1.25.3 also does *not* help.

[2019-09-03 07:38] paulmenzel commented on #148
No, idea if the information below helps.

    $ wget https://raw.githubusercontent.com/steveathon/cups/master/test/get-printer-attributes-2.0.test
    $ ipptool -tv ipp://EPSON73FFDE.local:631/ipp/print get-printer-attributes-2.0.test

The output is in a separate file [ipptool-tv-output.txt](https://github.com/OpenPrinting/cups-filters/files/3568319/ipptool-tv-output.txt).

[2019-09-03 07:45] paulmenzel commented on #148
Downgrading to cups-filters and cups-browsed to 1.21.6-5 from [Debian stable/buster](https://packages.debian.org/buster/cups-browsed) does make it work again.

[2019-09-03 08:11] tillkamppeter commented on #148
@deepak0405, could you have a look into this, it seems to be caused by your major changes.

[2019-09-03 09:05] tillkamppeter commented on #148
@deepak0405, the printer returns correct data on the get-printer-attributes IPP request, so something seems to go wrong when you handle the data and generate the PPD file.
@paulmenzel, there was a substantial change in cups-browsed in the 1.24.0 release of cups-filters. Probably this introduced the problem.

[2019-09-03 09:27] paulmenzel commented on #148
I submitted a bug to Debian’s Bug Tracking System, and it was assigned the number [939316](https://bugs.debian.org/939316).

[2019-09-03 09:29] tillkamppeter commented on #148
@paulmenzel, I think submitting to Debian does not help much, as this is most probably a problem of cups-browsed itself, not of the Debian packaging.

[2019-09-03 09:32] paulmenzel commented on #148
In this case, this is to inform the package maintainer, and to document it for other Debian users. The Debian BTS can and should also be used for upstream issue (and I tagged it accordingly), so the opinions sometimes differ from maintainer to maintainer.

[2019-09-03 13:21] tillkamppeter commented on #148
Fixed in commit a20ae8146. Thank you for the bug report.
Problem was that there was a left over locally generated print queue (with "implicitclass://..." URI) from a crashed (or not cleanly shut down) cups-browsed and on the next start cups-browsed picked up this queue and tried a get-printer-attributes request on the "implicitclass://..." URI and this caused a fatal error.
Now I prevented these a

[2019-09-03 13:21] #148 closed

[2019-09-03 15:47] Xazax-hun opened #150 "Use after free error detected by Clang trunk"
The newest version of clang emits the following warning:
[code]
The corresponding code:
https://github.com/OpenPrinting/cups-filters/blob/a71bbd14716ea8cfcb467e0919e12a99375064a6/filter/rastertopdf.cpp#L1301

The method `c_str` will return a pointer that points to the buffer of the std::string object which will be deleted once the std::string is destroyed. Since that object is a local variable, th

[2019-09-03 19:35] tillkamppeter commented on #150
Gcc does not complain at all, so clang seems to be more intelligent, but it is also not perfect, as both gcc and clang seem to do not issue a warning due to the fact that the getIPPColorProfileName() is nowhere called in rastertopdf. rastertopdf.cxx also compiles without warnings (with gcc at least) if one completely comments out getIPPColorProfileName(),Therefore we probably never got a crash.

[2019-09-03 19:44] tillkamppeter commented on #150
Fixed in commit ad64cf9115. Thank you for the bug report.

[2019-09-03 19:44] #150 closed

[2019-09-04 09:26] fjaell commented on #134
QPDF 9.0.0 is out now and it's not possible to build cups-filters with it:

filter/pdf.cxx: In function 'void pdf_prepend_stream(pdf_t*, unsigned int, const char*, size_t)':
filter/pdf.cxx:118:3: error: 'memcpy' was not declared in this scope
   memcpy(stream_data->getBuffer(), buf, len);
   ^~~~~~
filter/pdf.cxx:118:3: note: 'memcpy' is defined in header '<cstring>'; did you forget to '#include <

[2019-09-04 09:35] tillkamppeter commented on #134
@jberkenbilt, could you have a look what is happening here? Seems that there is some problem with cups-filters and the new QPDF 9.0.0.

[2019-09-04 11:36] jberkenbilt commented on #134
Looks like a couple of cups source files aren't including string.h (or
cstring if you prefer).  Check it out. If still having trouble I'll take a
look.

On Wed, Sep 4, 2019, 5:35 AM Till Kamppeter <notifications@github.com>
wrote:

[2019-09-04 15:07] jberkenbilt commented on #134
Literally all you need to do is to add `#include <cstring>` to pdf.cxx. More likely than not, you were inadvertently relying on some qpdf header file to include it for you. This kind of problem comes along for the ride when you use C++ since it lacks any kind of modern dependency system. The compiler error should have told you this, but apparently there's some issue with the compiler because the e

[2019-09-04 16:19] tillkamppeter commented on #134
@jberkenbilt, thank you very much. I have added the missing `#include <cstring>` line to the pdf.cxx file, commit 1878ecd2e.

[2019-09-04 17:32] lovesegfault opened #151 "QPDF 9 breaks cups-filters"
We ran across an issue on Gentoo where the recent bump to QPDF 9 broke cups-filters compilation. The error is related to a missing include to `memcpy` and was fixed with a simple patch, c.f. *https://bugs.gentoo.org/693498*.

Figured I'd propagate it upstream, cheers!

[2019-09-04 17:50] tillkamppeter commented on #151
Already fixed in commit 1c80dbe62e6 after a hint in issue #134, but thanks anyway.

[2019-09-04 17:50] #151 closed

[2019-09-05 17:44] debiantriage opened #152 "cups-browsed: Inappropriate PPD file generated"
I am using cups-browsed 1.25.4-2 on Debian. The generated PPD for an ENVY4500 has the line

The TXT record has

Consequently, printing to the device will fail.

This is Debian Bug #939476:

[https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=939476](url)

Regards,

Brian.

[2019-09-05 18:13] tillkamppeter commented on #152
Does your print queue point directly to a printer (device URI is `ipp://...` or `ipps://...` or to a remote CUPS queue for the printer (device URI is `implicitclass://...`)?

[2019-09-05 18:31] debiantriage commented on #152
`lpstat -t` gives me

Is that what you want?

--
Brian.

[2019-09-05 19:47] tillkamppeter commented on #152
Yes, this means that the queue with the PDF line added to the PPD file is not pointing to the printer directly, but to a CUPS server which hosts this printer. This means that your queue has to send PDF to the remote CUPS server as that one has the driver for this printer set up. That server converts the PDF into one of the printer's PDLs (PCL or Apple Raster, depends on the PPD which the queue on

[2019-09-06 13:15] debiantriage commented on #152
There is a single computer on this network with a CUPS server and sharing its queues. I put _BrowseLocalProtocols none_ in its _cupsd.conf_ and restarted cupsd.  _avahi-browse -art_ shows the ENVY4500 as the only printing device on the network. The entry disappeared when the device was switched off.

I have a Debian unstable installation on another partition. It has not been updated and has cups-b

[2019-09-06 13:36] tillkamppeter commented on #152
The print queue which cups-browsed 1.25.4 has generated is correct. It points directly to the printer (the URI you see in the overview in the debug log of cups-browsed), The URIs of the local queues are now always "implicitclass://...". This is to allow also to cluster native IPP printers and not only remote CUPS queues. Also the cupsFilter line for PDF in the PPD is correct as for clustering supp

[2019-09-06 14:18] debiantriage commented on #152
brian@test:~$ lpstat -t
scheduler is running
no system default destination
device for ENVY4500: implicitclass://ENVY4500/
ENVY4500 accepting requests since Fri 06 Sep 2019 14:50:26 BST
printer ENVY4500 is idle.  enabled since Fri 06 Sep 2019 14:50:26 BST
brian@test:~$
brian@test:~$ lp -d ENVY4500 hello
request id is ENVY4500-2 (1 file(s))
brian@test:~$
brian@test:~$ lpstat -t
scheduler is running

[2019-09-06 14:31] tillkamppeter commented on #152
@debiantriage, did you install cups-filters from regular Debian packages? Are all packages of cups-filters of the same version?
@deepak0405, there seems to be something wrong with what cups-browsed is passing to the implicitclass backend, could you have a look into the error_log.txt attached to the previpus comment of @debiantriage? Thanks.

[2019-09-06 15:03] deepak0405 commented on #152
@debiantriage Can you also send the `cups-browsed` error log when a job is sent to the printer.

[2019-09-06 16:11] debiantriage commented on #152
@tillkamppeter All the packages on the machine are from the Debian unstable archive. The cups-filters and cups-browsed packages are all version 1.25.4-2.

@deepak0405 cups-browsed error log attached. I tried to print again. The CUPS error_log now says the implicitclass backend stopped with status 1. Previously it said "crashed on status 11".

I am also having to rest the printer each time as it do

[2019-09-06 19:41] deepak0405 commented on #152
@tillkamppeter The value of `dest_host` was not set in implicitclass.c which was causing backend failure rather than sending an error. This is fixed in 1b1d03df21f3ac4db4a0b7b39dcfac0249f7018f. The log shows that the job is not sent the second time due to timeout, but the reason was job was not completed in the first time itself is not clear.

@debiantriage The cups-browsed_log-2 shows that the jo

[2019-09-07 12:04] debiantriage commented on #152
Here you are. The CUPS error_log once again shows the filters generating a PDF, which is not a PDL the printer processes.

Cheers,

Brian.

[error_log-3.txt](https://github.com/OpenPrinting/cups-filters/files/3586587/error_log-3.txt)
[cups-browsed_log-3.txt](https://github.com/OpenPrinting/cups-filters/files/3586588/cups-browsed_log-3.txt)

[2019-09-07 16:41] deepak0405 commented on #152
The `error_log` shows that the print job contains two files or may be the document is printed in two steps.
`Sending file 2 using chunking...`

@debiantriage What document you are printing ? If possible, Can you post the document, it will help me reproduce the error.

[2019-09-07 17:58] debiantriage commented on #152
"chunking" is a word I associate with processing a PDF. But I am really out of my league here.

The document was produced by the text editor, vim. It has the single word "hello" in it.

Cheers,

Brian.

[2019-09-08 16:26] debiantriage commented on #152
I have installed Ubuntu eoan (with cups-browsed 1.25.4-1) from its mini.iso; base system only. Then installed the cups package. The outcome is unchanged.

Cheers,

Brian.

[2019-09-08 18:10] deepak0405 commented on #152
@debiantriage @tillkamppeter   I tried reproducing the error following these steps :
1.  Made a `hello` file which contains only one world "hello".
2. Created a IPP Network printer using ippserver.
3. Sent the job to the printer using  `lp printer_name hello`

But the job was completed in my case, did I miss anything ?

@debiantriage  Please  send output of
                `ipptool -tv <URI> get-p

[2019-09-08 19:46] debiantriage commented on #152
Thanks for going to this trouble, deepak0405. The attributes test file I have on my system is the same as the one you pointed to.

Cheers,

Brian.

[envy4500-attributes.txt](https://github.com/OpenPrinting/cups-filters/files/3587975/envy4500-attributes.txt)

[2019-09-09 08:33] logTom commented on #124
I tried out the latest cups-filters 1.25.5 release. The output is different now, but still doesn't work:

[code]

[2019-09-09 17:00] deepak0405 commented on #152
Hi @debiantriage,
Sorry I wrote the wrong command, I need the attribute file in  `ippserver` attribute file format. Please send the output of `ipptool` command using `--ippserver filename` flag.

[2019-09-10 07:51] debiantriage commented on #152
@deepak0405 No problem. I used `ipptool --ippserver envy4500-
[envy4500-attributes.txt](https://github.com/OpenPrinting/cups-filters/files/3594400
/envy4500-attributes.txt)`

[envy4500-attributes.txt](https://github.com/OpenPrinting/cups-filters/files/3594419/envy4500-attributes.txt)

Cheers,

Brian.

[2019-09-12 05:36] firefly44 commented on #22
Same for a Fuji Xerox DocuPrint CM225 fw, (firmware: 01.09.00 (latest)) previously worked with:
_[requested-attributes:     "job-template", "printer-defaults",   "printer-description",  "media-col-database"]_
no longer works with:
_[requested-attributes:   "all",  "media-col-database"]_
error: ipptool -tv only returns media-col-database with an incomplete list of other attributes.
outcome: cannot

[2019-09-15 18:29] deepak0405 commented on #152
@tillkamppeter
The job is not getting completed because ipp backend thinks that it has to print two files but actually we are printing only one file.

The ipp backend uses `argc-6` to calculate the number of files which are to be printed. In this case, the argc is 8, but we are sending only 7 arguments from `implicitclass`.
[code]
The line `cups-browsed-dest-printer=\\\"7\\ NO_DEST_FOUND\\\"` is n

[2019-09-16 14:32] tillkamppeter commented on #152
I think you have some quoting problem here. The 5th argument is no properly quoted so that it is considered as 2 arguments. Make also sure that the 5th argument only contains only arguments which the IPP backend or the destination printer actually needs. For example you add the option "cups-browsed-dest-printer" to the cluster queue, so that the implicitclass backend knows about the destination pr

[2019-09-17 08:59] sobrus opened #156 "Brother DCP-357C broken with latest updates"
Hi,

My distro (Manjaro) had CUPS updated recently to version 2.3. Unfortunately this breaks my printer, Brother DCP-357C.
Any CUPS version higher than 2.2.11 refuses to work (both 2.2.12 and 2.3). The error is "Filter failed" and "Invalid PPD file" Error in line 219.

The printer was working fine on Linux since 2011, on various linux distributions.

Downgrading cups, cups-filters and libcups pack

[2019-09-17 09:03] tillkamppeter commented on #156
This is most probably due to the fact that your PPS file contains an option with a choice names "Custom", which is very common in PPD files and also does not break Adobe's PPD specs, but CUPS 2.2.12 and newer does not accept this any more. This is not a bug in cups-filters but in CUPS, please report the bug there.

[2019-09-17 09:03] #156 closed

[2019-09-21 11:44] deepak0405 commented on #152
**Root Cause of Error** :
The `scheduler/ipp.c` file sets the default values for the printer. It also sets `cups-browsed-dest-printer` in the default value. When a new job is created this value is fetched and attached to job arguments. Ideally, this should not be the part of job arguments, because `implicitclass` backend fetches this value from the cups-browsed.

@debiantriage I have fixed this is

[2019-09-22 12:00] debiantriage commented on #152
@deepak0405 I purged the Debian cups-browsed package, downloaded the zip file and ran ./autogen, ./configure and make. Then 'make install' , adjusted cups-browsed.conf and started cups-browsed. The outcome is unchanged.

The generated PPD and a log is attached.

Cheers,

Brian.

[ENVY4500.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/3639687/ENVY4500.ppd.txt)
[cups-browsed_log.txt](h

[2019-09-22 12:02] deepak0405 commented on #152
@debiantriage  Please also attach the cups error_log file.

[2019-09-22 12:15] deepak0405 commented on #152
The changes in `cupsFilter` line in ppd file is because of a new feature addition. Now whenever a job is sent to the printer :
1. The `cups` converts the print file to the pdf format. So we have `*cupsFilter2: "application/vnd.cups-pdf application/pdf 0 -"` line in the ppd file by default.

2. Next the job is sent to the `implicitclass` backend, which converts the pdf file to the format supported

[2019-09-22 14:24] debiantriage commented on #152
@deepak0405 Thank you for your patience.

A simple text file printed, so, as far as I am concerned, this report can be closed

Regards,

Brian.

[error_log.txt](https://github.com/OpenPrinting/cups-filters/files/3639837/error_log.txt)

[2019-09-22 14:33] debiantriage commented on #152
@deepak0405 Thank you (and Till) for explaining the workings of the implicitclass backend.

I have a lot the learn (and unlearn). One of the things in the PPD file that puzzled me was *PCFileName: "ippeve.ppd". I expected "drvless.ppd".

Regards,

Brian.

[2019-09-22 15:39] deepak0405 commented on #152
@debiantriage Glad to know that the fix worked for you.

@tillkamppeter Ideally the ppd file should contains the information about the filter chain which converts the input file to output supported by the printer. Since we are changing the ideal behaviour, we should document the change somewhere, where it is reachable by a lot of people. Where we can write the same ?

@tillkamppeter
Also, in `ppdg

[2019-09-23 11:26] tillkamppeter commented on #152
@deepak0405, could you post [your fix](https://github.com/deepak0405/cups-filters/commit/ac935005b) as Pull Request?
@deepak0405, any type of documentation should be added to the cups-filters package itself at first, in the currenmt situation to the README file, but on the long run we need to clean up the documentation of cups-filters. Once having done this we should also consider putting importan

[2019-09-23 15:46] tillkamppeter commented on #152
Fixed via pull request #159.

[2019-09-23 15:46] #152 closed

[2019-09-27 05:55] dreamtale90 opened #160 "Does the LP command support direct printing of doc-formatted documents?"
I'm a newbie. I saw from ”Text support“ in readme that LP supports doc/docx format. But when I used the LP command to print the doc document, I was prompted:
`lp: Unsupported document-format "application/msword".`
If it's docx format:
`lp: Unsupported document-format "application/vnd.openxmlformats-officedocument.wordprocessingml.document".`
Why is that?

[2019-09-27 09:02] tillkamppeter commented on #160
Direct doc/docx file printing support is only available for Braille embossers, not for standard printers.
Braille embossers are usually printing only text, so it makes sense for them to extract the pure text from formatted text/mixed formats lice doc/docx. Also this way it is easier for blind people to get a doc/docx file which they get by-mail readable.
On standard printers one wants to have doc/

[2019-09-27 09:02] #160 closed

[2019-09-27 09:30] dreamtale90 commented on #160
Thanks a lot.
I want to develop a program with c++ that can print documents in doc/docx format directly, or convert them into formats that are easy to print, such as ps/pdf format, and then print them.
Libreoffice is being studied, but it relies on so many things that it seems very difficult.

[2019-09-27 14:36] ajacoutot opened #161 "ln-srf missing from tgz"
Hi.

It seems 'ln-srf' is missing from the source tarball which prevents cups-filters to build on BSD (at least).
Thanks.

[2019-09-27 19:26] tillkamppeter commented on #161
Fixed in commit a717f0c9403. Thank you for the report.

[2019-09-27 19:26] #161 closed

[2019-10-01 10:51] paulmenzel opened #162 "Crash in implicitclass: Assertion `(old_top == initial_top (av) && old_size == 0) || ((unsigned long) (old_size) >= MINSIZE && prev_inuse (old_top) && ((unsigned long) old_end & (pagesize - 1)) == 0)\' failed."
With cups-filters 1.25.6 printing fails with the error below.

[code]

Report in Ubuntu: https://bugs.launchpad.net/ubuntu/+source/cups-filters/+bug/1845548

[2019-10-01 11:43] paulmenzel commented on #162
Downgrading *cups-browsed*, *cups-filters*, *libcupsfilters1*, and *cups-filters-core-drivers* to version 1.25.5 works around the issue.

Only downgrading *cups-browsed* (and *cups-filters*) resolves the crash, but printing still does not work.

    File \'\' not found
    Unable to add document to print job.

[2019-10-02 08:10] logTom commented on #124
Is there anything I can do to get "driverless printing" working again and thus get this issue resolved?

[2019-10-02 08:24] paulmenzel commented on #124
@logTom, as the output is different, please open a separate issue (and also test the release 1.25.6).

@zdohnal, can you still reproduce the issue?

[2019-10-02 10:07] zdohnal commented on #124
I'll build the newest version and let you know shortly.

[2019-10-02 10:23] zdohnal commented on #124
Unfortunately, the errors are still there and cups-browsed does not create any local queues.

The current debug log
[cups_browsed_log.txt](https://github.com/OpenPrinting/cups-filters/files/3680618/cups_browsed_log.txt)
but the errors are the same or similar:

Oct 02 06:10:44 host-10-0-137-198 cups-browsed[16205]: Wed Oct  2 06:10:44 2019 Creating/Updating CUPS queue BRQ-TPBC-1D124-North
Oct 02 06

[2019-10-02 12:09] deepak0405 commented on #124
Hey @paulmenzel
We have not shipped the solution for this issue yet. I am occupied a lot by my day job, and whatever time I am getting is going in solving the other bugs.

Hey @logTom,
Do you want to contribute to solving this issue? I know how we can fix it and will love to help you. I think the work will take something around 3-5 days.

[2019-10-02 12:41] logTom commented on #124
@deepak0405
Sure, you can contact me via email.

[2019-10-02 12:46] deepak0405 commented on #124
Hey @logTom
Thank You

[2019-10-02 17:38] deepak0405 commented on #162
Hey @paulmenzel
I tried reproducing the error on my system but was unable to do so. I ran the latest `1.25.6` cups-filters package and tested a job on ippserver, but didn't get this error.

I have found a few code lines which could have been the reason for the bug. I need your help to see whether these changes solve the bug. Can you please try running the cups-filters from the branch https://githu

[2019-10-02 19:39] tillkamppeter commented on #162
@paulmenzel, If you use Ubuntu, I have packaged @dheeraj135, branch and put into my PPA:
https://launchpad.net/~till-kamppeter/+archive/ubuntu/ppa/+packages
cups-filters_1.25.6+git20191002-0ubuntu1~ppa1

[2019-10-03 06:58] logTom commented on #124
@deepak0405 I'm glad if I can somehow help this awesome project.
My work mates using windows are always blown away by the fact that I'm able to print stuff without having to manually install any printer drivers.

[2019-10-03 17:47] opoplawski commented on #124
@logTom - I seem to be seeing similar errors (Unable to find interface name for interface -1: No such device or address) - are you planning on opening a separate issue as @paulmenzel suggested?

[2019-10-04 06:08] logTom opened #163 "cups-browsed 1.24 regression - driverless printing no longer works with legacy printers"
I'm separating this issue because it seems different now than #124 .

Debug output from cups-filters 1.25.5:
[code]

[2019-10-04 06:11] logTom commented on #124
@opoplawski, @paulmenzel: Here we go #163 - I will also test 1.25.6.

[2019-10-04 06:38] logTom commented on #163
Tested 1.25.6 - still the same error.
Here the full log:

[code]

[2019-10-04 08:50] tillkamppeter commented on #163
Fixed in commit 9415fde4e8. Thank you for the bug report.
This error was harmless, what was wrong here was that some of the Avahi messages are not related to a network interface and therefore have interface number -1. I have moved the interface name resolving now to places where the interface is actually needed, so the error appears only if it is really a problem from now on.

[2019-10-04 09:00] logTom commented on #163
Just tested it. Now I'm getting this instead of the interface -1:
`Avahi Browser: CACHE_EXHAUSTED`

[2019-10-04 09:03] tillkamppeter commented on #163
This is not an error and nothing to worry about. It is absolutely correct and telling that Avahi has completed reporting all events which happened before starting cups-browsed and so Avahi and cups-browsed are in sync now. You see this message also when using the `avahi-browse` command.

[2019-10-04 09:11] logTom commented on #163
Printing still doesn't work, I guess it's because of:
[code]
This as the same as above error.

[2019-10-05 07:19] tillkamppeter commented on #163
This looks like another bug @deepak0405 is working on. Could you test https://github.com/deepak0405/cups-filters/tree/solve-assertion-error
or, if you are using Ubuntu Eoan, my PPA:
https://launchpad.net/~till-kamppeter/+archive/ubuntu/ppa/+packages
cups-filters_1.25.6+git20191002-0ubuntu1~ppa1
@deepak0405, could you have a look here.

[2019-10-05 07:46] deepak0405 commented on #163
@logTom I will make a new commit today for the issue, @tillkamppeter The above branch doesn't contain the solution for this problem. Looking at the log I think, it is because of the IPP version, may be the remote cups queue supports 1.1 and we are doing request using IPP 2.0.

[2019-10-05 10:43] deepak0405 commented on #163
@logTom I want to try whether the print job completes, if we do a IPP1.1 request. Can you please send me the output when cups-browsed is run using [this](https://github.com/deepak0405/cups-filters/tree/ipp-request-with-different-version) branch.

[2019-10-07 09:22] logTom commented on #163
@deepak0405
Tried that, gave me a very verbose output. Printing still doesn't work.
[code]
Here is the full log https://pastebin.com/9DEVe5uN.

[2019-10-07 15:48] deepak0405 commented on #163
@tillkamppeter
If we are doing a IPP1.1 request in this case, then we are getting enough data to generate the ppd file and the job will also get completed. So, in this case we can write a fallback function, that if the IPP2.0 returns error status code then we will do a IPP1.1 request. Should we proceed this way ?

Right now the job is not getting completed, because the IPP request is returning an

[2019-10-07 16:09] paulmenzel commented on #162
I built the package under Debian Sid/unstable with the commit from https://github.com/deepak0405/cups-filters/tree/solve-assertion-error. Printing worked. The error message `File \'\' not found` is still there, but it might be Evince related, and I filed an [issue upstream](https://gitlab.gnome.org/GNOME/evince/issues/1277).

[2019-10-07 16:39] tillkamppeter commented on #162
This is exactly what I have released as 1.25.7 and uploaded for Ubuntu Eoan.
Thank you very much for the feedback.

[2019-10-07 16:39] #162 closed

[2019-10-07 16:47] tillkamppeter commented on #163
Yes, let us do the fallback to IPP 1.1 when an attempt with 2.0 fails. I think this is the best solution to get maximum functionality and compatibility with old servers.
I do not know why one gets empty printer names sometimes. If the name is empty, is all the other info needed to do a job available? Is the printer name actually needed for something? Does a printer which does not report a name acc

[2019-10-08 07:33] deepak0405 commented on #163
@logTom
I have implemented the fallback logic for the IPP1.1 request. I don't have a IPP1.1 printer, Can you please check whether [this](https://github.com/deepak0405/cups-filters/tree/do-fallback-for-IPP1.1) branch solves your issue ?

[2019-10-08 10:17] logTom commented on #163
@deepak0405
Tried it, still no printing.
The error seems gone.

Is it because of:
[code]

Here is the full log:
https://pastebin.com/kLTzvXYK

[2019-10-08 15:02] deepak0405 commented on #163
@logTom @tillkamppeter Right now, we don't need a longer log. I wrote the fallback logic, that if the IPP2.0 request doesn't work, we should do a IPP1.1 request, but the logic is not working, after IPP2.0, there was no call made with IPP1.1 request. If the fallback logic works, most probably in this case, the printing will start working.

[2019-10-08 15:07] tillkamppeter commented on #163
@deepak0405, could you try to fix this today or tomorrow morning? Then I could still get it into Ubuntu Eoan. Thanks.

[2019-10-08 21:25] kylemacfarlane opened #164 "Ghostscript 9.27+ removes .setfilladjust command used for "center of pixel" in gstoraster"
I'm not sure if you prefer bugs here or over on linuxfoundation...

A few years back https://github.com/OpenPrinting/cups-filters/commit/0090479c98a2200f326c056f641302d148bb93a4#diff-6e52c684ac817eafc9e3eb3a5cbe2d78 added a center of pixel command to improve the quality of barcodes from label printers. It depends on the undocumented `.setfilladjust` command in Ghostscript.

However it turns out th

[2019-10-08 21:40] tillkamppeter commented on #164
Fixed in commit e7103a7aaa. Thank you for the report.

[2019-10-08 21:40] #164 closed

[2019-10-08 21:46] kylemacfarlane commented on #164
Thanks for fixing it so quickly.

However it should have two zeroes `0 0 .setfilladjust2`. Here's how it was explained back in 2001 when it was actually in the documentation:

http://web.mit.edu/ghostscript/www/Language.htm

[2019-10-08 22:11] tillkamppeter commented on #164
Done in commit c81914040b.

[2019-10-09 05:45] deepak0405 commented on #124
@zdohnal
I have implemented the fallback logic for the IPP1.1 request.Can you please check whether [this](https://github.com/deepak0405/cups-filters/tree/do-fallback-for-IPP1.1) branch solves your issue ?

[2019-10-09 07:41] zdohnal commented on #124
Hi @deepak0405 ,
thank you for your hard work! I'll check it today.

[2019-10-09 13:43] logTom commented on #163
Can we get this issue reopened or should I create a new one?

[2019-10-09 13:52] zdohnal commented on #124
@deepak0405
Unfortunately, your current code segfaults due infinite recursion. If I forbid it after the first IPP1.1 attempt (add if/else whether to recurse deeper or return NULL), it does not crash, but it does not add print queues neither.
Logs:
[log.txt](https://github.com/OpenPrinting/cups-filters/files/3707646/log.txt)

I tried to put back some of older cups-browsed code, where cups-browsed g

[2019-10-09 15:06] tillkamppeter commented on #124
I have fixed the infinite recursion now. Please test the current GIT repo of cups-filters.

[2019-10-09 16:28] zdohnal commented on #124
Unfortunately, no change neither. Log
[browsed_log.txt](https://github.com/OpenPrinting/cups-filters/files/3708447/browsed_log.txt)

[2019-10-09 16:42] tillkamppeter commented on #124
Does this mean that you still get the infinite recursion?

[2019-10-09 16:44] zdohnal commented on #124
I'm sorry, I'll be precise - no infinite recursion this time, but print queues are not created too.

[2019-10-09 16:53] zdohnal commented on #124
And I discovered two memory leaks - I created pull request #165 for fixing it.

[2019-10-09 17:05] tillkamppeter commented on #124
Already merged, thank you very much.

[2019-10-10 08:38] logTom commented on #163
Hi,
with the help of @deepak0405 I found the reason why the fallback wasn't called for our printer.
Here is a pull request to fix it. #166

Printing still doesn't work, I guess because of "No destination found for job 4 to KONICA_MINOLTA_bizhub_C253_5E_92_C6".

Here is the full log:
`Thu Oct 10 10:24:02 2019 Reading command line option -v, turning on debug mode (Log on standard error).
Thu Oct 10

[2019-10-10 11:13] logTom commented on #163
@tillkamppeter Now it says the job is printed and the print queue is empty, but it isn't actually printed.
Here a log where I tried printing 2 times.

[code]

[2019-10-10 11:31] tillkamppeter commented on #124
@zdohnal, I have done some more fixes, can you test with the current state of cups-filters? Thanks.

[2019-10-10 12:23] deepak0405 commented on #163
@logTom  Can you also please send the cups error_log ?

[2019-10-10 12:50] logTom commented on #163
@deepak0405 Sure.
[code]

[2019-10-10 13:04] logTom commented on #163
Does this look right?

[code]

[2019-10-10 13:10] logTom commented on #163
Sorry I forgot some of the beginning - it was in error_log.O file.
I also cut some lines in the end here because the same lines keep repeating many many times.

[code]

[2019-10-10 13:33] tillkamppeter commented on #163
@deepak0405, in the implicitclass backend, when you created the arg_nt[] argument list for the filters and the backend, did you set arg_nt[0] to the URI of the destination printer?

[2019-10-10 13:40] zdohnal commented on #124
@tillkamppeter Np, I'll check it right away, thank you!

[2019-10-10 13:57] zdohnal commented on #124
I'm sorry, it does not work still :( here is the log
[cups-browsed_log.txt](https://github.com/OpenPrinting/cups-filters/files/3712938/cups-browsed_log.txt)

[2019-10-10 16:44] tillkamppeter commented on #163
@deepak0405, OK, it was only a wild guess.

[2019-10-10 16:49] deepak0405 commented on #163
I am checking the code of `backend/ipp.c`, the code returns CUPS_BACKEND_OK in these case
1. The job gets completed
2. argc == 1
3. num_files = 0
4. job is cancelled.
5. File to be printed is empty.

[2019-10-11 07:32] logTom commented on #163
@deepak0405 test.txt is a simple text file with one line of the string "test".

[2019-10-11 07:45] tillkamppeter commented on #163
@logTom, when I see your CUPS error_log it shows as `argv[3]` that you are printing `test.txt` but it also tells `File of type application/pdf queued by "loguservm"`, how did you exactly print your file? Did you print via the `lp` command or out of an editor?
[code]

[2019-10-11 07:49] logTom commented on #163
I opened the "test.txt" file with the "gedit" text editor. Then pressed STRG+P and clicked "Print".

[2019-10-11 07:52] tillkamppeter commented on #163
OK. This should send a valid PDF file with the word "test" in it. To be absolutely sure, could you print any other arbitrary PDF file?

[2019-10-11 07:59] logTom commented on #163
No, I just tried it with http://www.orimi.com/pdf-test.pdf directly out of firefox.
Still nothing.

Here is the log of cups-browsed

[code]

[2019-10-11 08:16] logTom commented on #163
Maybe it's somewhat related, when I print with cups-filters 1.23.0 I have some delay between sending the print job and actually printing. And I always get some errors, but the printer prints it anyway.
Here is a screenshot of the notifications with 1.23.0.
![notification](https://user-images.githubusercontent.com/17121556/66635785-34bdda00-ec10-11e9-87c4-f15d5d9ef98d.jpg)

[2019-10-11 13:17] tillkamppeter commented on #163
@deepak0405, it seems that cups-browsed is able to check the availability of remote printers (both CUPS queue and native printer) for receiving a job and so selects the printer to send the job to, but what is not working seems to be the implicitclass backend. Could you check whether it correctly passes the input data through the filters and sends the result off via the "ipp" CUPS backend? It seems

[2019-10-12 20:12] deepak0405 commented on #124
@zdohnal @tillkamppeter
I was able to reproduce the error because of some different reason. I am trying to reproduce the exact error, Can you please help?

I have the latest cups-filters on my machine, and on a VM, I have installed cups-1.4.2. I created a cups queue on VM using
[code]
If I don't use BrowsePoll line, the queue is not made, and after adding the BrowsePoll line I am getting error.
[c

[2019-10-12 20:26] tillkamppeter commented on #124
@deepak0405, you have really the very latest cups-filters (1.25.11 or top of GIT repo)?

[2019-10-12 20:28] deepak0405 commented on #124
@tillkamppeter, Yes till I am using the latest 1.25.11 version

[2019-10-12 20:30] tillkamppeter commented on #124
@deepak0405, does CUPS 1.4.2 support IPP 2.x? If not, does the get-printer-attributes IPP-1.1 fallback work correctly?
I CUPS 1.4.2 DNS-SD-broadcasting printers? Or does it only advertise via legacy CUPS broadcasting?

[2019-10-12 20:32] tillkamppeter commented on #124
If a printer gets discovered by legacy CUPS broadcasting (or by BrowsePoll) does cups-browsed have enough info to IPP-poll this printer and does it the IPP poll correctly then?

[2019-10-12 20:36] deepak0405 commented on #163
@logTom  Can you please send the following details for a job.
1.  Clear the cups error_log file `> error_log`
2.  Send a job request and please attach the following files
     a. cups error_log
     b. cups-browsed debug_log
     c. The implicitclass backend copies the input to a temp file, you can get the name of file from the debug line in cups log. Please attach this file.
[code]
    d. This in

[2019-10-12 20:38] deepak0405 commented on #124
@tillkamppeter By IPP-poll here you mean getting the IPP attributes of the printer?
The cups-browsed is not able to connect to the printer and thus not able to get any attributes.

In case of cups-filters 1.17,9, the cups-browsed tries to download the ppd file from the server, but in that case also, I was not able to connect to the printer.

[2019-10-12 20:44] tillkamppeter commented on #124
@deepak0405, yes, I mean the get-printer-attributes IPP request.
Is it not able to create an HTTP connection to the CUPS daemon on the VM? Or does it create this connection but somehow the IPP request fails?
Van you access the VM's CUPS daemon via the command line on your host machine, using the `-h` option:
[code]

[2019-10-12 20:48] tillkamppeter commented on #124
Is the CUPS on the VM configured to listen to remote hosts?
On the VM run
[code]
On the client run
[code]
Is port 631 of the VM shown as open?

[2019-10-12 20:50] tillkamppeter commented on #52
No  reaction of original poster any more, closing ...

[2019-10-12 20:50] #52 closed

[2019-10-12 20:54] deepak0405 commented on #124
It is not able to make a http connection. The print queues are broadcasted.
Output of commands:
lpstat -h ubuntu:631 -v
[code]

lpoptions -h ubuntu:631 -p test2 -l
[code]

When I run cups 2.10 on the server, the queue is generated correctly and the IPP request also works fine. The output of `cupsctl` shows that the printer is shared.

nmap ubuntu
[code]

Yes the port is open.

[2019-10-12 21:15] tillkamppeter commented on #124
It seems that CUPS 1.4.2 on your VM is generally not accessible for a remote machine. Have you checked cupsd.conf on your VM whether all settings are correct?

[2019-10-12 21:17] tillkamppeter commented on #124
@deepak0405, also note that I am assuming that your VM's host name is "ubuntu", following your examples. If it is not the case or needs something extra, like "ubuntu.local", please substitute the "ubuntu" in my examples for whatever is correct as a host name or IP for your VM.

[2019-10-13 08:40] deepak0405 commented on #124
On my vm I am running cups in a different directory, i.e. I used `./configure --prefix=/<some-path>` to build the cups. Can that be the reason ?

[2019-10-13 08:44] deepak0405 commented on #124
With ip-address, one of the command works
[code]
but this one doesn't
[code]

[2019-10-13 09:20] tillkamppeter commented on #124
Installing into an alternative directory on the VM is no problem as long as you do not have the original CUPS running in parallel.
The `lpstat` command with IP shows that CUPS is principally accessible on the server, but perhaps you did not use the correct host name when accessing with a host-name-based URI.
That the `lpoptions` command with IP does not work is strange. Perhaps you should have a l

[2019-10-13 09:43] tillkamppeter commented on #124
The error message of `lpoptions` is caused by this code piece in the list_options() function:
[code]
Unfortunately, both steps have the same error message if they fail, so only modifying this piece of code (on the client) can tell you where it exactly fails. But for me it looks like that it is the second one, because the `lpstat` works and `lpstat` probably has the same first but a different secon

[2019-10-13 11:30] deepak0405 commented on #124
I am able to do `get-printer-attributes` request using the IP address of the vm, so I just changed the name `ubuntu` with the ip in my cups-browsed.c and finally I was able to reproduce the error.

The `backend/ipp.c` handles the IPP request nicely, it also does fallback request
[code]
In case of @logTom, we are getting the error IPP_STATUS_ERROR_VERSION_NOT_SUPPORTED and thus we are doing a fallb

[2019-10-13 13:49] tillkamppeter commented on #124
@deepak0405, OK, let us go this way.

[2019-10-14 16:36] zdohnal commented on #124
@deepak0405 The print queues are now visible. Thank you, Deepak!

Although it takes about 20-30s to 1st print queue to show up now.

Regarding printing, the job ends with:

implicitclass://BRQ-TPBC-1D124-North/: Unable to create job - No such file or directory. Retrying.

[2019-10-15 15:15] logTom commented on #163
@deepak0405 Yes, here it is:
[logs.zip](https://github.com/OpenPrinting/cups-filters/files/3730058/logs.zip)

[2019-10-18 07:26] logTom commented on #163
Please let me know if I can somehow else contribute to solve this issue.

[2019-10-19 13:57] deepak0405 commented on #124
Sorry for the late response, I was not well the last week.

I tried reproducing the error, but the printing is working for my setup. Can you please attach the error logs ?

[2019-10-19 14:14] deepak0405 commented on #163
Sorry for the late response, I was not well the last week.

I tried reproducing the error, but the printing was working fine for me. Also the error logs didn't help, I will need your help to debug the issue.

The implicitclass backend runs the `backend/ipp.c` file. In this case, the backend exits without even printing and also it is not writing any logs to the error_log file.
[code]

We need to se

[2019-10-21 13:22] zdohnal commented on #124
@deepak0405  No problem, Deepak. I hope you feel better.

Here are logs for the job
[cupsd_job_log.txt](https://github.com/OpenPrinting/cups-filters/files/3750959/cupsd_job_log.txt) . Actually previous error was caused by old implicitclass backend. Now logs are saying the printing is okay, but only paper which got out of printer is on the photo

![IMG_20191021_115004](https://user-images.githubuse

[2019-10-21 13:29] paulmenzel commented on #124
This issues has become too long. @zdohnal, can you please create a new one, and reference it here?

[2019-10-21 13:38] zdohnal opened #167 "cups-filters-1.24+: printing does not work for print queues created by cups-browsed (CUPS server 1.4.2)"
I'm able to see print queues after Deepak's patch https://github.com/OpenPrinting/cups-filters/issues/124#issuecomment-541410460 , but printing still does not work.
More info https://github.com/OpenPrinting/cups-filters/issues/124#issuecomment-544511859

[2019-10-24 15:42] logTom commented on #163
@deepak0405 Well, the cups backend/ipp.c file you mention has about 3600 lines of code. Do you have an idea where I should look for problems? Also I'm on solus and the distro package applies several patches and configure params to it - https://dev.getsol.us/source/cups/browse/master/package.yml. I will have a look which ones I need to apply.
Here are the patches/configure params for cups-filters b

[2019-10-25 09:51] tillkamppeter commented on #163
logTom, a good way to go is to search for the error message which the the backend issues in its source code. So you can find which part of the source raised the error. If there is no error message, look for the exit code and find all places in the source code where the backend exits with this code (there can be more than one).

[2019-10-25 11:20] deepak0405 commented on #163
@logTom
The main problem is that there is no log from the file `backend/ipp.c`. So I don't know exactly where to find the error. I think that the error is happening somewhere in top, because no error log is printed.

@zdohnal and your error seems same, because in both the cases there is no log.

[2019-10-25 20:38] tillkamppeter commented on #163
Probably one would need to add more debug output lines to backend/ipp.c of CUPS to chase this down.

[2019-10-30 13:01] zdohnal commented on #163
I did a small reconnaissance of the issue - I added debug printf into implicitclass backend to find out the parameters which are used for calling ipp backend. They are following:

[code]

so I ran ipp backend by hand with those parameters and following env values:

[code]

and found out the following:

1) CUPS is trying to connect to "BRQ-TPBC-1D124-North" thinking as it is a hostname - but it is

[2019-10-30 17:39] efuss opened #169 "PS Level 1 forced for grayscale PDF rendering with Poppler/Cairo"
Commit 13ff13d, supposed to fix Issue #96, forces the PostScript Level to 1 (`pdf_argv[1] = (char *)"-level1";`) when rendering PDFs with Poppler or Cairo for grayscale output.
I couldn't find any rationale for this in the discussion or commit message.
For us, when printing scanned images, this causes a more than fifteen-fold increase in data size and a threefold increase in printer's processing t

[2019-10-30 19:25] tillkamppeter commented on #169
The reason why PostScript level 1 is used here is that the Poppler utilities `pdftops` and `pdftocairo` have no explicit functionality to convert the incoming PDF into monochrome/grayscale PostScript. So the contributor of said commit used as a workaround PostScript level 1. See `man pdftops` and there `-level1` and `-optimizecolorspace`. As for now I recommend you to use Ghostscript instead of Po

[2019-10-31 13:34] vb1494 opened #170 "Unsupported PDF data for Direct Print :1000 when printing a PDF"
While printing a PDF (CUPS printing in Linux server using command lpr -P <filename>) i get a paper printed with the following data : "Unsupported PDF data for Direct Print :1000". When tried in Windows, it got printed without any issues. Could anyone please help in finding a solution for this?

[2019-10-31 15:31] tillkamppeter commented on #170
Can you attach the PDF file here? Could you also attach the PPD file of the print queue (in `/etc/cups/ppd/`, you need to rename it to have the extenstion `.txt` added so that GitHub accepts it)?
Could you follow the instructions in the section "CUPS error_log" [here](https://wiki.ubuntu.com/DebuggingPrintingProblems) and attach the resulting error_log file (also add `.txt` to the file name, log m

[2019-11-01 14:01] efuss commented on #169
Ah, I see. But this appears to be a rather large sledgehammer for the special case of (as far as I understand) wanting to print a colour file as grayscale on a colour printer. Especially if it encumbers the case of printing a grayscale file on a b/w printer.

I'll look into this in more detail after my vacation.

I forgot the details, but we evaluated all the different PDF-to-PS renderers; each on

[2019-11-01 20:55] debiantriage opened #171 "Attribute differences"
This is report is  an observation about the difference between the CUPS and cups-filters PPD generators rather than one about a bug in cupsfilters.

I have been working with a user at
https://ubuntuforums.org/showthread.php?t=2429221.

 The most relevant recent post is at
https://ubuntuforums.org/showthread.php?t=2429221&page=2&p=13902908#post13902908

The wf1 queue was set up with the driverless

[2019-11-04 11:18] magicalmarisa commented on #169
This commit also breaks `pdftocairo` since in this case `-ps,` which is a mandatory option, gets replaced by `-level1.` Furthermore `pdftocairo` doesn't even understand the options `-level1` or `-optimizecolorspace`.

[2019-11-04 22:27] tillkamppeter commented on #169
I improved the MuPDF path ("`pdftops-renderer=mupdf`") recently. You should try it (again).
Generally, Ghostscript and MuPDF both support color space conversions, like color input to grayscale output without rasterization (if input and output formats are both vector formats, like PDF or PostScript). Poppler does not have this capability. In addition, the QPDF used by `pdftopdf` does not do color s

[2019-11-05 12:42] tillkamppeter commented on #169
Removed the PostScript Level 1 hack for grayscale output with Poppler, as it generates huge output files with `pdftops` and does not work at all with `pdftocairo` (commit 0818ee322).
Now if printing a grayscale job on a PostScript printer no conversion will happen if Poppler is used as PDF renderer, leading to color output on color PostScript printers, at least as no printer-internal grayscale con

[2019-11-05 12:42] #169 closed

[2019-11-07 16:41] tillkamppeter commented on #170
Could you also tell us which printer (manufacturer and model) you are using?

[2019-11-07 20:14] debiantriage commented on #171
https://ubuntuforums.org/showthread.php?t=2429221&page=3&#23

Regards,

Brian.

[2019-11-07 21:24] tillkamppeter commented on #171
This printer (EPSON WF-2630) seems to have the same problem as the Epson ET-7700 of Pull request #168, claiming to accept PWG Raster input but actually not printing it.
For some reason CUPS creates a PPD where the printer gets Apple Raster whereas the cups-filters PPD lets PWG Raster go to the printer.

[2019-11-10 14:26] deepak0405 commented on #124
@tillkamppeter This PR #173 contains the complete implementation of the fallback logic. I hope after this PR, we can close this issue, since queues will be generated for all the cases. But the issue for printing will still remain open, and I am currently working on it.

@zdohnal @logTom  Can you please verify this PR ?

[2019-11-10 14:41] deepak0405 commented on #163
@zdohnal
Thanks a lot for simplifying the issue. Now we are clear that we need to fix something from the implicitclass side and ipp backend works fine. I would like to add few points:

1. The  argv[0] sent to the ipp backend is `implicitclass://BRQ-TPBC-1D124-North`, but IPP backend doesn't uses argv[0], so that is not a problem. But we should send the printer uri in arguments, so I have fixed it

[2019-11-11 14:25] logTom commented on #124
@deepak0405 Yeah, I tested it. But, in my case the queues seem to be fixed already before the pr. Printing still doesn't work. I guess you only need the logs if it still doesn't work for zdohnal.

[2019-11-11 14:41] tillkamppeter commented on #124
@logTom, as printing does not work for you and this PR is about making printing work, we need also your logs. Can you please attach them? Both the CUPS error_log and the cups-browsed_log?

[2019-11-11 15:22] #167 closed

[2019-11-11 15:29] zdohnal commented on #124
@deepak0405 Ok, I'll test it on clean cups-filters without your dummy branch.

I hope I'll manage it today, but tomorrow is more possible.

[2019-11-11 16:17] zdohnal commented on #124
@deepak0405 Ok, I can see the first print queue now after 1m 20s - cups-browsed 1.22.5 was able to found and create the first queue in 3s.

The printing still does not work, as you expected.

[2019-11-11 16:33] deepak0405 commented on #124
@zdohnal  1m is too much time, let me see why its taking this much. For your case we will be doing the request thrice
1. First time a IPP 2.0 request.
2. Next time a IPP1.1 request.
3. If both doesn't give good result we do a request without media-col-database.

I was expecting some delay, but not this much. Can you please attach the cups-error-log.

[2019-11-11 16:37] tillkamppeter commented on #124
@zdohnal, please also attach the cups-browsed_log.

[2019-11-11 16:43] zdohnal commented on #124
@tillkamppeter  @deepak0405 Here you are
[cups-browsed_log.txt](https://github.com/OpenPrinting/cups-filters/files/3832308/cups-browsed_log.txt)

[2019-11-11 18:02] tillkamppeter commented on #171
The fact that some printers report to support PWG Raster but actually printing in this format does not work caused also the CUPS issue apple/cups#5238. Here a Canon Pixma Pro 10 showed this problem. So an actual fix for at least getting your printer working again is to modify the PPD generator to prioritize Apple Raster against PWG Raster if both are supported, as the fix of the CUPS issue does wi

[2019-11-11 19:17] tillkamppeter commented on #171
I have fixed the Apple Raster/PWG Raster problrm now, following CUPS in preferring Apple Raster if both are supported, commit 80f87b0a.

[2019-11-11 21:31] tillkamppeter commented on #171
Discrepancies in the option choices:
- CUPS only gives standard page sizes, cups-filters has borderless sizes added.
- CUPS has "draft" quality added, cups-filters has only "normal"
- cups-filters gives "4" and not "normal" as print quality choice name.

[2019-11-12 07:49] zdohnal commented on #124
Note: I stopped the service after the first queue came up, so the log should be more relevant than log of whole process.

[2019-11-12 15:07] tillkamppeter commented on #171
The discrepancy in the page sizes is already solved. Current cups-filters is correct, listing also borderless sizes, CUPS has it correct at least from 2.3.x on, as I have tested with the 2.2.12 of Ubuntu 19.10 and also tested with an LD_PRELOAD of the libcups of 2.3.x from the CUPS GitHub. The latter also shows the borderless sizes, the former not.
You can easily see in the output of `ipptool` tha

[2019-11-12 15:32] tillkamppeter commented on #171
The fact that CUPS adds a "draft" print quality but cups-filters not is that CUPS not only adds "draft" if it is listed in the "print-quality-supported" attribute but also if the lowest resolution is even. in the latter case the "draft" mode is simply using half the lowest resolution. I am in doubt whether this always actually works and therefore I do not overtake it into cups-filters.

[2019-11-12 16:02] tillkamppeter commented on #171
I have fixed the choice names of the "cupsPrintQuality" option now to be "Draft",  "Normal",  and "High", as CUPS also uses (commit 47b9adab6).
So now all differences should be fixed or explained and you should be able to print. So I am closing this issue.

[2019-11-12 16:02] #171 closed

[2019-11-13 08:47] tangyanli opened #174 "cupsGetDests's behaviour is difference between CUPS2.2.10 & CUPS2.2.12"
Assume the default printer name is set as below:
/etc/cups/printers.conf: PrinterA
~/.cups/lpoptions: PrinterB

When use the cupsGetDests to get the default printer name:
Ubuntu19.04 (CUPS2.2.10): The PrinterB's dest->is_default = 1
Ubuntu19.10 (CUPS2.2.12): The PrinterA's dest->is_default = 1

I tried to analyze the code, is the cups_enum_dests()'s logic changed?
(1) data.def_name stores the syst

[2019-11-13 08:58] tillkamppeter commented on #174
This has nothing to do with cups-filters. It is a problem of CUPS itself. Please post this issue [on the GitHub of CUPS](https://github.com/apple/cups/issues).

[2019-11-13 08:58] #174 closed

[2019-11-13 09:22] tangyanli commented on #174
This issue is shift to https://github.com/apple/cups/issues/5683

[2019-11-13 16:30] joakim-tjernlund opened #175 "cups-browsed SEGV"
in utils/cups-browsed.c there is:
[code]
strcpy to a NULL dst will SEGV

[2019-11-13 16:53] joakim-tjernlund commented on #175
FYI fixes it:
[code]

[2019-11-13 17:27] joakim-tjernlund commented on #175
The above naive fix might instead be:
[code]
This might leak memory as there is no obvious free

[2019-11-13 17:50] tillkamppeter commented on #175
Fixed in commit 9bf693763. Thank you for your report.

[2019-11-13 17:50] #175 closed

[2019-11-15 09:59] NicoHood opened #176 "HP Designjet T1100 Impossible to print landscape - always autorotate"
Hi,
I've got a HP Designjet T1100 with a ~1m wide roll of paper. No matter what I select in the setting, it always prints the page as portait, no landscape is possible.

### Example:
[code]

I also tried to disable "Auto Rotate and Center" In the "Page Handling" Tab of the print setting.

The only partly related issue I could find was this one:
https://github.com/OpenPrinting/cups-filters/issues/5

[2019-11-15 10:18] tillkamppeter commented on #176
Could you please attach your PPD file (from /etc/cups/ppd/, rename the file adding a `.txt` file name extension for attaching here) and tell which settings, especially page size and also image printing settings (`fit-to-page`, `fitplot`, ...) you have used?
Could you also attach your input file (PDF, JPG, or whatever it was)? Did you print from the command line or out of an application? Which appl

[2019-11-15 15:56] andyrtr opened #177 "direct IPP printing broken"
I have a Samsung M2825DW IPP capable printer in my network connected with LAN cable. Running latest cups 2.3.0 and cups-filters 1.25.12 on a cups server and all clients I can print to a driverless queue @server from any client well. But printing from clients to the direct IPP queue created by cups-browsed fails with "HTTP_STATE_WAITING Closing for error 32 (Broken pipe)". cupsd.conf and cups-brows

[2019-11-16 12:23] tillkamppeter commented on #177
Please edit `/etc/cups/cups-browsed.conf` on your client to have a line
[code]
in it and restart cups-browsed. On your server switch CUPS to debug logging:
[code]
On the client print a job to the cups-browsed-generated queue and attach the `/var/log/cups/error_log` of the server and the `/var/log/cups/cups-browsed.log` of the client to this issue. Note that you have to rename the files adding a `.

[2019-11-16 13:27] andyrtr commented on #177
[cups-browsed.txt](https://github.com/OpenPrinting/cups-filters/files/3854208/cups-browsed.txt)
[cups_error.txt](https://github.com/OpenPrinting/cups-filters/files/3854209/cups_error.txt)

Print job starts at ~ 16/Nov/2019:14:19:31 +0100

[2019-11-16 18:29] tillkamppeter commented on #177
Are you sure that your print job did not get printed? All lines in error_log which concern your print job (containing `[Job 109]`) make the impression that the job got correctly printed. No error in any of these lines, all filters exiting successfully, job getting completed and dequeued.
There is a line
[code]
but it seems independent of the job.
The data is sent to the printer as 600-dpi Apple Ra

[2019-11-16 19:07] andyrtr commented on #177
The printer doens't print out anything. 2nd ipptool command worked here. 1st didn't report anything back. Maybe I accidentally changed some option in the printers webinterface.

[attrs.txt](https://github.com/OpenPrinting/cups-filters/files/3854589/attrs.txt)

[2019-11-16 22:41] tillkamppeter commented on #177
Thank you, seems that the printer gets colored Apple Raster while it is a monochrome printer. "urf-supported" lists the variants of Apple Raster the printer understands and the only color space listed there is "W8", meaning "White, 8-bit".
@deepak0405, cups-browsed needs to tell more than only format and resolution to the implicitclass backend, color space/color depth is also needed, to be absolut

[2019-11-19 22:32] NicoHood commented on #176
I used evince to print the pdf files. I am not allowed to share the files I wanted to print, but any normal a4 pdf will work as well (The paper is a 1m wide roll, but you can simply test with normal a4). I was not able to rotate it to landscape. I tried portrait and landscape setting.
![Screenshot from 2019-11-19 23-30-36](https://user-images.githubusercontent.com/6888294/69192349-aac53300-0b24-11

[2019-11-19 22:42] tillkamppeter commented on #177
Could you also attach the PPD file of your print queue `/etc/cups/ppd/Samsung_M2825DW_IPP.ppd`? Please always add `.txt` to the file name before attaching.

[2019-11-20 05:59] andyrtr commented on #177
[Samsung_M2825DW_IPP.txt](https://github.com/OpenPrinting/cups-filters/files/3867530/Samsung_M2825DW_IPP.txt)

[2019-11-20 12:16] tillkamppeter commented on #176
Have you already tried to print with the paper size selection "A4.Transverse"/"A4 Long Edge"? Does this work for you?
Would be nicer if it works automatically, but this would be at least a workaround.

[2019-11-23 17:43] johcarsmi opened #178 "Problem with driver for Epson SX215 (SX210)"
When printing labels of Avery type J8163 (7x2) the print moves up the label about 1mm on each row of labels down the page. Can this be corrected please?
Please advise if this is not the correct place to raise this issue.

Thanks John

[2019-11-25 08:20] logTom commented on #163
Hi,
I managed to get printing working with the current version.
Basically I only changed the connection from
implicitclass://KONICA_MINOLTA_bizhub_C253_5E_92_C6_/
to
ipp://KMBT5E92C6.local:631/ipp

This is how I did it step by step:
Open http://localhost:631/printers/
Click on my printer.
"Administration"->"Modify Printer"
Other Network Printers -> Internet Printing Protocol (ipp)
Enter this locat

[2019-11-25 15:29] debiantriage commented on #176
It seems you have, say, an A4 portrait PDF with text parallel to the short edge. You want to rotate the PDF 90 degrees and still have the text parallel to the short edge.

The Portrait and Landscape options in applications do not always do what you think they do and, furthermore, different applications attach different meanings to the two words. For example, evince produces a PDF with text paralle

[2019-11-25 15:53] tillkamppeter commented on #178
This is probably a problem of the printer driver. Which printer driver are you using?

[2019-11-25 20:10] johcarsmi commented on #178
Not a problem with the driver. The default configuration scaled page to fit rather than print designed size. The label document was shrunk when printed. Changed the setting to print actual size - problem cured.

[2019-11-25 20:10] #178 closed

[2019-11-27 20:53] tillkamppeter commented on #177
I still do not have any clue why your print queue generated by cups-browsed produces data which the printer does not print, but the temporary queue of CUPS, with the same PPD file, produces output which gets printed.
So I need from you a CUPS error_log (in debug mode) which is from a job printed to the temporary CUPS queue (which the printer actually printed). Could you attach that?

[2019-11-28 06:45] andyrtr commented on #177
This is the printjob using the fixed server queue. Log of the client and server.
[client_error_log.txt](https://github.com/OpenPrinting/cups-filters/files/3900205/client_error_log.txt)
[server_error_log.txt](https://github.com/OpenPrinting/cups-filters/files/3900206/server_error_log.txt)

Maybe I should also mention that when disabling/stopping cups-browsed on the client printing using cups own te

[2019-11-28 11:07] tillkamppeter commented on #177
"fixed server queue"? What did you actually fix on it?

[2019-11-28 11:11] andyrtr commented on #177
Queue on the server: add new printer - choose IPP printer - check "shared" so it can be found from all clients "@server".

[2019-11-28 11:25] tillkamppeter commented on #177
Thanks, found it out, too. So for you it printes when jobs go to the shared CUPS queue on the server, but directly printing to the printer from the clients, both with cups-browsed-generated queue or with temporary CUPS queue does not work.
I see the following difference now:
In the situation when printing worked (via CUPS server) the job got send with "InputSlot=Tray-1" This choice for an input tr

[2019-11-28 11:28] tillkamppeter commented on #177
Could you also supply the file `/etc/cups/ppd/Samsung_IPP.ppd' from your server?

[2019-11-28 11:32] andyrtr commented on #177
Samsung_IPP.ppd from server:
[Samsung_IPP.txt](https://github.com/OpenPrinting/cups-filters/files/3901392/Samsung_IPP.txt)

[2019-11-28 11:33] andyrtr commented on #177
Tray set to "Auto" on the client:
[server_error_log.txt](https://github.com/OpenPrinting/cups-filters/files/3901397/server_error_log.txt)

[2019-11-28 12:11] tillkamppeter commented on #177
What is different is that the PPD file on your server got generated by cups-filters, due to the fact that you have set up the printer with a classic printer setup tool from good old driver times and I have created a legacy support feature (the `driverless` utility) in cups-filters which makes driverless printers appear in these tools.
When printing directly from the client, not using the server th

[2019-11-29 19:41] aiyagari commented on #22
Canon MG7720 has the same issue. Once Google EOLs Cloud Print and makes ChromeBooks do local printing this issue is going to come to a head (late 2020) so can we reopen this?

[2019-11-29 20:07] aiyagari commented on #22
Canon MG7720 has the same issue. Once Google EOLs Cloud Print and makes ChromeBooks do local printing this issue is going to come to a head (late 2020) so can we reopen this?

[2019-11-29 21:14] tillkamppeter commented on #22
Could anyone here please test the new cups-filters 1.25.13? Please run cups-browsed and see whether your printer gets set up correctly. cups-browsed tries the get-printer-attributes request first with "all" and "media-col-database", then also with only "all" and also with IPP 1.1.
Please also try
[code]
with `<URI>` replaced by the URI of the `ippfind` command.

[2019-11-29 21:21] eduncan911 commented on #22
FWIW, ever since I upgraded OS-in-place to Pop_OS 19.04 (Ubuntu 19.04 under the hood), I've been able to print to my MX922.

I previously posted above that I could not under  18.10.

[2019-11-29 22:59] tillkamppeter commented on #22
@eduncan911, you are for sure using CUPS, all Linux distributions, especially Ubuntu and derivatives, use CUPS.
You can find the versions of CUPS and cups-filters you are using by
[code]
Could you run the following command:
[code]
This will give you a list of URIs, find the one of your printer. Now run the commands
[code]
replacing `<URI>` by your printer's URI from the output of the first command

[2019-11-30 18:01] srd424 commented on #22
Much confusion!

I have setup a containerized test environment with Ubuntu 19.10, and built the latest cups-filters, I think correctly. I am testing against a Canon MX475 and an MG3150.

system-config-printer and the driverless command still fail ("internal error" and "Printer does not support required IPP attributes or document formats.")

cups-browsed, which I haven't previously used, creates qu

[2019-11-30 19:34] tillkamppeter commented on #22
@srd424, could you also run the ipptool commands of my previous comment? Please run them in the Ubuntu 19.10 test environment.

[2019-11-30 19:51] eduncan911 commented on #22
@tillkamppeter I'm away for the holidays but will run them sometime next week when I am back.

@srd424 that docker env sounds like a great PR to open here, would you think @tillkamppeter ?  A nice way to setup a C.I. test environment, as well as having a Dev environment for those that want to help fix.

With docker, you can have precise control over every driver, package, and even multiple OS vers

[2019-11-30 21:18] tillkamppeter commented on #22
@eduncan911, @srd424, what "docker" environment are you meaning here? What is that exactly?

[2019-11-30 21:32] srd424 commented on #22
Sure:
[ipp-attributes.txt](https://github.com/OpenPrinting/cups-filters/files/3907567/ipp-attributes.txt)
[ipp-attributes-2.0.txt](https://github.com/OpenPrinting/cups-filters/files/3907568/ipp-attributes-2.0.txt)

(Re the container - I actually use systemd-nspawn, as it's always available, lightweight, and works well with btrfs. I just pulled an image from https://cloud-images.ubuntu.com/ , 'boot

[2019-11-30 22:42] tillkamppeter commented on #22
@srd424, thank you very much, seems that the fallback mechanism needs more precise checking of the content of the IPP response, as the IPP communication does not error, instead, the response is simply incomplete. Currently the the fallback is only triggered by an IPP error or by the response only containing the 2 language-related attributes.

[2019-12-04 15:19] zdohnal commented on #163
**Update:**
I was able to track down the issue further down and it is probably an poppler issue which blocks the printing to CentOS/RHEL 6 print server in our case. It works fine when the print server is newer f.e. Fedora rawhide.
So the only cups-filters issue which remains after 1.25.13 version is that creation of local queues discovered by CUPS browsing are very slow.

@logTom The correct devic

[2019-12-04 15:52] logTom commented on #163
Ahhh, I see. Thanks for that detailed explanation.

Yeah, as I mentioned earlier it takes awhile before printing starts for me.
https://github.com/OpenPrinting/cups-filters/issues/163#issuecomment-540964672

So if I understand you correct: the automatically setup connection - in my case "implicitclass://KONICA_MINOLTA_bizhub_C253_5E_92_C6_/" is ok, because that will be replaced with the actual ipp

[2019-12-04 23:16] tillkamppeter commented on #163
cups-browsed as of now does not parallelize any tasks, but all tasks (answers to events, like D-Bus messages, signals, timers, ...) are sequentialized, meaning that if they take too long, they would queue up, and so in very busy environments, where creating and maintaining local queues is too time-intensive, the answer to a job state change event can come too late for the timeout of the implicitcl

[2019-12-05 08:42] zdohnal commented on #163
I would not say it replaces implicitclass uri, but it makes implicitclass backend to run ipp backend with different uri obtained from queue attribute.

Ahh, I'm sorry I forgot you have no print server, but you have only a printer in your network... then it seems really like other bug to me - IIUC local print queue uri should really be 'ipp://' instead of implicitclass.

[2019-12-05 10:41] zdohnal commented on #163
IMO printing load does not influence it in our case - users prints rather rarely - but there are about 100+ print queues (IIRC 125 print queues to be precise), which makes cups-browsed to spend a lot of time in found_cups_queue() and handle_cups_queues(), causing CUPS_BROWSED_DEST_PRINTER attribute is not set in time.

IMHO it is not the case which will improve the behavior - on_job_state() and ha

[2019-12-05 16:08] tillkamppeter commented on #130
So one of these CUPS changes must have caused the high load:
- [2.1.3-4ubuntu0.7](https://launchpad.net/ubuntu/+source/cups/2.1.3-4ubuntu0.7)
- [2.1.3-4ubuntu0.8](https://launchpad.net/ubuntu/+source/cups/2.1.3-4ubuntu0.8)
- [2.1.3-4ubuntu0.9](https://launchpad.net/ubuntu/+source/cups/2.1.3-4ubuntu0.9)

[2019-12-05 16:32] tillkamppeter commented on #130
From these three CUPS versions the problem is most probably caused by 2.1.3-4ubuntu0.9 which is the most complex of the three patches. It does changes on the handling of the `cupsd.conf` setting `PreserveJobHistory`. So changing this setting to the least resource-consuming option could perhaps improve the situation.
If possible, also try 2.1.3-4ubuntu0.8 to see if I am right in my estimations.

[2019-12-05 18:37] tillkamppeter commented on #163
@zdohnal, if you suspect Poppler to be the culprit for any of the problem, please try to find out which Poppler use is offending. Is it on the server or on the client. Then try to avoid this use of Poppler making Ghostscript (or MuPDF) being used instead.
See the README file of cups-filters, especially the section "POSTSCRIPT PRINTING RENDERER AND RESOLUTION SELECTION" for selecting the PDF render

[2019-12-06 16:05] tillkamppeter commented on #163
I have now uploaded a patch which could solve the problem of the creation of local queues for thousands of remote printers preventing cups-browsed from other tasks, like assigning destinations to print jobs.
So please update your cups-browsed to the latest state of the GIT repo (commit b8c13925606) and try again. Do jobs come through now?
Please try to optimize by adding lines like
[code]
to `cups

[2019-12-09 13:53] zdohnal commented on #163
It is done on the server side, where RHEL 6 is (old CUPS and no cups-filters) - is there a way how to influence server-side filtering on the client? I thought all settings in cups-filters regarding filtering influences only client side filtering.

The segfault happens in pdftops filter from poppler and gstoraster is not in RHEL 6 :( , so I should work it out in some way with our IT again...

[2019-12-09 14:34] tillkamppeter commented on #163
There is no way to influence this from the client. the options I have talked about act on cups-filters, and with no cups-filters on the server, the server simply ignores them. The server uses the original, PostScript-centric filter line-up from the introduction of CUPS back in 2000.
The only path to get PDF into PostScript (and this is needed as the modern clients send jobs in PDF and the ancient

[2019-12-09 16:28] zdohnal commented on #163
@tillkamppeter ad the commit - I backported the patch to 1.22.5 version and the printing worked when I tried. But the bug was not easily reproducible, so I'll put it into Fedora and see if it helps after some time.

[2019-12-09 16:33] tillkamppeter commented on #163
@zdohnal, which patch of the 1.22.5 version?

[2019-12-09 19:59] tillkamppeter commented on #22
@srd424, I have now improved the fallback mechanism of the get-printer-attributes function in cups-browsed (commit 68f680dfa32). Could you update youe cups-browsed and try again?

[2019-12-09 20:08] tillkamppeter commented on #22
@eduncan911. @P3p1t0, @wifiprintguy, please also check with the current cups-browsed, with my fix of the previous comment.

[2019-12-10 01:44] tillkamppeter commented on #163
Concerning the problem of jobs not getting assigned a destination printer when there are thousands of remote printers getting a local queue from cups-browsed I have done an additional fix, as `PauseBetweenCUPSQueueUpdates` did not work correctly (commit 27ed368f979e).
Please update cups-filters and try again.

[2019-12-10 10:44] zdohnal commented on #163
I backported (created a patch based on the commit, which is applicable to version 1.22.5) this patch:

to cups-filters-1.22.5, which is still in Fedora because of this issue and issue #124 .

[2019-12-10 10:45] zdohnal commented on #163
Ok, I'll backport it too, thank you for letting me know.

[2019-12-10 12:46] tillkamppeter commented on #163
Best is to take the current GIT snapshot of cups-filters, build it and install cups-browsed, implicitclass, and libcupsfilters of it.

[2019-12-11 13:53] hyegeek opened #181 "Printers added via cups legacy browing no longer working"
Sometime after version 1.21.6 of cups-filters, printers added via cups legacy browsing stopped working. I'm currently running version 1.25.13 with the same results. As far as I can tell, the added printer knows where the job should be sent, but the server never receives the job. Traffic between the client and the server (watched via wireshark) includes looking up details on the printer, but the jo

[2019-12-11 14:30] zdohnal commented on #181
Hi,
 first - you can logs as txt file on github, so no need of pasting long logs into comment ;) .

IMO it is the same issue as #163 as I have (@logTom has slightly different, because he prints without print server).

First you can enable cups-browsed debug log in /etc/cups/cups-browsed.conf and restart service. If you look into logs, you can find 'real' device uri (f.e. ipp://server:631/printers/

[2019-12-11 14:40] hyegeek commented on #181
Sorry about pasting the log. I tried attaching the text file for about 15 minutes and kept getting an unspecified error.

I will turn on debugging in cups-browsed and try what you suggest. The file I'm printing is a simple hello world postscript file and I as I said, if I add the printer manually, it prints fine. I'll see if doing as you suggest shows any useful output and report back.

[2019-12-11 14:42] hyegeek commented on #181
To answer your other question, the server is running gentoo and cups 2.2.12. Also, when printing via the auto added printer, the server never logs anything. It does not think a job was sent.

[2019-12-11 15:00] hyegeek commented on #181
Sifting through the browsed log file, I see the device uri that I expected, the same one I used when I manually added the printer. There is a lot of other stuff, some of it a bit concerning such as saying it is removing the printer queue for that printer (though the print queue appears to still be there). Do you want me to attempt to attach that log file as well?

When I run the backend directly u

[2019-12-11 15:12] hyegeek commented on #181
One correction. The browse log I was looking at was an old one and included the shutdown. Thus the removal of the print queue. Sorry for the confusion.

[2019-12-11 15:35] hyegeek commented on #181
Here's another tidbit. Running the ps command to try to figure out what was running when I print shows that, for some reason, the auto added queue is filtering the job instead of sending the raw job to the remote printer. It runs /usr/libexec/cups/filter/gstoraster to do the filtering.

[2019-12-11 18:19] tillkamppeter commented on #181
The filtering by the implicitclass backend is part of the printer cluster support. This way one can cluster printers understanding completely different page description languages (PDLs). When sending a job, the normal filtering by CUOS only goes up to the pdftopdf filter, and so always PDF is sent to the implicitclass backend. cups-browsed then not only tells the URI of the destination printer to

[2019-12-11 18:25] hyegeek commented on #181
Looking for the ipp backend is why I did the ps. No it never did show up. One detail to point out, your directions wanted me to run /usr/lib/cups/backend/ipp, on my machine, the backend is actually in /usr/libexec/cups/backend/ipp and that is what I ran manually.

[2019-12-11 20:14] tillkamppeter commented on #181
I have found a bug in implicitclass, where the output of the filters is passed over to the IPP CUPS backend for sending off to the server. I have fixed this now in commit db3e46dd22. Please test.

[2019-12-11 20:14] tillkamppeter commented on #163
I have found a bug in implicitclass, where the output of the filters is passed over to the IPP CUPS backend for sending off to the server. I have fixed this now in commit db3e46d. Please test.

[2019-12-11 20:22] tillkamppeter commented on #124
I have fixed several bugs in cups-filters now. Could you try the newest GIT snapshot? Note that there is no workaround for a Poppler segfault on the server (as you mention in issue #163).

[2019-12-11 21:08] hyegeek commented on #181
I patched my 1.25.13 install with the implicit.c from db3e46d and it did not change the behavior. The output still does not make it the server and the client is still convinced that everything went as it should.

[2019-12-11 21:37] tillkamppeter commented on #181
Did you install the resulting binary (`.libs/implicitclass`) to the correct place (`/usr/libexec/cups/backend/implicitclass`)?
Could you provide us a new error_log of a failing job?

[2019-12-11 21:41] hyegeek commented on #181
Yep

-rwxr-xr-x 1 root root 23K Dec 11 13:04 /usr/libexec/cups/backend/implicitclass

I patched this by creating a unified diff against the original in my build source and adding the patch to the user supplied patch directory for that packages. When I ran the install, I verified that it applied my patch and then the build file did the normal compile and install.

I use this technique quite often,

[2019-12-11 21:47] hyegeek commented on #181
Let's see if I can attach the log with a different browser...
[cups.log](https://github.com/OpenPrinting/cups-filters/files/3952741/cups.log)

[2019-12-11 21:53] hyegeek commented on #181
For completeness, here's some output from the emerge and I will attach the patch I applied
[implicit.patch.txt](https://github.com/OpenPrinting/cups-filters/files/3952759/implicit.patch.txt)

 * Applying implicit.patch ...

[2019-12-11 22:23] tillkamppeter commented on #181
Your patch contains also a second commit, but that one is a pure white-space clean-up. The relevant part is:
[code]

[2019-12-11 22:36] hyegeek commented on #181
Based on the output I saw in the log file, I issued the following command

(exec -a ipp://134.49.1.62:631/printers/colorcopy /usr/libexec/cups/backend/ipp 14 hakimian t.ps 1 "job-originating-user-name=hakimian finishings=3 job-cancel-after=10800 job-priority=50 job-sheets=none,none number-up=1 job-uuid=urn:uuid:0de00373-30a5-3de0-7c65-e360c42a7a93 job-originating-host-name=localhost date-time-at-c

[2019-12-11 22:56] tillkamppeter commented on #181
Are you sure that you actually installed the patched implicitclass backend? The problem is/was in the implicitclass backend. If you run the IPP backend alone you will always get the job printed.
I have tested and before installing my fix, my error_log looked like yours, the "ipp" backend gets started and immediately stops without errors. After I have installed my fixed implicitclass backend, I got

[2019-12-11 22:59] hyegeek commented on #181
Given the output I posted above and the data/time on the the implicit class file, I'm pretty sure. However, I will try to compile manually and just replace the specific file.

My work day is over, so I will try to do this from home, otherwise, I'll pick it up again tomorrow.

[2019-12-11 23:04] tillkamppeter commented on #181
You are right, there is a second bug, which does not affect me but only you. The IPP backend is called with the line
[code]
I will fix that.

[2019-12-11 23:23] tillkamppeter commented on #181
Removed the hard-coded path in commit 547aa22a1. Please test.

[2019-12-12 00:17] hyegeek commented on #181
While that looked really promising, I still get the same result. I even modified the implicitclass.c file to add the word testing to the output stating it started the IPP Backend just to be sure my version was running. It was.

I'm attaching the implicitclass.c that I ran and the relevent cups log

[implicitclass.c.txt](https://github.com/OpenPrinting/cups-filters/files/3953207/implicitclass.c.txt

[2019-12-12 00:40] hyegeek commented on #181
In case there were other hidden hard coded paths, I added a link from /usr/libexec/cups to /usr/lib/cups.  No change.

Just for completeness, attached is the paths of everything installed on my system from the cups-filters package.

[cups-paths.txt](https://github.com/OpenPrinting/cups-filters/files/3953266/cups-paths.txt)

[2019-12-12 00:48] tillkamppeter commented on #181
Further fix in commit 893c5f81c, please test.

[2019-12-12 00:56] hyegeek commented on #181
Still the same. Here's the cups log.

[cups.log](https://github.com/OpenPrinting/cups-filters/files/3953300/cups.log)

[2019-12-12 01:15] tillkamppeter commented on #181
Please test commit d14f353ec4ccd.

[2019-12-12 01:30] hyegeek commented on #181
That was a bit different. The client no longer things the job has printed, it seems to be stuck in the queue. Here's the cups log.

[cups.log](https://github.com/OpenPrinting/cups-filters/files/3953392/cups.log)

[2019-12-12 01:38] tillkamppeter commented on #181
The log is incomplete, unfortunately. Can you do `cancel -a`, then re-run the job to obtain a complete log?

[2019-12-12 01:43] hyegeek commented on #181
After cancel everything, I also re-enabled the printer. Here's the new log.

[cups.log](https://github.com/OpenPrinting/cups-filters/files/3953418/cups.log)

[2019-12-12 01:44] tillkamppeter commented on #181
Could you test with 332ec80dafb and attach the log? Thanks.

[2019-12-12 01:45] hyegeek commented on #181
OK. Got it to print. There was a lot going on. Besides the issues you found and fixed, it looks like the gentoo install installs the ipp backend with permissions root and 700, not 755. Starting over and re-enabling the printer, it printed.

I will look at the latest commit you just did as well.

[2019-12-12 01:51] tillkamppeter commented on #181
OK, thank you very much. With this you have helped me to improve the error handling in the implicitclass backend.
As it is working now I am closing the issue (note that comments and re-opening are still possible).

[2019-12-12 01:51] #181 closed

[2019-12-12 01:52] hyegeek commented on #181
Sounds good. I will submit your patch along with a fix request for the permissions to the gentoo people.

Thanks for your help!

[2019-12-12 01:54] tillkamppeter commented on #163
To solve issue #181 I have done several fixes and improvements on the implicitclass backend. Please re-test to see whether this also solves this bug.

[2019-12-12 01:56] tillkamppeter commented on #181
Please remove your link from `/usr/libexec/cups` to `/usr/lib/cups` and check whether you can still print, to assure that there are really no more hard-coded paths.

[2019-12-12 01:58] tillkamppeter commented on #124
To solve issue #181 I have done several fixes and improvements on the implicitclass backend. Please re-test to see whether this also solves this bug.

[2019-12-12 02:32] hyegeek commented on #181
The link from /usr/libexec/cups was removed shortly after seeing it did not help. Things are working fine.

[2019-12-12 08:50] logTom commented on #163
@tillkamppeter Hi, I tried it with the current master. It still doesn't work. Here is the output of cups-filters:

[code]

[2019-12-12 11:46] zdohnal commented on #163
@tillkamppeter Shouldn't @logTom have ipp:// in device uri instead of implicitclass://? IIUC He has the printer in his local network, not remote cups queue.

[2019-12-12 14:20] tillkamppeter commented on #163
@logTom, @zdohnal, I have now spotted what got wrong here. The get_printer_attributes() function is always checking whether the answer from the printer fullfills the requirements for a request with attributes "all" and optionally "media-col-database" (for generating a PPD file) but when printing a job, cups-browsed does a get-printer-attributes request to find out whether the destination printer i

[2019-12-12 18:31] jroldroyd opened #182 "cups-browsed remote queue no longer working"
Following system upgrades on both server and client systems, a "it just worked" setup no longer works!

Setup is a Canon MX922 printer connected via USB to a server now running FreeBSD-12.1 with cups-2.2.12 and gutenprint-5.3.3.  The printer works fine when printing from the server.  Previously, the server was FreeBSD-12.0 with cups-2.2.10 and gutenprint-5.2.10 which also worked fine.

Client syst

[2019-12-12 18:37] jroldroyd commented on #182
In addition, the log from cups-browsed is [here](http://opal.com/jr/cups-browsed/20191212133437-debug-browsed.log).

[2019-12-12 23:08] jroldroyd commented on #182
OK, I have solved this.  In backend/implicitclass.c, there is a hard-coded path to the IPP progrram which is not valid on FreeBSD.  However, the code that performs the execv() has two additional errors: it does not NULL-terminate the argv_nt[] array and it also does not have an error exit() call after the execv() for the precise situation that the execv() fails.

A patch is [here](http://opal.com/

[2019-12-13 00:40] tillkamppeter commented on #182
Thank you for the investigations and the patch, but with my work on fixing issue #163 I already have discovered this problem and fixed it with commit 547aa22a14, commit 893c5f81cc, and commit d14f353ec4. So I am closing this issue here.

[2019-12-13 00:40] #182 closed

[2019-12-13 00:56] tillkamppeter commented on #163
@logTom, @zdohnal, I have now restructured the get_printer_attributes() function of cups-browsed and moved it into libcupsfilters, to share it with the `driverless` utility (commit 20c4773cd).
This should fix the problem which I have mentioned in my previous comment and it also allows the `driverless` to generate a PPD the Konica printer of @logTom.
Please test.

[2019-12-13 01:18] tillkamppeter commented on #124
@logTom, @zdohnal, I have now restructured the get_printer_attributes() function of cups-browsed and moved it into libcupsfilters, to share it with the driverless utility (commit 20c4773).
This could perhaps also fix this issue, please test (if the cause of this issue is not a segfaulting Poppler on the server).

[2019-12-13 01:24] tillkamppeter commented on #163
@logTom, please check also in the CUPS web interface or in a printer setup tool whether your Konica printer gets discovered and listed with a "driveless" model/driver option. Please try creating a queue selecting this option and try out whether you can print through it.

[2019-12-13 01:36] tillkamppeter commented on #22
@srd424, @eduncan911. @P3p1t0, @wifiprintguy, I have done more improvements to both cups-browsed and the driverless utility. fallbacks work more reliable now. Please test both with print queues auto-generated by cups-browsed (to make sure that all fixes get actually used, set `UseCUPSGeneratedPPDs No` in cups-browsed.conf) and with manually created print queues using the driverless utility (in the

[2019-12-13 09:22] logTom commented on #163
@tillkamppeter
Hi, just tried out the latest master, still no printing. Here is the log, I will check the other things.

[code]

[2019-12-13 09:28] logTom commented on #163
Here are screenshots from the webinterface. I can see driverless listed here. I don't exactly know where I should create a queue. Is it under /jobs?

![Screenshot from 2019-12-13 10:26:25](https://user-images.githubusercontent.com/17121556/70789345-1fda0000-1d93-11ea-8812-361e2a642b70.png)
![Screenshot from 2019-12-13 10:25:56](https://user-images.githubusercontent.com/17121556/70789346-1fda0000-1

[2019-12-13 09:49] srd424 commented on #22
Thanks, will do - may take a while to find time though.

[2019-12-13 12:21] tillkamppeter commented on #163
Your cups-browsed is not of the current GIT snapshot. If it was, the log would contain messages like:
[code]
Please make sure to update your repo or clone the current GIT, build it, and install it, or at least copy the executables cups-browsed, driverless, and the library libcupsfilters.so.1.0.0 into the right places of your system, and then restart cups-browsed.

[2019-12-13 12:28] logTom commented on #163
I'm sorry, you are right. I forgot executing make install.
Still no printing.
Here is the new log (at 13:26 I retried printing):

[code]

[2019-12-13 12:33] tillkamppeter commented on #163
According to the screenshots you are in the part for browsing existing queus, and you see the queue created by cups-browsed.
To create a new queue manaully, click "Administration" at the top, then on the screen which appears click either "Add Printer" or "Find New Printer". Select the entry of your Konica printer the one which has "(driverless)". On the next screen simply click "Continue". After t

[2019-12-13 12:38] tillkamppeter commented on #163
Now the printer is assigned to the job at least. Next step is job execution by CUPS.
So please set CUPS logging to debug mode
[code]
clear the queues
[code]
print a job and wait for it to fail (according to the cups-browsed and CUPS logs).
Then post/attach your CUPS `/var/log/cups/error_log` here.

[2019-12-13 12:52] tillkamppeter commented on #163
Could you also attach the PPD file of your cups-browsed-generated print queue? It should be in `/etc/cups/ppd/`, according to your logs having the exact name
[code]
To attach it here, rename it to have a `.txt` extension.

[2019-12-13 14:01] jroldroyd commented on #182
The commits applied for this do not include any fix for the argv_nt[] array size (should be 8, not 7) and setting of argv_nt[7] = NULL.

This still needs to be added.  As it is, execv() is being called with an argv_nt arg that is not null terminated, which is an error.

See my existing patch [here](http://opal.com/jr/cups-browsed/implicitclass.c.diff) for the needed changes.

[2019-12-13 19:20] tillkamppeter commented on #182
Fixed in commit 6184b9856f. Thank you very much.

[2019-12-13 19:21] tillkamppeter commented on #181
There is one more small fix, commit 6184b98. Please apply this also as otherwise there can be no output sometimes, or even a segfault.

[2019-12-13 19:23] tillkamppeter commented on #163
Pleae also update to commit 6184b98. It is a small fix on implicitclass. Without it implicitclass at least sometimes fails.

[2019-12-13 20:31] hyegeek commented on #182
Thanks. Tested and submitted to the gentoo bug site.

[2019-12-16 12:57] zdohnal commented on #124
@tillkamppeter I'm able to print with cups-filters-1.26.0 after fixing poppler. When I set:

[code]

the first queue of 124 queues appeared after 55s - here is the cups-browsed_log
[cups-browsed_log.txt](https://github.com/OpenPrinting/cups-filters/files/3967825/cups-browsed_log.txt) .

It is better than previous interval though, but I'm not sure if it is expected.

[2019-12-16 21:50] tillkamppeter commented on #124
This means that this issue is fixed. The slowness of queue creation needs to get investigated, a near-future feature request.

[2019-12-16 21:50] #124 closed

[2019-12-17 00:15] tillkamppeter commented on #124
@zdohnal, what makes it take 55 seconds before the first queue is created is the fact that all your 124 printers are BrowsePolled from one server, so they are discovered in one single event response (timeout event to trigger a BrowsePoll on a given server) and in this single event response all entries for the local queues are generated in cups-browsed's internal data structure. For queues to be cr

[2019-12-17 15:16] zdohnal commented on #124
@tillkamppeter Ok, I'll open the new issue for it to track it.

Thank you for explanation and fixing the issue!

[2019-12-17 17:08] Esokrates commented on #22
@tillkamppeter I set up Ubuntu 19.10, compiled master as of today and tested: Adding the printer now works, however, it shows as Generic-Text-only-printer and printing does not work at all.

Find the ipp-attributes here: https://pastebin.com/fvbj1qQZ

[2019-12-18 02:09] tillkamppeter commented on #22
Please do not use thrird-party commecial (ad-financed) services to provide data. On GitHub you can attach or paste in for free, without ad, as much as you want, and it stays there eternally, so that we can always come back to your issue if we have a similar problem.
So I am pasting your printer's IPP attribute output here:
[code]

[2019-12-18 02:39] tillkamppeter commented on #22
For me the IPP atrributes look enough to make up a PPD file. Could you run the command
[code]
This produces one or more printer URIs. Find the one for the printer which cayses this issue for you. Now run
[code]
replacing `URI` by the URI of your printer which you got in the first step. You get a PPD file in `ppd.txt`. Please attach this PPD file to this issue.

[2019-12-18 02:42] tillkamppeter commented on #22
Try also the following command:
[code]
Take `URI` and `ppd.txt` form the commands of the previous comment.
Can you print through this queue?

[2019-12-18 07:43] zdohnal commented on #163
@logTom  you can attach the logs as .txt too, it just need to rename the file, clicking on 'Attach files by dragging...' etc. and then find the file on your system.

[2019-12-18 07:43] Esokrates commented on #22
@tillkamppeter I'll try around weekend as the printer is at my friends place. Thanks for the quick reply!

[2019-12-19 16:22] logTom commented on #163
@tillkamppeter I pulled the latest master, but still no printing. I attached the cups error and ppd file as requested.

[error_log.txt](https://github.com/OpenPrinting/cups-filters/files/3984510/error_log.txt)

[KONICA_MINOLTA_bizhub_C253_5E_92_C6_.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/3984509/KONICA_MINOLTA_bizhub_C253_5E_92_C6_.ppd.txt)

[2019-12-19 16:37] tillkamppeter commented on #163
Thank you.
Your error_log contains:
[code]
Could you run the command
[code]
and post the output here?

[2019-12-19 16:44] logTom commented on #163
@tillkamppeter
Yes.
[code]

[2019-12-19 16:51] tillkamppeter commented on #163
These permissions are wrong. On my Ubuntu 19.10 I have
[code]
So please run
[code]
Then try to print again.

[2019-12-19 16:57] logTom commented on #163
That fixed it! Printing now works. Thank you very much!

[2019-12-19 17:06] tillkamppeter commented on #163
Thank you very much @logTom, then your problem is solved now.
@zdohnal, as you have confirmed that you are able to print in issue #124 I assume that this issue is solved for you now, too. So I am closing it.

[2019-12-19 17:06] #163 closed

[2019-12-20 08:48] firefly44 commented on #22
Built cups-filters from source using current master branch on Ubuntu 19.10, tried, the following commands.

driverless
driverless ipp://FXAD186C.local:631/ipp/print > ppd-generated-using-1.26.txt
lpadmin -p test -E -v ipp://FXAD186C.local:631/ipp/print -P ppd-generated-using-1.26.txt

All working as expected with a Fuji Xerox DocuPrint CM225 fw. Printed A4 test page as expected.
Many thanks! Appre

[2019-12-22 09:53] NicoHood commented on #176
There is no such option "A4.Transverse"/"A4 Long Edge" in my print setting.

[2019-12-22 10:27] Esokrates commented on #22
@tillkamppeter Calling `driverless` does not work correctly for me:
[code]

[2019-12-22 11:52] tillkamppeter commented on #22
@Esokrates, the error shows that you have a library mismatch, most probably the `driverless` of cups-filters 1.26.0 is used and the libcupsfilters of an older version of cups-filters. Make sure that you have nowhere old library versions installed, for example from Ubuntu packages. A package built from source often gets installed in `/usr/local/...` but there is then the distribution-provided libra

[2019-12-22 17:05] Esokrates commented on #22
@tillkamppeter Thanks for the fast reply. I overwrote the files provided by the packages as removing the lib packages was not possible without removing everything cups related:
[code]
Adding the printer then worked successfully as well as printing a test page. However the page format is wrong, see the test page (which is an A4 paper):
![IMG_20191222_175546](https://user-images.githubusercontent.co

[2019-12-22 20:39] tillkamppeter commented on #22
@Esokrates, the generates PPD has 4x6  paper selected by default. You need to set the default paper size to A4, then the printer should print correctly (full size) on A4 paper.

[2019-12-22 21:31] Esokrates commented on #22
@tillkamppeter I noticed that and set the default paper size to A4 in gnome-settings:
![Screenshot from 2019-12-22 22-11-44](https://user-images.githubusercontent.com/17780185/71327545-26dade00-250a-11ea-8687-b38f9eb8011b.png)
but it still prints the small testpage, so there seems to be a bug.
However when printing other documents, the scaling is right :-). The margins are too big (not dramaticall

[2019-12-22 22:28] tillkamppeter commented on #22
@Esokrates, I have done a small change now (commit 4deb48ed1) which should solve your problem. Please try. It should solve the margins, not the default paper size. For the defult paper size you should check in the printer's web admin interface.

[2019-12-23 00:01] tillkamppeter commented on #170
No answer for several months. Closing ...

[2019-12-23 00:01] #170 closed

[2019-12-23 10:15] Esokrates commented on #22
@tillkamppeter Tested it, works perfectly now, margins are congruent with the printout from a windows pc. Kudos for that! Thanks very much!

Regarding the default paper size: Neither the web interface nor the printer directly show any configuration option for paper size so I couldn't alter anything. Shouldn't the test page simply respect the settings which are configured in control center? Would b

[2019-12-23 12:54] tillkamppeter commented on #22
Thanks for confirming that my change solved your problem.
What you can do for the default paper size is to override it on your local machine, by setting A4 as default in a printer setup tool (GNOME Control Center, system-config-printer, CUPS web interface, or command `lpadmin -p <YOUR PRINTER> -o PageSize=A4`).
I am closing this issue here as I have confirmation now that the recent fixes and impro

[2019-12-23 12:54] #22 closed

[2019-12-23 20:17] Esokrates commented on #22
@tillkamppeter Thanks very much for your great work and support. I see this issue as closed too. Just to avoid confusion let me state what the problem regarding the size is in my eyes, as your last comment gives me the feeling that there is a bit of a misunderstanding.

This is exactly what I did but the test page is still small, so it seems the test page is not respecting those settings! This is

[2019-12-23 20:55] tillkamppeter commented on #22
If it is only the test page and you are able to print otherwise, I think it is all OK for your printing. It is only somewhat strange for uses setting up such a printer for the first time. I can have a look when you attach the PPD file to this issue as it is now.
Did you create a permanent print queue for this printer or do you let cups-browsed auto-create a queue for it? In this case your will fin

[2019-12-24 09:07] Esokrates commented on #22
I simply added the printer in gnome-control-center by just clicking "Add", selecting the printer and everything else worked automatically thanks to your work.

I did

[code]

No, still the tiny test page unfortunately.

[2019-12-27 09:11] logTom commented on #163
I looked further into this. Ubuntu applies a distro specific patch for 755. I created a pull request for cups to fix this upstream.
Please vote/thumb up for it here:
https://github.com/apple/cups/pull/5710

[2020-01-02 08:44] logTom opened #183 "Cups ipp backend permissions problem for legacy driverless printing support"
Cups-filters 1.26.0+ assumes 755 for the driverless printing fallback logic.
Ubuntu 19.10 already applies a distro specific patch to cups for this.

The issue was brought up here
https://github.com/OpenPrinting/cups-filters/issues/163.

I tried to get this into cups upstream here
https://github.com/apple/cups/pull/5710

But, that was rejected because it would break Kerberized printing.

Any ideas

[2020-01-02 12:39] tillkamppeter commented on #183
CUPS needs the "ipp" backend to run as root so that it supports Kerberos authentication. To make a backend run as root under CUPS one removes its execution permissions for "group" and "others", this makes CUPS run the backend as root, otherwise it is run as the "lp" system user. Side effect is that no program (for example a wrapper backend) can run the backend as non-root user.
What we have to do

[2020-01-02 12:40] tillkamppeter commented on #183
@logTom, could you do a quick test by setting both the "ipp" and "implicitclass" backends to `-rwx------` permissions and see whether this way the jobs also get printed?

[2020-01-02 13:01] logTom commented on #183
Yes, this does also work.

[2020-01-02 13:03] tillkamppeter commented on #183
So I will change the install process of cups-filters to set root-mode permissions for the "implicitclass" backend.
Thank you very much.

[2020-01-02 13:07] logTom commented on #183
Thank you for your fast response :)

[2020-01-02 14:09] tillkamppeter commented on #183
Fixed in commit b3319242f. Thank your for the report.

[2020-01-02 14:09] #183 closed

[2020-01-12 21:45] smurfix opened #185 "Remote printing: HWMargins applied twice"
My setup is as follows: I'm printing using a Brother QL-570 label printer with the ptouch raster driver. That driver generates PPD files with a hardware margin of 1.5mm, which is nonsense because the printer can print to the edge. So I fixed that. The resutt works but measuring I found that the old margin was in fact 3mm when I used the printer remotely from another system. Thus I conclude that th

[2020-01-13 10:57] tillkamppeter commented on #185
On both server and client please set CUPS into debug logging mode via
[code]
Print a job (with the original PPD with margins) from the client. After that take the `/var/log/cups/error_log` files of both server and client and attach them here. Note that you have to rename them to have a `.txt` extension so that you can attach them to this issue.

[2020-01-13 17:34] zdohnal opened #186 "ppdgenerator: test if default color models are available in ipp attribute"
Hi,

I encountered the issue with ppdgenerator in CUPS https://github.com/apple/cups/issues/5713 and since cupsfilters ppdgenerator is nearly the same, I'm reporting this here too.

The issue is that ppdgenerator has a sequence of ipp attributes when it comes to generating color models. They seem to be sorted by preference. So when a printer answers to get-printer-attributes request with a respons

[2020-01-13 19:17] tillkamppeter commented on #186
It is possible that in different PDLs (AppleRaster/URF, PWG Raster, PDF, ...) the range of available choices for each option (Color Model, Resolution, ...) is different, for example the printer printe grayscale only in PDF but not in Apple Raster.
So I want to ask you to make a test:
Stop the CUPS daemon, then edit your printer's PPD file (in `/etc/cups/ppd/`), adding a new entry (line) to the "Co

[2020-01-14 07:40] archenemies opened #187 "can't print multiple documents to remote printer"
I have a remote printer which I think was created with the following command:

    lpadmin -p B210_remote -m everywhere -E -v ipp://musa/printers/HP_Photosmart_Plus_B210_series

Here is the entry from the local /etc/cups/printers.conf:

    <Printer B210_remote>
    PrinterId 1
    UUID urn:uuid:decf7f3e-2c3b-33a2-7123-70eb8df14aef
    AuthInfoRequired none
    Info HP Photosmart Plus B210 series

[2020-01-14 11:18] zdohnal commented on #186
@tillkamppeter I probably explained the issue in bad way. I already tested if the printer works in grayscale after adding gray color model - it works.
What I wanted to point out is the driverless binary does not create any gray color model (probably due printer firmware bug), because pwg-raster-document-type-supported ipp attribute only mentions srgb_8, which is IMO insufficient for user (users us

[2020-01-14 12:01] tillkamppeter commented on #186
I understood what you mean, the generated PPDs do not show all available color mode, so I already thought about taking the color modes from the "richest" keyword or merging the results of all keywords.
My hesitation was that perhaps the printer supports in the Apple Raster PDL only the ones reported by "urf-supportef", in PWG Raster only the ones reported by "pwg-raster-document-type-supported", .

[2020-01-14 15:10] zdohnal commented on #186
@tillkamppeter

If I understand the current code correctly, chosen PDL does not have any impact on final Color Model in ppd - f.e. definition of color model Gray:

[code]
is the same for all keywords which represent 'Gray' among all PDLs (sgray_8 for pwg, w8 for urf, monochrome for print-color-mode-supported...).

In this case, I do not know why the print job has to be filtered to other PDL or mul

[2020-01-14 16:45] zdohnal commented on #186
If you want the solution with prioritizing print-color-mode-supported over pwg, here is the pull request #188

[2020-01-15 11:35] tillkamppeter commented on #117
rastertopdf also handles zero-page input now, done by pull request #189.

[2020-01-15 17:42] tillkamppeter commented on #186
@zdohnal, I have merged the pull request. Thank you very much. It seems that manufacturers do not implement well the support for PWG Raster. Once there are printers claiming to accept PWG Raster and they do not print this format and there are also printers not listing all their color modes in the "pwg-raster-document-type-supported" attribute.
Note also that the lines in the ColorModel options (an

[2020-01-15 17:42] #186 closed

[2020-01-16 11:35] zdohnal commented on #186
[get-printer-attributes-2.0.out.txt](https://github.com/OpenPrinting/cups-filters/files/4070920/get-printer-attributes-2.0.out.txt)
No image/urf in document-format-supported (available application/octet-stream,image/jpeg,application/pdf) or any urf-supported keyword at all, pwg-raster-document-type-supported has only srgb_8 value, which is insufficient (with previous ppdgenerator code) when you wa

[2020-01-16 12:08] tillkamppeter commented on #186
Thank you very much. This is somewhat strange, as there are PWG-Raster-specific keywords but no PWG-Raster under the supported document formats.

[2020-01-16 15:36] tillkamppeter commented on #117
texttopdf is fixed now in commit 2db65a0c8.

[2020-01-16 16:07] tillkamppeter commented on #117
Added an additional fix for pdftoraster, as, though the output was correct, it exited with error code 1 on empty or zero-page input. Commit 89fa9a96.

[2020-01-16 16:41] tillkamppeter commented on #117
Fixed rastertopdf (commit e926ab81): Its zero-page output was a zero-page PDF and not zero bytes. It also used fstat() to determine whether the input file is a zero-page raster or totally empty, thisonly works with a file on disk, not with stdin.

[2020-01-16 17:04] tillkamppeter commented on #117
Thank you very much to everyone who has contributed here, but to assure that the zero-page job handling works in all situations, remember the following:
- On filters which output PDF or PCLm, a zero-page output file is a totally empty (zero bytes) file, NOT a PDF structure without pages
- If PDF or PCLm is the input format, the filter has to interpret both a completely empty (zero bytes) and a zer

[2020-01-20 13:19] tillkamppeter commented on #117
mupdftoraster and rastertops done in pull request #191.

[2020-01-24 10:09] HerrUntermoser opened #192 "EPSON XP-5100 Prints Blue Text as "Pink text""
I use Linux Mint 19.3 but I had the same problem on Fedora and Manjaro. The CUPS Driver for Epson XP 5100 Series (WLAN Model) prints "Blue" Text as "Pink" Text from every Dokument regardless if it comes from the Browser or Office Suite or Texteditor.

[2020-01-24 10:58] tillkamppeter commented on #192
Could you attach the PPD file of your print queue (from the `/etc/cups/ppd/` directory (rename the file to have a `.txt` extension when attaching it here).
Could you also run the command
[code]
to get the URIs (one per line) of all available driverless-capable printers. Find the one of your Epson. Then run
[code]
replacing `URI` by the URI of your Epson. Please also attach the `attrs.txt` file.

[2020-01-24 12:17] HerrUntermoser commented on #192
[Epson-XP-5100.txt](https://github.com/OpenPrinting/cups-filters/files/4108359/Epson-XP-5100.txt)

Running
ipptool -tv ipp://EPSON3078C9.local:631/ipp/print get-printer-attributes-2.0.txt > attrs.txt
returns
ipptool: Unable to open test file get-printer-attributes-2.0.txt - File or Directory not found

[2020-01-24 13:01] tillkamppeter commented on #192
Please run
[code]
instead.

[2020-01-24 13:29] HerrUntermoser commented on #192
Same return. Both files doesn't exist on my Linux Mint

[2020-01-24 13:33] tillkamppeter commented on #192
Do you have the package "cups-ipp-utils" installed?

[2020-01-24 16:30] HerrUntermoser commented on #192
Apt says: YES
But the error was elsewhere.
The correct name is: "get-printer-attributes.test"
My mistake, I could've figured out earlier to just look for "get-printer-attribute" ...
[attrs.txt](https://github.com/OpenPrinting/cups-filters/files/4109459/attrs.txt)

[2020-01-25 15:26] tillkamppeter commented on #192
Try the following:
Copy the PPD file of the printer into a new file:
[code]
Edit `new.ppd` removing the line
[code]
Now manually create a print queue
[code]
Try to print to this queue. Does this solve your problem?
This queue makes Apple Raster being used as data input format for your printer. The automatically created queues let it use PWG Raster. Probably the printer has a firmware bug so thet t

[2020-01-25 23:30] kristianlm opened #193 "Tray/InputSource setting is ignored"
Hi, and thanks for making printing on Linux a pleasant experience. I have a fix for an issue with my HP printer, but I don't know if this is the right forum to report this. I have an HP Color LaserJet M750 that works well on my Arch Linux distro, with the exception of tray selection. I installed the drivers through the cups webadmin on port 631 and added my new printer.

I ran into a problem where

[2020-01-26 08:21] HerrUntermoser commented on #192
Black ink is now empty, i must wait until tuesday....

[2020-01-26 11:55] debphil opened #194 "SAMSUNG C410W don't work"
Hi,

I'm on Debian Buster, cups installed.
 I Have a Samsung Xpress C410W , I tryed to install samsung drivers but not working with cups on buster.

On stretch, my printer works

It's a color laser printer.

Any solution ? thanks

[2020-01-27 16:59] tillkamppeter commented on #117
pdftopdf done in pull request #195.

[2020-01-27 18:45] debiantriage commented on #186
This was an interesting discussion; sorry to join it late. However, I am intrigued by _get-printer-attributes-2.0.out.txt_ not having any reference to image/urf. How does the printer get to advertise it is AirPrint capable (which Canon say it is)?

Cheers,

Brian.

[2020-01-28 12:07] HerrUntermoser commented on #192
Okay. Found the bug. Pretty silly...
It was a tiny transparent rest of the adhesive strip that closes the vent of the cartridge during transport. You have to figure that out. Thank you for your help.
At least I learned how to use the terminal to get the UID and create an extra printer queue. Without the GUI.

[2020-01-28 12:07] #192 closed

[2020-01-29 11:41] tillkamppeter commented on #117
pdftops done in pull request #196.

[2020-01-30 14:58] tillkamppeter commented on #117
rastertoescpx and rastertopclx done in pull request #197.

[2020-02-01 22:45] tillkamppeter commented on #117
gstoraster, gstopdf, and gstopxl done in pull request #198.

[2020-02-03 21:14] tillkamppeter commented on #135
@Dapeng-W and anyone else affected, should be fixed with pull request #199 which I have merged now. Please test.

[2020-02-03 21:50] tillkamppeter commented on #135
I will consider this issue as solved now and close it. Please test and report here if you think that it is not solved and needs more changes. Thanks.

[2020-02-03 21:50] #135 closed

[2020-02-04 18:06] tillkamppeter commented on #117
foomatic-rip done in pull request #200.

[2020-02-04 18:09] tillkamppeter commented on #117
Now all filters which needed fixing for this as far as I found are actually fixed, so I am closing this issue as solved. Please re-open if I have forgotten a filter.
@JaiLuthra1, thanks a lot for your great work.

[2020-02-04 18:09] #117 closed

[2020-02-04 19:31] tillkamppeter commented on #194
Is this a network printer or is it USB-only?
In the former case, especially if the printer is not too old (~5 years or less), it could work driverless. Simply connect it via the network, Ethernet or Wi-Fi, and see whether a print queue gets set up automatically. If not, run the command
[code]
Does it show a line corresponding your printer? The lines are URIs (Unified resource identifiers) and if y

[2020-02-04 19:38] tillkamppeter commented on #187
On both server and client please set CUPS into debug logging mode via
[code]
Print a job from the client. After that take the `/var/log/cups/error_log` files of both server and client and attach them here. Note that you have to rename them to have a `.txt` extension so that you can attach them to this issue.

[2020-02-06 14:28] debiantriage opened #201 "driverless generates wrong InputSlots for a Xerox B215"
In Debian Bug #949315 Martin Mares  reports a problem with name mangling rules in ppdgenerator.c of cups-filters and ppd-cache.c of CUPS. My knowledge in this area is zero, so I have asked him to monitor the issue here.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=949315

Regards,

Brian.

[2020-02-09 09:01] tillkamppeter commented on #176
@NicoHood, your PPD file which you attached on Nov 19 contains the "A4.Transverse"/"A4 Long Edge" for the page size. If it does not appear in print dialogs, try to print via the following command line
[code]
Replacw `<YOUR PRINTER>` by the print queue name and `<PDF FILE>` by the file name of one of your A4-sized PDF files.

[2020-02-09 12:08] tillkamppeter commented on #176
I have checked further and if you print via command line as I described in the previous comment the file should come out landscape-oriented as desired. So there is no bug in cups-filters.
I have also created a CUPS queue using your PPD file and then opened the print dialog of evince, the GTK print dialog, and this dialog makes a complete mess from your PPD file. The list of paper sizes contains ea

[2020-02-09 12:08] #176 closed

[2020-02-16 18:49] tillkamppeter commented on #201
Reported CUPS upstream bug apple/cups#5740, applying the attached patch to CUPS should fix your problem. If your queue's PPD is generated by cups-filters, your problem should also get solved by commit cc1354c11.

[2020-02-16 18:49] #201 closed

[2020-02-16 18:50] tillkamppeter commented on #201
See also issue #193.

[2020-02-16 18:51] tillkamppeter commented on #193
Reported CUPS upstream bug apple/cups#5740, applying the attached patch to CUPS should fix your problem. If your queue's PPD is generated by cups-filters, your problem should also get solved by commit cc1354c11.
See also issue #201.

[2020-02-16 18:51] #193 closed

[2020-02-17 00:32] debiantriage opened #202 "Samsung CLX 6260FW does not print duplex"
I am unsure whether this is a cups-filters or a printer issue.

I am helping a user at https://forums.linuxmint.com/viewtopic.php?f=51&t=311643 who was originally using the ULD software.

- I requested him to set up a driverless print queue. Duplex printing still does not happen.

- I then produced an Apple Raster file on my system using cupsfilter (with _sides=two-sided-long-edge_). This prints d

[2020-02-17 14:15] paulmenzel opened #203 "More than 10 s delay printing to IPP printer"
Using Debian Sid/unstable with cups-filters 1.27.0-2, printing to the *Epson WorkForce WF-2660* over IPP, it takes several seconds until the job starts. Please find the network capture with Wireshark attached when printing a blank page from LibreOffice [attached]](https://github.com/OpenPrinting/cups-filters/files/4214195/cups-ipp.pcapng.gz).

[2020-02-17 14:27] tillkamppeter commented on #202
For debugging driverless printing you should at first ask the user to poll the printer's capabilities. To do, at first run the command
[code]
when the printer is turned on. This will show the URIs of all available IPP printers with driverless printing capabilities. One of the URIs is of your printer. Now run
[code]
or, if you get an error
[code]
Replace `URI` by your printer's URI. `attrs.txt` is

[2020-02-17 14:33] tillkamppeter commented on #202
You can send arbitrary IPP requests to a printer with `ipptool` by using other templates than the `get-printer-attributes.test` ones of above. See the `/usr/share/cups/ipptool/` for examples. There are also some for printing a file. You could edit one of these to add the "sides=two-sided-long-edge" to see whether you get duplex printing.

[2020-02-17 16:39] tillkamppeter commented on #203
Could you attach the PPD file of the queue (from `/etc/cups/ppd/` directory) and also a CUPS error_log (in debug mode, to activate with `cupsctl --debug-logging`) with one job?

[2020-02-20 16:41] zdohnal opened #205 "cups-1.27.0 takes 20 minutes to show the first queue out of 123 queues from cups-1.4.2 server"
Hi,

I did performance testing with cups-filters-1.27.0 and currently when I set 'BrowsePoll' on server, where is old cups-1.4.2, it takes 20 minutes now (comparing to 1.26.0, where the time interval was 55s).

My cups-browsed.conf:

[code]
From cups-browsed debug log I gathered can be seen the most time the daemon is in local_printer_has_uri
[cups-browsed-log.txt](https://github.com/OpenPrinting/

[2020-02-22 11:47] LynxChaus opened #206 "foomatic-rip postscript preprocessing broken by #200"
After fixing #200 - postscript preprocessing is broken. Removing return at filter/foomatic-rip/postscript.c:1081 fix it.

[2020-02-22 12:41] debiantriage commented on #202
Thanks for the tip. We edited print-job.test and sent a two-page Apple Raster file. The user gets

"sides.test":
    Print-Job:
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en
        printer-uri (uri) = ipp://SEC8425190506AF.local:631/ipp/printer
        requesting-user-name (nameWithoutLanguage) = bruce
        document-format (mimeMediaTyp

[2020-02-22 12:41] #202 closed

[2020-02-22 16:25] OdyX commented on #206
I can confirm this; foo2zjs doesn't print anything anymore since 1.27.1; that's a serious regression.

I have therefore included @LynxChaus 's patch and will send a pull-request when tested.

I'll change Debian's CUPS autopkgtests to detect these regressions too.

[2020-02-22 18:04] tillkamppeter commented on #206
What was the exact problem here? Did all PostScript files sent through foomatic-rip come out empty (zero bytes) instead of the document in the printer's format? Or did only zero-page PostScript files come out empty and the printer did not like an empty job in some form.

[2020-02-22 20:06] tillkamppeter commented on #206
And do all attempts to pass a PostScript file through foomatic-rip end up with a message "No pages left, outputting empty file." in the error_log?

[2020-02-23 08:43] OdyX commented on #206
The easiest way for me to reproduce this was to run this (with printer-driver-foo2zjs installed) with the latest test-drivers script from CUPS: https://salsa.debian.org/printing-team/cups/blob/debian/master/debian/tests/utils/test-drivers :
[code]
Without this patch, I got:
[code]
. With the patch, I got:
[code]
So what happened is that the data sent to the printer is 0bytes long. I haven't checke

[2020-02-23 08:54] tillkamppeter commented on #206
An error_log in debug mode would be great, to help fixing this correctly, so that both regular printing and zero-page-job handling works.

[2020-02-23 09:15] LynxChaus commented on #206
removing return is fast & stupid fix. Better properly set non-empty flag in right place.

[2020-02-23 09:17] tillkamppeter commented on #206
@JaiLuthra1, it seems that your zero-page job support in foomatic-rip considers jobs with pages as zero-page. Could you have a look? Thanks.

[2020-02-23 09:19] JaiLuthra1 commented on #206
Sure, I will have a look.

[2020-02-23 15:00] paulmenzel commented on #203
Here you go: [error_log.txt](https://github.com/OpenPrinting/cups-filters/files/4241447/error_log.txt)

[2020-02-24 07:56] a-baturin opened #208 "Does not print without any errors (cups-filters-1.27.1)"
Hi
Fedora 31, kernel 5.5.5-200
Ricoh SP C250SF on Ethernet. built-id Ricoh 440 and PPD from http://www.openprinting.org/printer/Ricoh/Ricoh-SP_C250SF
I upgraded cups-filters-1.22.5-4 to 1.27.1-1 and no printing anymore.
I see messages "printing completed" but job was not really sent to printer.
Downgraded back -> printing fine.
Tried with 2 PCs
[troubleshoot.txt](https://github.com/OpenPrinting/cu

[2020-02-24 11:30] OdyX commented on #208
This is likely #206

[2020-02-24 11:36] a-baturin commented on #208
Only if test page for printer also PostScript.
I can't print even test page from printer settings

[2020-02-24 12:09] zdohnal commented on #205
I'm not able to reproduce on the clean machine - closing.

[2020-02-24 12:09] #205 closed

[2020-02-24 12:29] JaiLuthra1 commented on #206
@tillkamppeter All but the last page were sent to the printer resulting in empty file for the single page tests. Fixed in #209

[2020-02-24 13:04] tillkamppeter commented on #206
Jai, thank you very much. I have merged your Pull Request now.

[2020-02-24 13:04] #206 closed

[2020-02-24 13:05] tillkamppeter commented on #208
I got a fix for Issue #206 now and applied it, Please re-test with the current snapshot of cups-filters.

[2020-02-24 19:03] a-baturin commented on #208
Unfortunately still not ok.
Now it wakes printer up, but doesn't print

[2020-02-24 19:53] tillkamppeter commented on #208
So we need the CUPS error_log from you, in debug mode. If you have CUPS 2.3.0 or older, run
[code]
to activate debug mode. Do not use `cupsctl` with CUPS 2.3.1 (if the package's ChangeLog does not tell that the problem is fixed). In this case stop the CUPS daemon, edit `/etc/cups/cupsd.conf` to have a line
[code]
and start the CUPS daemon again.
Clean up with
[code]
and print another job of the ki

[2020-02-25 20:07] a-baturin commented on #208
Tried this (thanks for detailed description btw)
Unfortunately error_log is empty after it

[2020-02-28 08:52] rickrich commented on #208
You guys should remove 1.27.1 because it will not work with my set of appox. 50 filters.
http://foo2zjs.rkkda.com/

[2020-02-28 09:17] tillkamppeter commented on #208
@rickrich, could you please test with the current GIT? If it works correctly I will put out 1.27.2 immediately.

[2020-02-28 12:42] rickrich commented on #208
I tested it on Fedora 31 in a Virtual Box because my main machine runs Fedora 30.

cups-filters-1.27.1-2.fc31.x86_64.rpm
cups-filters-libs-1.27.1-2.fc31.x86_64.rpm

[2020-02-28 16:21] tillkamppeter commented on #208
I have now tested both PDF and PostScript files and in each format files with 7 pages, 1 page, and 0 pages. I have also tested the CUPS test page `/usr/share/cups/data/testprint`. I have tested all this with the Ricoh PPD of the initial posting and with the foo2zjs-based PPD file for the Samsung CLX-3160. Using the current state of the GIT repository all these tests lead to correct results for me.

[2020-02-28 16:21] #208 closed

[2020-02-28 17:59] tillkamppeter commented on #208
Released [1.27.2](https://github.com/OpenPrinting/cups-filters/releases/tag/release-1-27-2). Thank you all for your bug reports and code contributions.

[2020-02-28 18:12] kloczek opened #213 "Please consider tagging convention change"
Current tagging convention makes small obstacle on automated packaging as `-` needs to be replaced by `.` and additionally `release` is used in tag adds additional prefix in git auto generated tar balls

Try to have look on https://github.com/OpenPrinting/cups-filters/archive/release-1-27-2.tar.gz which has as base directory `cups-filters-release-1-27-2/`.
Those tar balls are useful on some operat

[2020-02-28 22:34] tillkamppeter commented on #185
No answer for more than a month. Closing.

[2020-02-28 22:34] #185 closed

[2020-02-28 22:51] tillkamppeter commented on #177
Firmware bug of the printer, according to the CUPS bug report. Closing.

[2020-02-28 22:51] #177 closed

[2020-03-04 08:58] zdohnal opened #215 "cups-filters-1.27.2 - foomatic-rip produces no output"
Hi Till,

the issue with foomatic-rip reappeared in 1.27.2 - it seems one commit from last Thursday broke the printing via foomatic-rip again - I'll try to look up which one.

PPD:
[test1.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/4286287/test1.ppd.txt)
PS file:
[prolog.ps.txt](https://github.com/OpenPrinting/cups-filters/files/4286290/prolog.ps.txt)
Job log:
[log.txt](https://git

[2020-03-04 09:37] tillkamppeter commented on #215
What is exactly wrong here? the file `prolog.ps.txt` does not contain any page. When I open it with Ghostscript I do not get a single "showpage" prompt. The `log.txt` which I assume is of you printing this file to a queue using `test1.ppd.txt` as its PPD file, shows that foomatic-rip discovered that the input file has no pages, giving an appropriate debug message. foomatic-rip passes on zero bytes

[2020-03-04 10:01] zdohnal commented on #215
It makes sense - I and the reporter of the bug [here](https://bugzilla.redhat.com/show_bug.cgi?id=1809763) got confused because those postscript files were printed out in earlier versions. But when I convert pdf to ps and try to print created ps file - printing works.
I'm sorry for the noise.

[2020-03-04 10:01] #215 closed

[2020-03-08 14:25] ajacoutot opened #216 "gs -dSAFER breaks printing"
Hi.

This commit prevents from printing on OpenBSD: https://github.com/OpenPrinting/cups-filters/commit/f1178bb5c97338c00393d77fb6f9f84a74d5d519

D [08/Mar/2020:15:02:34 +0100] [Job 98] GPL Ghostscript 9.07: Unrecoverable error, exit code 1
D [08/Mar/2020:15:02:34 +0100] [Job 98] PID 56561 (/usr/local/libexec/cups/backend/lpd) exited with no errors.
D [08/Mar/2020:15:02:34 +0100] [Job 98] PID 4851

[2020-03-10 16:06] tillkamppeter commented on #216
Fixed in commit 84d0b48a4f2. Thanks for the bug report.

[2020-03-10 16:06] #216 closed

[2020-03-10 16:23] cmvizitiu opened #217 "A too small file will result in no print at all"
Cups 2.2.12 with cups-filters 1.27.1 (Fedora 31 up to date x86_64). Socket printer HP 1606dn using Foomatic/foo2zjs-z2.

The issue I am facing is trying to print just two rows of plain text from Leafpad (but it can be reproduced with Xed, Kate and even LibreOffice Write). Everything seems OK except nothing comes out of the printer which printer will work for "larger" files. Job appears as complete

[2020-03-10 16:41] tillkamppeter commented on #217
foo2zjs uses foomatic-rip.
There were several fixes and improvements on foomatic-rip in cups-filters 1.27.2, most probably also for your problem. Please update and check whether it helps.

[2020-03-10 16:54] cmvizitiu commented on #217
Oh... indeed manually forcing an upgrade of cups-filter/libs fixed the problem. Guess I'll have to wait for the distro to bring official packages then. Thanks for help!

[2020-03-10 16:54] #217 closed

[2020-03-10 18:49] tillkamppeter commented on #203
@paulmenzel, could you please add your printer's PPD file from `/etc/cups/ppd/`. Thanks.

[2020-03-11 07:22] zdohnal commented on #217
@cmvizitiu Actually, cups-filters-1.27.2 is in testing repo nearly a week https://bodhi.fedoraproject.org/updates/FEDORA-2020-83519d93aa , waiting to get karma from users.
You can wait till it gets into stable repos, or install it from updates-testing repo (and leave a karma in bodhi if needed to speed up the process).

[2020-03-11 16:43] mbello commented on #97
Not sure I should revive this thread but I am experiencing this issue right now with cups-filter 1.25.11 on Ubuntu 19.10.

Logs below as well as output from lpstat -o, however, lpstat result is for job 256 which was the same file printing and the same error as shown for job 253 below.

**error.log:**
D [11/Mar/2020:11:12:36 -0300] [Client 81] Waiting for request.
D [11/Mar/2020:11:12:36 -0300] [Cl

[2020-03-11 21:17] albert-fluegel commented on #215
I am the reporter of the bug [there](https://bugzilla.redhat.com/show_bug.cgi?id=1809763) and i don't understand what Mr. zdohnal is talking about. As i report there, the [uploaded file](https://bugzilla.redhat.com/attachment.cgi?id=1667298) (align.ps is created, when downloaded) from the foo2zjs distribution is not printed anymore with cups-filters-libs-1.27.1. Mr. zdohnal states, that this is no

[2020-03-11 22:44] tillkamppeter commented on #215
[align.ps.txt](https://github.com/OpenPrinting/cups-filters/files/4321163/align.ps.txt)
[bunti.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/4321206/bunti.ppd.txt)

`align.ps` is not made for printing, it is for executing it with Ghostscript, so that Ghostscript calculates margin adjustment. It does not make sense to convert it to PDF, what in the CUPS printing workflow happens first

[2020-03-12 05:12] zdohnal commented on #215
@albert-fluegel I'm sorry I chose the incorrect word in our bug description - your ps file is valid, but it is not printable as @tillkamppeter explains in its comment.

[2020-03-12 12:25] dryairship commented on #194
I downloaded the drivers from the official HP website ([link](https://support.hp.com/us-en/drivers/selfservice/samsung-xpress-sl-c410-color-laser-printer-series/17157201/model/17157203)). The install was successful on both Ubuntu 18.04 and Debian Buster 10.3. @debphil Can you please post the error logs/messages?

[2020-03-13 21:21] sparshag21 commented on #187
Hi. I tried recreating this issue with a virtual printer with the following two files:

[test1.txt](https://github.com/OpenPrinting/cups-filters/files/4331672/test1.txt)
[test2.txt](https://github.com/OpenPrinting/cups-filters/files/4331673/test2.txt)

In this case the following command had the same outcome on both the client and the server when run separately on each.
[code]

This is the output o

[2020-03-14 01:59] archenemies commented on #187
Sorry this got lost in the shuffle.

On both server and client:

    sudo cp -a /etc/cups/cupsd.conf{,.backup-2020-03-13}
    sudo cupsctl --debug-logging   # warning! strips comments from config file
    sudo systemctl stop org.cups.cupsd.service
    sudo truncate --size 0 /var/log/cups/error_log
    sudo systemctl start org.cups.cupsd.service
    sudo cp -a /etc/cups/cupsd.conf{.backup-2020-03-1

[2020-03-20 14:13] tillkamppeter commented on #101
Thank you for your feature request. The functionality is now added via Pull Request #218.

[2020-03-20 14:13] #101 closed

[2020-03-22 01:43] snarke opened #221 "rastertolabel uncontrollably dithering...."
It seems likely that the rastertolabel filter is often involved in printing bar codes. Many shipping labels these days are being generated in the cloud/web/remotely, and are arriving as pdf-encapsulated raster images. A very common problem with people using Zebra printers is having the bar codes seriously corrupted, and printing all "fuzzy." I believe this is caused when a 300dpi or 150dpi raster

[2020-03-27 16:41] paulmenzel commented on #203
Here you go: [EPSON_WF_2660_Series.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/4394834/EPSON_WF_2660_Series.ppd.txt)

[2020-03-27 17:30] tillkamppeter commented on #203
@paulmenzel, thanks. Could you set debugging in cups-browsed, editing `/etc/cups/cups-browsed.conf` to have a line
[code]
and restart cups-browsed.
Now print your job again and observe. If you still get the delay, attach the file `/var/log/cups/cups-browsed_log` and `/var/log/cups/error_log`. Rename them adding a `.txt` extension so that GitHub accepts them.
If your print job comes out without del

[2020-03-30 05:56] zdohnal commented on #221
Hi Dave,

the rastertolabel filter is part of original CUPS project, not cups-filters. Please file the issue at  https://github.com/apple/cups/issues .

[2020-03-30 07:44] tillkamppeter commented on #221
Could you attach a sample PDF file for tests? Thanks.

[2020-04-04 17:44] JeSuisEnPanne opened #223 "Print default value in doc PDF Bug"
* cups-filters version 1.21.6-5
* cups version 5.5.10-6+deb10u2
 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...)
No LSB modules are available.
Distributor ID:	Linuxmint
Description:	LMDE 4 (debbie)
Release:	4
Codename:	debbie

how are you today ?

Issue
I use Xreader 2.4.4 to print the document: "doc1.pdf" on LMDE / 4.
[doc1.pdf] (https://github.com/linuxmint/linuxmint/files/4396944/doc1.pdf

[2020-04-15 20:09] tillkamppeter commented on #221
@michaelrsweet, is there a way to let label printers with their CUPS drivers (and the filters of cups-filters) print in a dither-free black-and-white mode? Dither-free means that we take a 1-bit-monochrome destination color space and for each pixel we let the pixwl get black if the input luminance value (or simply input grayscale value) is darker than a certain threshold and white when it is light

[2020-04-15 20:30] michaelrsweet commented on #221
@tillkamppeter That functionality is offered by LPrint. It could also be supported by rastertolabel - it just needs to ask for grayscale and then do a threshold dither - but I never bothered implementing it there.

For cups-filters, if you support the print-color-mode option with the value 'bi-level', then that can trigger a threshold dithering mode for 1-bit raster output.

[2020-04-15 20:36] tillkamppeter commented on #221
Thanks, @michaelrsweet.
@snarke, the drivers you are using are deprecated and replaced by @michaelrsweet's [LPrint](https://github.com/michaelrsweet/lprint/). Lprint supports printing jobs in said dither-free mode, called bi-level. You need to use the option "`-o print-color-mode=bi-level`". See LPrint's [documentation](https://github.com/michaelrsweet/lprint/blob/master/DOCUMENTATION.md).

[2020-04-16 17:49] tillkamppeter commented on #221
@michaelrsweet, is there a CUPS color space (CUPS_CSPACE_... in /usr/include/cups/raster.h)  reserved for bi-level?

[2020-04-16 18:49] michaelrsweet commented on #221
@tillkamppeter No, 'bi-level' is not a color space, it is a color *mode*.

[2020-04-22 07:00] shivani1709-bot opened #227 "Can not setup printer queue for Manjaro and Ubuntu"
Distro :    Manajro 18.1.0 ,Manjaro 18.1.2 , ubuntu 19.10
Model Name:   Deskjet 2700 (Taccola IA)

After the HPLIP run file installation ,while doing the hp-setup we are getting the below error:

Printer queue setup failed:
**Error: successful-ok-ignored-or-substituted-attributes**

![queue_failure](https://user-images.githubusercontent.com/63055835/79950576-ea59c780-8494-11ea-970c-9a1084239032.pn

[2020-04-22 07:48] tillkamppeter commented on #227
How do you come to the conclusion that this is a problem of cups-filters?
The message come from CUPS. I have found it in the source code of CUPS, in the file `cups/ipp-support.c`. And there it is not considered an error, but an "OK" status. For me it looks like a bug in HPLIP, hp-setup considering it as an error. Please report it to [HPLIP](http://launchpad.net/hplip/).

[2020-04-22 07:48] #227 closed

[2020-05-03 18:08] lbschenkel opened #228 "Why doesn't `driverless` copy remote PPD options?"
*I realize that perhaps this is not the best forum for this question, but I [tried the mailing list](https://lists.linuxfoundation.org/pipermail/printing-architecture/2020/003799.html) and given past activity there, I'm not sure if there is the right place for this kind of question either.*

I have read https://wiki.debian.org/CUPSDriverlessPrinting and surrounding wiki pages. I think I've managed

[2020-05-07 20:22] tillkamppeter commented on #135
Can someone tell me which Debian/Ubuntu font packages I need to install to be able to convert the text file of the initial posting into PDF with the texttopdf filter?

[2020-05-08 05:32] tangyanli opened #231 "texttopaps (soft link to the paps) fails when invoking by cupsfilter"
Hi,
I print text file on fedora31. The cups invokes "texttopaps" as a filter to convert file from text to postscript. And the printing successes.

But when I use "cupsfilter" command to invoke the "texttopaps", it always fails.
$cupsfilter -m application/postscript -d [printername] text.txt

    INFO: texttopaps (PID 124239) started.
    Failed to open 1!
    ERROR: texttopaps (PID 124239) stopped

[2020-05-08 21:04] smilingthax commented on #135
For uming.ttc (AR PL UMing) it's `fonts-arphic-uming`.

[2020-05-09 01:00] lrvega commented on #137
I don't know if @lumotroph ever found their answer, but I will leave this here for posterity's sake:
First make sure that  `/usr/local/lexmark/v3/bin/printfilter` has the correct permissions, user, and group:
[code]
Then (and this was the most cryptic part of the whole process) you need to add apparmor exceptions. If you take a look at `dmesg` you'll see something like:
[code]
To get around this y

[2020-05-09 07:32] lumotroph commented on #137
Fantastic, Irvega, thank you so much for taking the time to share this.

On Sat, 09 May 2020 at 03:00, lrvega <notifications@github.com> wrote:

--
Duncan Cosser - (+27)848009957

[2020-05-11 12:30] joni73 opened #232 "Label Writer 280 prints empty by LibreOffice"
hi, tried to print Libre Office -> Dymo-driver -> Cups -> Lable Writer 280 but it dose
not work.

I was selected device Lable Writer.

There was not model 280 !

It writes empty or nothifng !!!

joni

[2020-05-12 14:59] tillkamppeter commented on #135
@smilingthax, thanks, I have this installed, but the text file of the initial posting does not come out correctly.
My /usr/share/cups/charsets/pdf.utf-8:
[pdf.utf-8.txt](https://github.com/OpenPrinting/cups-filters/files/4616397/pdf.utf-8.txt)
The text file:
[cjk.txt](https://github.com/OpenPrinting/cups-filters/files/4616404/cjk.txt)

[2020-05-12 15:10] tillkamppeter commented on #231
Neither texttopaps nor cupsfilter are part of cups-filters. The former is a project on its own AFAIR and the latter is part of CUPS. Please report a bug there.

[2020-05-12 15:10] #231 closed

[2020-05-12 15:12] tillkamppeter commented on #232
The label printer drivers are part of [CUPS](https://github.com/apple/cups), please report an issue there.
See also [LPrint](https://github.com/michaelrsweet/lprint/) for a newer label printer driver package.

[2020-05-12 15:12] #232 closed

[2020-05-12 15:34] tillkamppeter commented on #223
Could you provide the PPD file of your print queue (from `/etc/cups/ppd/`) and also an [error_log in debug mode](https://wiki.ubuntu.com/DebuggingPrintingProblems#CUPS_error_log) of a failing print job?
Please rename the files to have a `.txt` name extension before attaching them here.

[2020-05-13 23:05] myfreeweb commented on #58
If anyone finds this thread as the only google hit for "Read 58 bytes of back-channel data..." and if your printer has worked the last time you tried and now doesn't: the same symptom (usb backend process hanging after logging that message) can happen when something is "stuck" inside the printer's firmware or whatever.

In my case, unplugging the printer from a FreeBSD box into a Windows one also

[2020-05-14 04:41] PaoloPelloni opened #233 "Wrong tray with Canon printer PIXMA MG5350"
Issue: From most of the applications when I print it goes on the rear tray regardless of the settings in the applications and the default options of the printer (both automatic and main) checked from setting and localhost:631. LibreOffice is one of the few where the paper is correctly sources from the cassette tray.

Environment: Ubuntu 20.04 / Canon PIXMA MG5350 / Driver: Canon MG5300 series, dri

[2020-05-14 12:00] tillkamppeter commented on #233
Could you please attach the PPD file of your print queue (from `/etc/cups/ppd/`).
Please also run the command
[code]
This will output the URI of your printer in one line. If there are more lines of output, look for the one which is of your printer (should contain manufacturer and model names).
Then run
[code]
with URI replaced by your printer's URI which you got with the first command. Attach the

[2020-05-15 08:58] PaoloPelloni commented on #233
I uploaded as a tar.gz because PPD want' allowed.

Unfortunately the driverless works, but then the ipptool fails:

`$ driverless
ipp://Canon%20MG5300%20series._ipp._tcp.local/

$ ipptool -tv ipp://Canon%20MG5300%20series._ipp._tcp.local/ get-printer-attributes.text > log.txt
ipptool: Unable to connect to "Canon MG5300 series._ipp._tcp.local" on port 631 - Name or service not known
`
and even if

[2020-05-16 11:59] JeSuisEnPanne commented on #223
How are you today?
Here are the files to request :
[TS5000-series.txt](https://github.com/OpenPrinting/cups-filters/files/4638298/TS5000-series.txt)
[TS5000-series.0.txt](https://github.com/OpenPrinting/cups-filters/files/4638300/TS5000-series.0.txt)
The log file: "error_log" is empty.
[error_log.1.txt](https://github.com/OpenPrinting/cups-filters/files/4638306/error_log.1.txt)

Greetings

[2020-05-17 17:23] tillkamppeter commented on #223
Thanks for the files, but your error_log files are not in debug mode. Die you follow the instructions on the linked page? Did you restart CUPS if you had hand-edited cupsd.conf?
The problem seems that in some filtering steps a font is not found and replaced by a default font. I need the error_log files in debug mode to see where this can have happened.

[2020-05-18 08:07] JeSuisEnPanne commented on #223
How are you today ?
debug-mode CUPS :
Print ~ 18/May/2020:10:00:26 > Doc1.pdf

[error_log-debug.txt](https://github.com/OpenPrinting/cups-filters/files/4642845/error_log-debug.txt)
[error_log-debug.1.txt](https://github.com/OpenPrinting/cups-filters/files/4642849/error_log-debug.1.txt)

good bye

[2020-05-18 14:52] kimme1024 opened #234 "Can't get my Canon MF8300Cdn to work with CUPS"
Hi,

As I want to add AirPrint capability to my Canon MF8300Cdn I found an article that CUPS on a RPi would be a great solution.
I installed everything and the the network printer was immediately recognized.
However there weren't any drivers available. I've uploaded the PPD file that I've found in the driver package for my printer (CNRCUPSMF8300CZK.ppd).
After that I can see my printer with an Idl

[2020-05-19 04:24] zdohnal commented on #234
Hi @kimme1024 ,

the core idea of AirPrint and other driverless solutions (IPP Everywhere) is not using any external drivers anymore.
Meaning you can use the print queue after it was recognized and the printing should work.

Then you can follow several paths:
1) use CUPS temporary queues feature - if your device is capable of driverless printing, then cupsd is capable to create temporary queue for

[2020-05-19 19:28] kimme1024 commented on #234
Hi @zdohnal ,

Thanks for your reply!
I tried what you suggested but I probably did something wrong.

This is the output:

[code]

First I just tried the IP, didn't work
Then I tried using http, didn't work
Last thing I tried was to use the address that the CUPS interaface used, took a while... but didn't work...

Any ideas?

[2020-05-19 19:36] tillkamppeter commented on #234
@kimme1024, the printer URI should be something like
[code]
You can run the command
[code]
and the URIs of available printers should be shown.
The command to create the queue would be
[code]
If this does not work, there is perhaps an incompatibility of Canon printers. Then try
[code]
Please tell whether this helps and if so, how you got your printer working then.

[2020-05-19 19:44] kimme1024 commented on #234
Hi @tillkamppeter ,

Thanks for the quick reply!

I tried this but it doesn't seem to work.

[code]

[2020-05-22 15:42] tillkamppeter commented on #223
Thank you very much. The log tells that your input file is damaged.
The file you attached to this bug report does not show any damages.
Could you print the file directly, not using any applications, using the command:
[code]
Does this work?
Which is the application which you use for displaying PDF files?

[2020-05-24 08:42] JeSuisEnPanne commented on #223
Hey!

`lp -d TS5000-series doc1.pdf`
no it's always the samel

Xreader 2.4.4

[2020-05-24 10:55] tillkamppeter commented on #223
I cannot reproduce your problem. On my system doc1.pdf is considered a correct PDF file and it gets displayed, converted, and printed correctly.
Your error_log shows:
[code]
The first messages come from the pdftopdf filter, with the current version of pdftopdf I do not get them. The Ghostscript called by the gstoraster filter running afterwards shows a lot of warnings, probably because pdftopdf ha

[2020-05-26 07:26] mattenklicker opened #238 "pdftopdf with print-scaling option produces broken PDF"
When printing through Avahi/Airprint my printer produces blank pages. Only ghostscript is complaining in debug log: `**** Error reading a content stream. The page may be incomplete.`

Somewhere in the process something like `/usr/libexec/cups/daemon/cups-exec -g 7 -n 0 -u 4 none /usr/libexec/cups/filter/pdftopdf "Samsung_SCX-4x21_Series" "45" "mobile" "Test-PDF-Title" "1" "print-scaling=auto-fit p

[2020-05-26 08:46] zdohnal commented on #238
Hi @mattenklicker ,

you don't need to run the filter via cups-exec - the way:
[code]
works the same way.

Would you mind attaching your ppd file from /etc/cups/ppd and PDF file you experience the issue with?

[2020-05-26 14:28] mattenklicker commented on #238
[Samsung_SCX-4x21_Series.ppd.gz](https://github.com/OpenPrinting/cups-filters/files/4682846/Samsung_SCX-4x21_Series.ppd.gz)

Can't get an PDF right now, but it happens with every PDF coming from an ios device via AirPrint. Can test it with default-testpage.pdf later. But I don't think it has something to do with the PPD or PDF. Simplest way to reproduce:
  * Working: `/usr/libexec/cups/filter/pdft

[2020-05-26 17:13] tillkamppeter commented on #238
I have tested with the most current version of cups-filters, 1.27.4 now and cannot reproduce the bug. I do not get the shown errors with "print-scaling=auto-fit", exactly using the command line
[code]
I can also can add any `PageSize=...` setting and it also works.

[2020-05-26 19:58] mattenklicker commented on #238
Strange. Then it's probably gentoo related. I'll open a bug downstream. I'll keep you informed.

[2020-05-27 07:41] macpijan opened #239 "1.27.4 fail to cross-compile (configration phase)"
[code]

It is due to the `AC_CHECK_FILE` macro: https://github.com/OpenPrinting/cups-filters/blob/master/configure.ac#L791

[2020-05-27 10:17] #239 closed

[2020-05-28 05:55] mattenklicker commented on #238
I found it.
`print-scaling=auto-fit` adds an additional stream to the resulting PDF.
Under normal conditions the stream looks like:
[code]
When compiled with `-ffast-math` the stream is:
[code]

[2020-05-31 14:50] JeSuisEnPanne commented on #223
How are you today ?

Sorry, i can't print from another LiveCD distribution.

JeSuisEnPanne

[2020-06-01 10:48] tillkamppeter commented on #135
@smilingthax, any idea how I get CJK fonts working?

[2020-06-02 16:57] smilingthax commented on #135
Sambhav Dusad @dsam82 did the implementation and (presumably successful) testing, he might/should be able to help here...

[2020-06-02 17:52] dsam82 commented on #135
In my system, the CJK fonts are taking double widths only and no overlaps are there.
I used the same text file as @tillkamppeter.
PDF file:
[cjk.pdf](https://github.com/OpenPrinting/cups-filters/files/4718837/cjk.pdf)

[2020-06-02 18:59] tillkamppeter commented on #135
@dsam82, @smilingthax, my problem is not that CJK characters appear with the wrong width but they  do not appear at all. It seems that on my Ubuntu 20.04 (Focal)  system the CJK fonts are not found. See my pdf.utf-8.txt in an earlier post here.

[2020-06-02 19:02] tillkamppeter commented on #135
This is the PDF file which I get:
[texttopdf-out.pdf](https://github.com/OpenPrinting/cups-filters/files/4719131/texttopdf-out.pdf)

[2020-06-03 09:17] dsam82 commented on #135
@tillkamppeter, for installation of the fonts I used the same instructions given in the official Debian package [here](https://packages.debian.org/source/sid/fonts-arphic-uming).
Can you please confirm that uming.ttc is installed in `/usr/share/truetype/arphic` or `/uming` and all the .conf files are in `/etc/fonts/conf.avail/`.

You could maybe try reinstalling the fonts.

[2020-06-03 09:43] tillkamppeter commented on #135
Here is all relevean output, package version, contained files, ... `uming.ttc` is in `/usr/share/fonts/truetype/arphic/` though.
I have also tried to re-install the package but the problem remains.
[code]

[2020-06-03 10:12] smilingthax commented on #135
texttopdf (just like the original texttops) has an ASCII-Mode and an UTF-8 mode...
The CUPS printing chain usually sets up the environment to activate the UTF-8 mode. This does not seem to happen for Till's pdf...
For manual testing (without cups) I have to use something like this line:

    (export CHARSET=utf-8; ./texttopdf 1 hi_user there_title 1 "" testin.txt > testout.pdf)

[2020-06-03 10:18] tillkamppeter commented on #135
@smilingthax, great, thanks, now it works for me.
Should texttopdf not be in UTF-8 mode by default, to be more versatile? Should we perhaps modify texttopdf to do so?

[2020-06-03 10:33] smilingthax commented on #135
Hmm, the CHARSET environment variable directly causes the cups-datadir `/charsets/pdf.$CHARSET` file to be loaded, and fails, if it is not there. ASCII mode always works and does not require a file there. I did not change the original logic from texttops except for prefixing the charset filename with `pdf.` ... I don't know if defaulting to 'utf-8' when CHARSET is not set could have unexpected eff

[2020-06-03 10:46] tillkamppeter commented on #135
@smilingthax, the test tool of CUPS is `cupsfilter`. In our case we call it with
[code]
and indeed it sets (probably like CUPS does, too) the environment variable `CHARSET=utf-8` leading to correct output in `out.pdf`.
What I did wrong is to call the filter directly by hand, via
[code]
not realizing that it needs the environment variable set.

[2020-06-03 11:30] tillkamppeter commented on #135
Succeeded to print `cjk.txt` also with the [snapped CUPS](https://github.com/OpenPrinting/printing-stack-snap) after [adding fonts-arphic-uming to it](https://github.com/OpenPrinting/printing-stack-snap/commit/5fed323b79d87e57867cd8870db87245febd903c).
Thanks, @smilingthax and @dsam82.

[2020-06-08 08:11] zdohnal opened #241 "'KeepGeneratedQueuesOnShutdown' concerns"
Hi,

I saw the latest cups-filters version has 'KeepGeneratedQueuesOnShutdown' functionality and I would like to express my concerns about implementing the feature and possible problems.

1) turning off cups-browsed will not clean the queues which are created by cups-browsed - IMO cleaning print queues is the same behavior as cupsd has - when you stop cupsd, there are no queues available, so cups-

[2020-06-08 09:15] zdohnal commented on #241
And 'BrowsePoll' directive is affected too - if you run cups-browsed with BrowsePoll set, cups-browsed will populate the print queue list. Then remove BrowsePoll and restart cups-browsed -> print queues from BrowsePoll should disappear, but they are still around.

[2020-06-08 15:33] tillkamppeter commented on #241
First, the new behavior of keeping the queues on shutdown is optionsl, one can get back to the old behavior by setting `KeepGeneratedQueuesOnShutdown No` in `cups-browsed.conf`.

The queues stay conserved as long as cups-browsed is not running. When restarting cups-browsed the queues are recognized by cups-browsed as coming from cups-browsed and considered unconfirmed. If the corresponding printer

[2020-06-08 21:13] bluedarter2 opened #242 "ethernet-connected printer only prints one copy when multiple requested"
This issue is about the inability to print multiple copies of a document from an Ubuntu 20.04 machine.  I filed an issue on the Ubuntu forum, and someone suggested filing it here as well.
https://ubuntuforums.org/showthread.php?t=2445001

Brother MFC-L8900CDW printer is plugged in to ethernet and assigned a static IP number since it's purchase 1.5 years ago. Works perfectly with existing Macs and

[2020-06-09 09:46] zdohnal commented on #241
Unfortunately, in my opinion making optional feature, which causes problems and has such impact on previous behavior, enabled by default, is problematic.

Will you be okay with configure option for it? Patching configuration file during package build is a redundant downstream patch, so I would create a configure option for it + for 'LocalQueueNaminRemoteCUPS'.

The key here is 'when restarting cup

[2020-06-09 09:59] Dapeng-W commented on #135
two problems:
(1) `lpr -P <Printer> [jck.txt](https://github.com/OpenPrinting/cups-filters/files/4616404/cjk.txt)`
the CJK text still covers each other on paper.

(2) CJK text garbled in testout.pdf (via: `export CHARSET=utf-8; /usr/lib/cups/filter/texttopdf 1 hi_user there_title 1 "" cjk.txt > testout.pdf`).
see [pic](https://github.com/Dapeng-W/issues/blob/master/cups-filters/CJK-texttopdf.jpg)

[2020-06-09 10:05] Dapeng-W commented on #135
texttopdf (just like the original texttops) has an ASCII-Mode and an UTF-8 mode...
    ...

two problems:
(1) `lpr -P <Printer> jck.txt`
the CJK text still covers each other on paper.

(2) CJK text garbled in testout.pdf (via: export CHARSET=utf-8; /usr/lib/cups/filter/texttopdf 1 hi_user there_title 1 "" cjk.txt > testout.pdf).
see [pic](https://github.com/Dapeng-W/issues/blob/master/cups-filters

[2020-06-09 12:18] zdohnal commented on #241
I talked with Marek Kasik, one of Gnome upstream devs, and it could be possible to filter out create-printer notification for cups-browsed. It could solve the problem what the feature was introduced for.

[2020-06-09 12:36] tillkamppeter commented on #241
This would be great. Then I will make the leeping of the queues optional and keep the old behavior (removing) as the default.
For notifications one could easily recognize queues as from cups-browsed by
- they have a "cups-browsed=true" attribute set
- They usually (depends on cups-browsed configuration) have an `implicitclass:...` URI

[2020-06-09 16:24] tillkamppeter commented on #241
The idea of a configure option for the defaults of LocalQueueNamingRemoteCUPS and KeepGeneratedQueuesOnShutdown is great. We should use the old default behavior when the configure option is not used. Could you post a PR for that?

[2020-06-10 04:20] zdohnal commented on #241
@tillkamppeter Sure, no problem, I'll look into it after I finish gnome-settings-daemon PR from previous comment.

[2020-06-12 09:30] Dapeng-W commented on #135
？？

[2020-06-21 08:14] zn0rql opened #248 "Problem printing through HPLIP"
The maintainers of HPLIP asked me to continue my quest to get my HP T125 printer working from Linux. Our story unfolds at:

https://answers.launchpad.net/hplip/+question/691371

As before, I'm very willing to provide more information to get this large printer to work from Linux systems.

[2020-06-22 02:33] pauljurczak opened #249 "CUPS filled my drive with giant error_log file"
CUPS stopped working on my Ubuntu 18.04 due to my tinkering with file permissions in `/usr/lib` folder. My fault. Unfortunately, in less than 24 hours, it produced 0.25TB of error log files with text like this:
[code]
Does this message have to be repeated millions of times?

[2020-06-22 13:10] kolAflash opened #250 "margins cut for PostScript printing (Okular/KDE)"
Margins are being cut for many documents when printing in PostScript mode via Okular.
Tried a lot of settings in Okular (KDE Desktop document viewer which sends PostScript to CUPS), but that made no difference.

Evince gets everything correct, but Okular developers says it's due to Evince (Gnome document viewing tool) sending PDF to CUPS instead of PostScript.
https://bugs.kde.org/show_bug.cgi?id=

[2020-06-23 07:08] tangyanli opened #251 "Can driverless list printers via _ipps._tcp"
Hi,

Is there some method to set driverless lists the network printers via _ipps._tcp?

PS:
I can use ippfind to list the network printers via _ipps._tcp as below.
$ ippfind _ipps._tcp

[2020-06-23 16:31] jarviswyatt opened #254 "Can't print plain text file from Linux command-line"
I am running Ubuntu 20.04. `cups` has been installed from aptitude an it is up-to-date.
When trying to print from a command line a plain text file, the cups texttopdf filter crashes.
I am using a network printer, Brother MFC-L2710DN. The print attempt was: `lpr -P Brother_MFC_L2710DN_series testprintfile`.

I write here as suggested [in this reply](https://lists.cups.org/pipermail/cups/2020-June/0

[2020-06-23 17:08] jarviswyatt commented on #254
I would also like to highlight (from [another reply](https://lists.cups.org/pipermail/cups/2020-June/074918.html) to the same thread in the Mailing List) that:

In fact, it seems that

but the

[2020-06-23 17:57] debiantriage commented on #254
Also see Message 11 at the link given in https://github.com/OpenPrinting/cups-filters/issues/248 and https://github.com/apple/cups/issues/5787. The later link gives a workaround.

[2020-06-24 08:00] jarviswyatt commented on #254
I checked them out, thank you. Trying the first workaround (the quicker one, moving the font away from `/usr/share/fonts/truetype`), I successfully printed a text file from terminal.

However, this is just a temporary solution. I wish the code can be modified to fix this in a permanent way.

[2020-06-24 12:46] michaelweghorn commented on #250
https://bugs.kde.org/show_bug.cgi?id=422690#c4

In other words, the issue can be reproduced without Okular by just printing the (Okular-generated) PostScript file using command line:

    lp -d HP_DeskJet_1000_at_fbox_hpcups -o fit-to-page debian_11-beta-20200609/var/spool/cups/d00018-001_-_print-area

The PostScript file itself looks just fine when e.g. opened in Okular.

[2020-06-24 20:27] tillkamppeter commented on #248
@sahilarora535, could you work with the poster (read the linked Launchpad thread) to get this solved? It is a rare case where a printer takes PCLm as input instead of Apple Raster or so. It is perhaps some bug in the rastertopclm filter output.

[2020-06-24 21:02] tillkamppeter commented on #254
@smilingthax, it seems that certain fonts make `texttopdf` crash, simply by their presence, even if they are not actually used by the filter. See the issues/threads linked by @debiantriage. There is an emoji font triggering an assert() in fontembed. assert() should never be used in production code, it is only for development and debugging. Also a font not needed for the filtering process should no

[2020-06-25 17:42] PIYUSHgoyal16 commented on #242
Hello @bluedarter2, thanks for sharing the bug. Can you please send the PPD file so that we can reproduce the same issue in our machines and test out the shortcomings.

[2020-06-25 18:18] bluedarter2 commented on #242
[brother-ppd.zip](https://github.com/OpenPrinting/cups-filters/files/4833106/brother-ppd.zip)

I couldn't directly attach it, so I've zip'd the one found in /usr/share/ppd/Brother.

There are 2 other identical files found in /usr/share/cups/model/Brother and /opt/brother/Printers/mfcl8900cdw/cupswrapper

Evelyn

[2020-06-26 04:14] zdohnal commented on #242
@bluedarter2 IIRC it is possible to attach a PPD file of your print queue from /etc/cups/ppd - you just have to copy the file and add .txt suffix to the copy. Then github is able to attach the file.

[2020-06-26 04:22] bluedarter2 commented on #242
[MFC-L8900CDW.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/4835088/MFC-L8900CDW.ppd.txt)

OK, it's attached.  It's the same as the one I gave you earlier.

[2020-06-26 04:27] zdohnal commented on #242
@bluedarter2 And if your printer is just year and half old, it should be capable of a driverless printing solution (AirPrint, IPP Everywhere). You can try if driverless does help you in any way (plus in driverless guys here have more possibilities to fix it rather than in 3rd part driver from Brother).

You can try driverless printing if you install your printer like this:

$ sudo lpadmin -p <choo

[2020-06-26 04:31] zdohnal commented on #242
*cupsFilter: "application/vnd.cups-postscript 0 brother_lpdwrapper_mfcl8900cdw"
*cupsFilter: "application/vnd.cups-pdf 0 brother_lpdwrapper_mfcl8900cdw"

@bluedarter2 that's what I feared - brother driver needs their specific filter. Would you mind trying driverless solution? @PIYUSHgoyal16 can be help you more with that than with Brother driver.

[2020-06-26 05:12] bluedarter2 commented on #242
I use the printer with AirPrint, from a Windows 10 box, and CUPS on my Mac Mini *without problems* (an older version of CUPS on MacOS 10.13.6).

This problem ONLY happens on my new Ubuntu machine.

I did this and it changed nothing.  Still only 1 copy of the document when I set the quantity to 2.
Yes I'm positive I printed to the newly added "printer".

[2020-06-26 06:32] zdohnal commented on #242
Well, you don't use Brother drivers for Linux there, are you? :) Vendors usually don't update their drivers much, which can be a problem on Linux, which is fast developed.

Please check the new ppd and attach it here - it is more likely to reproduce it with a file which doesn't require 3rd party software. And CUPS debug log during printing is helpful too - enable it with ```cupsctl --enable-loggin

[2020-06-26 11:58] HonzaK94 opened #255 "Printing multiple copies prints only 1 (pstopdf vs gstopdf)"
Hello.

PROBLEM DESCRIPTION: Printer only prints one copy even though we want to print multiple copies of a document.

Our company uses postscript to print documents from our POS system based on Java and everything was working fine until we reached OpenSUSE 15.x distribution (15.0, 15.1, 15.2).

With the help of a friend from OpenSUSE forums (thanks deano_ferrari) I have managed to pinpoint the cu

[2020-06-26 12:17] HonzaK94 commented on #255
cups-filters 1.8.2-3.1 use:

GSTORASTER
PDFTOPDF
PSTOPDF

cups-filters 1.25.0-lp152.1.8 use:

GSTORASTER
PDFTOPDF
GSTOPDF

[2020-06-26 12:28] HonzaK94 commented on #255
So the problem most likely lies within the GSTOPDF filter. I have tried using the PSTOPDF filter from 1.8.2-3.1 along with GSTORASTER + PDFTOPDF from 1.25.0-lp152.1.8 and it works just fine, as long as I rename PSTOPDF --> GSTOPDF.

[2020-06-26 12:36] HonzaK94 commented on #255
[CORRECT AMOUNT OF COPIES.zip](https://github.com/OpenPrinting/cups-filters/files/4836922/CORRECT.AMOUNT.OF.COPIES.zip)
[ONLY 1 COPY LOG.zip](https://github.com/OpenPrinting/cups-filters/files/4836924/ONLY.1.COPY.LOG.zip)

[2020-06-26 14:06] HonzaK94 commented on #242
https://github.com/OpenPrinting/cups-filters/issues/255

[2020-06-26 14:19] PIYUSHgoyal16 commented on #242
@bluedarter2 Thank you very much for sharing the PPD file. I am trying to reproduce the bug and will check for any bug. I try to report ASAP.

[2020-06-26 14:24] HonzaK94 commented on #255
Further examining the 2 logs, I have found out that this parameter "-dDoNumCopies" is not called when using the original, new gstopdf. It is however, called when using the pstopdf disguised as gstopdf.

[2020-06-26 15:07] bluedarter2 commented on #242
Please see this issue:

[2020-06-26 19:55] tillkamppeter commented on #255
Fixed in commit 6157b8f617. Thank you very much for the bug report. Please test.

[2020-06-26 19:55] tillkamppeter commented on #242
Fixed in commit 6157b8f617. Thank you very much for the bug report. Please test.

[2020-06-26 19:55] #255 closed

[2020-07-07 09:25] fpoulain opened #260 "Cups filled the drive with naïve « auto » debug log feature"
Hi,

Got a workstation which no more started (debian stable / buster) since deamon logs have been flooded.

The relevant log extracts :

[code]

Last lines are repeated soo much that ~33 minutes and 4Go after, the disk has been full.

Maybe, the automation of « turn on DebugLogging » should be done with more cautious.

[2020-07-07 09:44] fpoulain commented on #260
The version:
[code]

The package:
[code]

[2020-07-07 11:36] nidhijainpnp commented on #234
Hi @kimme1024
Please tell the version of CUPS you are using.

From your above logs,it seems that your network printer was not even recognized.Because I was able to reproduce exactly the same logs without having any network printer.
But this contradicts your first comment.Here your network printer was even showing idle status with driver files:

After that I can see my printer with an Idle status.

[2020-07-07 13:57] kimme1024 commented on #234
Hi!

Thanks for the reply.
As it's been some time since I was fiddling around with this tried reinstalling the printer again with the most recent drivers I could get.

"driverless" doesn't give any output.

When trying to print it states "filter failed".

last page of log:

[code]

[2020-07-07 15:32] jferguson4 opened #261 "cups 2.2.7 causes image on each subsequent page to rise about 0.10 inch on network printer"
Please delete this or redirect it if not appropriate here. Or let me know where i should have posted it.

Printer is Sun SPARCprinter I connected to Sun SPARCstation 10.  Ghostscript 6.01 installed in SunOS 4.1.4 on SPARCstation 10.  Network machine running Cups 2.2.7 under Ubuntu 18.04 is HP Elite.  This system prints flawlessly to HP Envy network printer.

Image rising problem does not occur wit

[2020-07-07 19:25] bluedarter2 commented on #242
I tried to test this by doing the following:
downloaded the current cups-filters-master sources
configure/make
replaced /usr/lib/cups/filter/gstoraster with the just-built executable

Then I retried printing multiple copies to the MFC-L8900CDW, still only get 1 copy.

I don't want to over-write my whole Ubuntu 20.04 cups filters installation with what I just built, only what is necessary to get th

[2020-07-07 19:37] tillkamppeter commented on #242
Sorry, seems that your problem is not the same as #255. There the input file was PostScript and my fix only solves a problem of certain applications sending PostScript jobs. Re-opening.

[2020-07-07 20:29] dipanshu231099 commented on #238
i tried running the following 2 commands:
```PPD=Samsung_SCX-4x21_Series.ppd /usr/lib/cups/filter/pdftopdf 1 user title 1 "print-scaling=auto-fit" /usr/share/cups/data/default-testpage.pdf > sample1.pdf``
```PPD=Samsung_SCX-4x21_Series.ppd /usr/lib/cups/filter/pdftopdf 1 user title 1 "nothing" /usr/share/cups/data/default-testpage.pdf > sample2.pdf``
produce identical outputs. i guess @mattenklick

[2020-07-08 05:18] mattenklicker commented on #238
I see two options here:
Either change the calculation so that it produces correct results even with -ffast-math.
Or break the build if -ffast-math is switched on.

[2020-07-08 07:55] dipanshu231099 commented on #238
@mattenklicker have you show outputs obtained using different flag such as ```-fno-fast-math```

[2020-07-08 08:14] tillkamppeter commented on #249
I do not see any relation to cups-filters here, is probably a problem of CUPS itself. Please report [there](https://github.com/apple/cups/issues). Closing ...

[2020-07-08 08:14] #249 closed

[2020-07-08 13:32] nidhijainpnp commented on #234
Hi @kimme1024 ,
Could you please tell me the version of CUPS by typing the following command: `apt show cups`
Also please attach the error_log file in .txt format rather than just pasting the last page of it ,of the above logs and also post the terminal output of:

[2020-07-08 13:45] mattenklicker commented on #238
@dipanshu231099 You mean you can't reproduce it?

Nice, I tried the git version and it seems to be fixed in git!

It was broken until 1.27.5:
`PPD=Samsung_SCX-4x21_Series.ppd /usr/libexec/cups/filter/pdftopdf 1 user title 1 "print-scaling=auto-fit" /usr/share/cups/data/default-testpage.pdf > sample.pdf && qpdf --qdf sample.pdf -|grep stream -A5 -m1`
[code]

[2020-07-08 13:45] #238 closed

[2020-07-08 13:48] dipanshu231099 commented on #238
@mattenklicker yes i was unable to reproduce the error till now. So i guess it had been an issue of updating to the latest commits then. I am glad the lattest commits sorted the problem for you.

[2020-07-08 15:44] nidhijainpnp commented on #234
Based on this ppd file ,I have run the following command and was not able to reproduce errors
[code]
So maybe ,it could be the issue of updating the CUPS to latest commits then.It would give me better insight into the errors ,if you could post your commands also(terminal o/p).

[2020-07-08 16:13] kimme1024 commented on #234
Hi @nidhijainpnp ,

You can find the error_log in the attachment.

Version:
[code]

[error_log.txt](https://github.com/OpenPrinting/cups-filters/files/4891873/error_log.txt)

[2020-07-08 16:56] nidhijainpnp commented on #234
Hi @kimme1024
Would you please post here the (i/p and o/p)command you typed on the terminal    ,which had given you the following error of "filter failed"?

[2020-07-08 17:06] kimme1024 commented on #234
Hi @nidhijainpnp

2.2.10 seems to be the latest version for raspbian.

[code]

[2020-07-08 17:14] nidhijainpnp commented on #234
Hi @kimme1024
Maybe,latest version is not added in apt package.You could install the latest version by cloning the following repository
(https://github.com/apple/cups) and following the instructions given here [https://github.com/apple/cups/blob/master/INSTALL.md]()

[2020-07-08 18:43] tillkamppeter commented on #234
@kimme1024, what was your original intention?
1. Your printer is advertised to do AirPrint and you want to use AirPrint (as a client) on your Raspberry Pi to print on your printer.
2. You know that your printer is not capable of driverless (AirPrint for example) printing (and you have even proven this now by the interaction with us). You want to set up CUPS on your Raspberry Pi to set up a print q

[2020-07-08 20:43] kimme1024 commented on #234
@tillkamppeter, my intention is indeed nr2.

The strange thing is that CUPS immediately finds my printer on the network. When adding it, it only asks voor a PPD file, nothing more so I don't have an option to install a complete driver package (that probably doesn't exist for RPI indeed).
The strange thing is that I can see the printer on my iOS devices and CUPS receives the print jobs from them (s

[2020-07-08 21:15] tillkamppeter commented on #234
A last chance is to check if your printer actually does driverless printing by itself by going through its web admin interface and look for options like "IPP", "AirPrint", "Mopria", ... Activate these and see whether this way at least one of the following happens:
1. Your iOS device sees your printer directly without need of your Raspberry Pi.
2. CUPS on your Raspberry Pi can actually set up your

[2020-07-08 21:15] #234 closed

[2020-07-08 21:31] kimme1024 commented on #234
Hi @tillkamppeter,

Sadly I can't find this in the webinterface.

The only things I found was:
- PDL (Plug&Play) Network: UFRII LT
- LPD is also active on port 515, I tried configuring CUPS via LPD (lpd://IP/queue) but it asks again for the driver after which it gives the filter error again.

Bummer but thanks for investing your time in this!

[2020-07-08 21:41] tillkamppeter commented on #234
Thank you very much. After googling for your printer model I also got the impression that it is completely proprietary, none of the modern standards for driverless or mobile printing, no standard PDLs, no IPP.

[2020-07-09 01:56] rauferd commented on #242
I have a similar issue with an EPSON ET 3700 network-attached printer on Debian 10 buster, using CUPS 2.2.10 / cupsfilters 1.21.6 and the attached PPD file.

Printing a single copy works fine. Printing multiple copies reports success, but prints only one copy (both lp -n ... and gui print dialog).

Printing multiple copies works fine with Windows or Debian 9 stretch.

I am positive that it is not

[2020-07-10 12:21] nidhijainpnp commented on #242
Hi @bluedarter2,
Enable the CUPS debug log during printing with `cupsctl --enable-logging`, try to print again and please attach the logs as a .txt file here.(In Ubuntu,error_log file can be found in /var/logs/cups/error_log)Log files will be helpful for me for better debugging.

[2020-07-10 12:29] nidhijainpnp commented on #242
@rauferd , it is possible to attach a PPD file of your print queue - you just have to copy the file and add .txt suffix to the copy.

[2020-07-10 14:50] bluedarter2 commented on #242
@nidhijainpnp I assume you meant: `cupsctl --debug-logging`
I've attached the resulting error_log.
[cups-error_log.txt](https://github.com/OpenPrinting/cups-filters/files/4903786/cups-error_log.txt)

[2020-07-10 15:07] dipanshu231099 commented on #261
hi @jferguson4
this is in fact correct place to mention an issue.
i would suggest you to go through following steps
### 1. Using the latest git version
To use the version you can follow the INSTALL instructions to build the git version in your system.

### 2. center-of-pixel method
this is applicable when the Ghostscript is rendering PostScript or PDF files into a raster format:
If you are using a

[2020-07-10 16:00] nidhijainpnp commented on #242
@bluedarter2  ,Thanks for sharing the error_log. I am trying to reproduce the bug  and will  report ASAP.
Yes ,it is `cupsctl --debug-logging` ,editted in the comment,

[2020-07-10 16:03] jferguson4 commented on #261
I can send the PPD as an ascii txt file.  I'll do it if your recommendation doesn't solve the problem.   Or is it possible that Cups is doing something to it that would be revealed using the method you describe above?

Thanks you for responding to this.
john

[2020-07-10 21:44] tillkamppeter commented on #261
You also use a VERY old Ghostscript version. 6.01 is many years old. Try using the current version, [9.52](http://www.ghostscript.com/). Many bugs have been fixed in all the years.

[2020-07-10 21:48] tillkamppeter commented on #261
@dipanshu231099, the (3) in your post shows the steps to get the job data which would go to the printer, not the PPD file.
@jferguson4 to attach your queue's PPD file uncompressed get the file
[code]
copy it, and rename the copy to have a `.txt` file name extension. Attach this file to this bug report.