[2017-10-24 08:25] KurtPfeifle opened #1 "Mismatching statements re. `rastertopclm` shell script"
The `COPYING` file states about `filter/rastertopclm`:

However the `filter/rastertopclm` shell script itself says this:

[2017-10-24 11:39] tillkamppeter commented on #1
Fixed in 5abc337472bc70fccfd780004a63e6cbd65d542b

Thank you for reporting.

[2017-10-24 11:39] #1 closed

[2017-11-08 07:50] sw7tch opened #2 "Adobe Reader comments not getting printed out?"
Hi all,

I'm not sure if this is the best place to ask? Sorry in advance if it is not.

I've set up a Raspberry Pi to print some drawings that are in pdf format with a shell script using the 'lp' command. To make sure that the drawings don't get clipped off the side of the page I added the option '-o fit-to-page'

Some of these pdf's have comments added to them using adobe reader. If I use the '-o

[2017-11-14 15:07] tillkamppeter commented on #2
This is similar to the problem of filled PDF forms where the filled content did not get printed with fit-to-page set. The PDF needs to get re-generated with the filled information or your comments/annotations being integral part of the PDF.
For the filled forms a preliminary fix was applied as e530eefc and or more sophisticated fix is worked on in QPDF ((https://github.com/qpdf/qpdf/issues/72|here

[2017-11-14 15:11] tillkamppeter commented on #2
The preliminary fix is available in cups-filters 1.17.4 or newer. Please check which version is installed on your system.

[2017-11-15 17:56] akorobkin opened #6 "This slightly broken PDF file doesn't print with fitplot, prints without it"
QPDF project recently released version 7.0.0, fixing the issue https://github.com/qpdf/qpdf/issues/106
I compiled fresh cups-filters with qpdf 7.0.0 and it can print many more files now.

However, here is a curious problem with this file: [shineline.pdf](https://github.com/qpdf/qpdf/files/1475753/shineline.pdf)

It prints ok if sent to print untouched: "lp shineline.pdf". At the same time, it does

[2017-12-01 21:35] mikhailnov opened #7 "Add Samsung SCX-3400"
Hello, Samsung SCX-3400 works perfectly with the CUPS driver for SCX-3200 on Linux (Ubuntu 16.04), but that driver is not suggested automatically.
If you need printer information such as IDs, I can provide.

[2017-12-13 22:27] tillkamppeter opened #8 "bannertopdf should not depend on Poppler"
bannertopdf generates PDF files for banner pages and test pages. It does not render existing PDF files, so it does not need a PDF interpreter, so Poppler is not really needed for this task. QPDF would be good enough here. QPDF is a helper to generate and modify PDFs, especially to create a correct XREF table.
Also we want to give the user the liberty to use cups-filters with one single PDF interpr

[2017-12-13 22:55] tillkamppeter opened #9 "pdftoraster uses non-public/internal APIs of Poppler"
@sahilarora535 investigated the code of pdftoraster and writes:

We need an existing Poppler output device for raster output ot create one if there is no suitable one. Poppler has a `pdftoppm` utility which generates the genric PPM raster format, so Poppler's output device used by this utility can probably somehow made use of. I do not know the PPM and similar raster graphics formats, for example

[2017-12-14 13:35] zdohnal opened #10 "cups-browsed doesn't automatically detect all printers in LAN without BrowsePoll"
Hi Till,

I have rather question than maybe issue about cups-browsed functionality - should cups-browsed be able to discover and create local queues for all printers in LAN, without need of setting 'BrowsePoll' option? Like all network IPP printers, USB printers, CUPS remote queues will be discovered at the start of cups-browsed without changing cups-browsed.conf?
Because I can only get my remote

[2017-12-14 14:21] tillkamppeter commented on #10
For cups-browsed to discover the remote CUPS queues in the same local network, it is enough to have a line
[code]
in `/etc/cups/cups-browsed.conf`.
For discovering IPP network printers you need to set one of the following:
[code]
Please check your `cups-browsed.conf`, or simply attach it.

[2017-12-14 14:23] tillkamppeter commented on #10
And for USB printers: Conventional USB printers are not discovered and set up by cups-browsed. For IPP-over-USB printers you have to install ippusbxd and follow the instructions in its README.md file, especially apply the Avahi patch.

[2017-12-14 16:29] zdohnal commented on #10
I have mostly default cups-browsed.conf for 1.16.1 version, I have only:

BrowseRemoteProtocols dnssd cups
LocalQueueNamingRemoteCUPS RemoteName

because remote cups is 1.4.3. But I cannot see printer created even by cups-2.2.5 with debug log:

cups-browsed[13107]: Thu Dec 14 17:09:49 2017 Avahi Resolver: Service 'test-pro-f27 @ linux-2' of type '_ipp._tcp' in domain 'local' skipped, not a local s

[2017-12-14 16:53] tillkamppeter commented on #10
Please run the command
[code]
and post its output here. Thanks.

[2017-12-15 08:14] zdohnal commented on #10
Server version: avahi 0.7; Host name: linux.local
E Ifce Prot Name                                          Type                 Domain
+   ens3 IPv6 test-pro-f27 @ linux-2                        Internet Printer     local
+   ens3 IPv4 test-pro-f27 @ linux-2                        Internet Printer     local
+   ens3 IPv6 test-pro-f27 @ linux-2                        Secure Internet Printer local

[2017-12-15 23:33] sahilarora535 commented on #8
@tillkamppeter
1. I have found the banner file format specifications from here: [CUPS Banner File Format](https://www.cups.org/doc/spec-banner.html)
As per the specifications sheet, the mime type for banner file is supposed to be `application/vnd.cups-banner`. However, in cups-filter, the mime type is `application/vnd.cups-pdf-banner`. Are they the same format?
https://github.com/OpenPrinting/cups

[2017-12-16 00:03] tillkamppeter commented on #8
The banner file format does not match the original CUPS format. As we are working with PDF now, we have improved the flexibility by dropping the support for inserting images but instead, allowing a template PDF file. This PDF file is scaled into the page and contains graphical elements which a certain banner ot test page always should have, like the big "CLASSIFIED" or the logo of the company, in

[2017-12-16 10:14] sahilarora535 commented on #8
@tillkamppeter

The file [filter/foomatic-rip/foomaticrip.c](https://github.com/OpenPrinting/cups-filters/blob/master/filter/foomatic-rip/foomaticrip.c) also uses the file we are planning to change, i.e. [pdf.h](https://github.com/OpenPrinting/cups-filters/blob/master/filter/pdf.h) and [pdf.cxx](https://github.com/OpenPrinting/cups-filters/blob/master/filter/pdf.cxx). What does this `foomaticrip`

[2017-12-18 00:40] tillkamppeter commented on #8
foomaticrip.c das an `#include "pdf.h"` but this included foomatic-rip's own `pdf.h` in the same directory which is the header of foomatic-rip's own `pdf.c`. This has nothing to do with the `pdf.h` and `pdf.cxx` in the `filter/` directory. You see this also when doing `ldd /usr/bin/foomatic-rip` on the command line. The output does not list `libpoppler`.

[2017-12-19 13:04] Ste74 commented on #10
Not sure if also this report is related:
https://forum.manjaro.org/t/printer-quit-today-after-updating/36610

[2017-12-30 18:48] sahilarora535 opened #14 "PDF forms converted using bannertopdf show gibberish text when the form is edited."
I created a PDF form by converting a `PDF-BANNER` file. The contents of the banner file are as follows:
[code]
The file `form_english.pdf` can be found [here](https://github.com/OpenPrinting/cups-filters/blob/master/data/form_english.pdf).

The banner file is converted to PDF using the following command:
[code]

In the original file, if a field in a form is edited, it gets correctly edited and is

[2017-12-31 10:21] sahilarora535 opened #15 "Header and Footer are not getting printer during conversion of a banner file using bannertopdf."
The `Header` and `Footer` keywords in a banner file are not getting printed when converted using `bannertopdf` filter. Here are the contents of the banner file:
[code]
The file `default.pdf` can be found [here](https://github.com/OpenPrinting/cups-filters/blob/master/data/default.pdf).

The resulting PDF file do have `job-id`, or other information which is specified in the `Show` keyword, but no h

[2018-01-02 13:23] tillkamppeter commented on #14
Sahil, it was not me who wrote bannertopdf so I do not know how it exactly works internally. I assume that it worked correctly when it was written several years ago, and kept working for a long time as there were no other complaints before yours. For me it looks like that changes in the unstable interfaces of Poppler made it fail.
As you are already working on replacing the Poppler-based bannertop

[2018-01-02 13:23] #14 closed

[2018-01-02 13:27] tillkamppeter commented on #15
Same as with issue #14.

[2018-01-02 13:27] #15 closed

[2018-01-02 13:29] tillkamppeter commented on #8
This should also solve issue #14 and issue #15.

[2018-01-02 13:29] tillkamppeter commented on #14
Should be solved by the solution of issue #8.

[2018-01-02 13:30] tillkamppeter commented on #15
Should be solved by the solution of issue #8.

[2018-01-11 14:29] smilingthax commented on #8
Note that pdf.cxx's `pdf_fill_form()` uses some functionality not (yet?) easily doable with QPDF (also cf. https://github.com/qpdf/qpdf/issues/72 ...)

BTW, https://github.com/OpenPrinting/cups-filters/blob/master/filter/bannertopdf.c#L183 does not do any escaping for pdf strings. It probably isn't to difficult to let bannertopdf create invalid pdf with certain parameters ...

[2018-01-11 19:38] sahilarora535 commented on #8
@tillkamppeter Is this the same issue of PDF form flattening which has been mentioned by @smilingthax
Issue: https://github.com/qpdf/qpdf/issues/72

Also, @smilingthax, what kind of problems can we expect while converting Poppler to QPDF, and how should we overcome that? It would be great if you could tell us bit more on this.

[2018-01-11 19:55] tillkamppeter commented on #8
@sahilarora535, I do not know how bannertopdf exactly works. A student made it as GSoC project many years ago and it simply worked, So I accepted it as part of cups-filters. Most probably it does not use the PDF feature of fillable forms.

[2018-01-11 23:32] smilingthax commented on #8
No, it's not really the same problem. bannertopdf inserts text strings atop an existing template pdf (e.g. `data/default.pdf`), but it also has a special feature to fill "recognized" form fields in the template (e.g. `data/form_english.pdf`), when the field-name(?) matches one of the option-names(?).

To do this, it `pdf_fill_form()` uses poppler methods to access the existing form-fields, modifie

[2018-01-13 08:43] sahilarora535 commented on #8
@tillkamppeter : It seems it does use the PDF fillable forms feature as @smilingthax  mentioned.

@smilingthax  : So the not working of `font-embed` with `bannertopdf` could be a reason why `Font` keyword does not work with PDF files. I tried adding this to a banner file:
[code]
Apart from that, I tried changing the values to `Arial`, `Roboto`, etc., still I did not find any font change in the res

[2018-01-13 09:48] smilingthax commented on #8
Regarding escaping, see the PDF Reference (e.g. for version 1.7, Section 3.2.3 String Objects):

Line 183 in bannertopdf.c (link in my first comment) does not do this.

The most recent version on bannertopdf on my machine (cups-filters 1.18.0-3) produces Syntax Errors when viewed with xpdf, caused by https://github.com/OpenPrinting/cups-filters/blob/master/filter/pdf.cxx#L224 creating String-Objec

[2018-01-13 10:03] smilingthax commented on #8
Regarding the font stuff, I'm not sure what `banner-font`, etc. is supposed to do. The current implementation only applies it to the form (tries to), and seems to have problems even doing that. As a form font is AFAIR already specified/contained in the template pdf (when it contains a valid pdf form), I don't see much value in bannertopdf overriding it afterwards, while probably adding some non-tr

[2018-01-13 10:21] sahilarora535 commented on #8
I understood escaping, thanks a lot.
Allow me to make some progress in `bannertopdf`, and I will surely get back if I need some help.

Thanks a lot again.

[2018-01-16 18:18] tillkamppeter commented on #8
Probably you can do the whole adaptation to QPDF in pdf.cxx. If not, it is no problem to convert bannertopdf.c into C++. And for that you do not need to restructure the whole bannertopdf.c, as C is a subset of C++ it would be enough to rename bannertopdf.c into bannertopdf.cxx and then do the needed QPDF calls in it.
But first see whether it is possible to do the whole switchover only in pdf.cxx.

[2018-01-25 22:08] sahilarora535 commented on #9
The `pdftoppm` utility of poppler not only generates `PPM`, but is also capable of generating `jpeg`, `png` and `tiff` output files from a PDF file. The `pdftocairo` utility on the other hand is able to generate `ps`(Postscript), `eps`(Encapsulated Postscript) and `svg`(Scalable Vector Graphics) along with `jpeg`, `png` and `tiff`. I saw the [`cups-filters.convs.in`](https://github.com/OpenPrintin

[2018-01-30 10:15] tillkamppeter commented on #9
Sorry for the late answer.
Please take into account the following aspects:
- `imagetoraster` was not worked on for longer time. It must be checked whether everything in it works as well as in `pdftoraster`/`gstoraster`: 1. All color spaces need to work in 1, 8, and 16 bit per pixel and color color depth with color management, especially SRGB, AdobeRGB, SGray, CMYK, Black. 2. Borders must be handle

[2018-02-01 20:37] sahilarora535 commented on #9
@tillkamppeter
I had a look into the `poppler`'s codebase, and I found out that since `poppler` is a fork of `xpdf`, all those utilities such as `pdftoppm`, `pdftocairo`, etc. are not `poppler` utilities, but `xpdf` utilities, which can be seen on the [`xpdf` website](http://www.xpdfreader.com/about.html). All these utilities use the unstable/unsupported headers of `xpdf` which we aim to remove fr

[2018-02-02 11:14] tillkamppeter commented on #9
Sorry for the slow reply, I have caught a heavy flu since Wednesday.
I would say the following:
1. This is most probably the best idea, as in the more probable case that Poppler/XPDF has no suitable stable API we do not need to require changes from them on their projects which they have to maintain. We also have the side effect of imagetoraster getting maintained again.
2. This is a bad idea as we

[2018-02-02 11:18] tillkamppeter commented on #9
I think the color space and color management fixes in imagetoraster are not such a big problem. Simply have a look on what other filters do. And in the filter chain the step which is rendering the PDF has to do the color management. Also if the user requests a color depth of 16 bit per color and pixel, there should be no 8-bit bottleneck in the filter chain.

[2018-02-02 17:31] sideeffect42 opened #16 "cups-browsed SEGFAULTs when cupsEnumDests() returned dest has no "device-uri" option"
cups-browsed 1.20.0 crashes when starting up on Gentoo Linux.
I have a CUPS print server in my LAN that advertises printers through DNS-SD.

[code]

I could debug it so far that in `cups-browsed.c` in `get_local_printers(void)` when iterating through `dests`, the `device_uri` is `NULL` (for some printers?).
For example:
[code]

As a result the application segfaults in `new_local_printer(device_uri

[2018-02-03 11:27] tillkamppeter commented on #16
Fixed in [3dd9b4](https://github.com/OpenPrinting/cups-filters/commit/3dd9b4faa1a19ec2fd48b10b849e33ae2de587a8). Thank you for your bug report.

[2018-02-03 11:27] #16 closed

[2018-02-03 19:44] FedericoYundt opened #17 "Error: Filter \"brftopagedbrf\" not found. after update to 1.20"
Hi!
After update to version 1.20 from 1.19. My cups error log is spammed with `Filter \"brftopagedbrf\" not found.` message.

[2018-02-03 21:38] tillkamppeter commented on #17
In the transition from 1.19.0 to 1.20.0 neither the Braille support nor the build system got touched, so none of these files should have disappeared.
Did you use the same installation method (distro package vs. built from source) for both versions?

[2018-02-03 21:40] tillkamppeter commented on #17
@sthibaul, can you have a look whether with the current cups-filters versions is still all OK concerning Braille support?

[2018-02-03 22:01] FedericoYundt commented on #17
I'm using package from Archlinux official repos. I've seen more people reporting similar issues:
https://forum.manjaro.org/t/hp-envy-5640-filter-failed/37234/9
https://bbs.archlinux.org/viewtopic.php?id=234037
The first link is even from time before 1.20 update

Here are distros package changelog:
https://github.com/manjaro/packages-extra/commits/master/cups-filter/PKGBUILD
https://git.archlinux.o

[2018-02-04 09:43] sthibaul commented on #17
Hello,

It seems the installation of that script was missing indeed, sorry :/ Here is a pull request to fix it
https://github.com/OpenPrinting/cups-filters/pull/18

[2018-02-04 11:51] tillkamppeter commented on #17
I merged the PR now. Thank you very much.

[2018-02-04 11:51] #17 closed

[2018-02-04 17:49] sahilarora535 opened #19 "Add continuos integration support to improve maintainability."
We could probably add continuous integration support to `cups-filters` so that the codebase becomes less error-prone and we could also add tests which will test the functionality of each filter. This would make `cups-filters` more maintainable.

[2018-02-04 18:02] sahilarora535 commented on #9
@tillkamppeter

Yeah, I also thought the same, hence the solution was put at position 1. I will see what can be done to facilitate this.

Agreed.

Yes, I also think Poppler does not have suitable APIs for this.

Agreed.

To convert pdf to raster, the chain will be:
[code]
How do I check the bottlenecks? I don't think `pdftopdf` will be a bottleneck. Also, `pdftoraster` will make use of `pdftoppm`

[2018-02-04 20:59] tillkamppeter commented on #9
The old chain is `pdftopdf -> pdftoraster` where the data is PDF during the transition, so there no problem. At the end we have Raster and it has the correct color space and depth as requested. This I have tested.
The new chain will be `pdftopdf -> pdftoppm -> imagetoraster`. The bottleneck can happen at the second transition, especially in the case that the pdftoppm produces only 8-bit or not all

[2018-02-15 15:28] P3p1t0 opened #22 "Can't add Canon MG4120 anymore (cups-filters 1.20.0)"
I use Print Setting ([system-config-printer](https://github.com/zdohnal/system-config-printer)) in order to add printers.

When I try to add my printer by automatic detection, it just fails with "server-error-internal-error". Normally, it should add my printer and use driverless for printing. This GUI tool always chooses driverless by default when you use automatic detection; it doesn't let you ch

[2018-02-15 16:38] tillkamppeter commented on #22
Please run the following command:
[code]
This will output the URI of your printer. Does it do so? Then run the following command:
[code]
Replace `URI` by yoiur printer's URI which you obtained with the first command. Please attach the resulting `ipp-attrs.txt` file to this issue. Thanks.

[2018-02-15 16:46] tillkamppeter commented on #22
Also run the command
[code]
with the URI from above. Please attach `printer.ppd.txt` to this issue and also post all screen output of the command.

[2018-02-15 17:11] P3p1t0 commented on #22
1. driverless

I got the adress of my printer. No problem here.

2. ipptool -tv ipp://D3BFBB000000.local:631/ipp/printer get-printer-attributes.test > ipp-attrs.txt

Here's the ipp-attrs.txt text file generated by this command.
[ipp-attrs.txt](https://github.com/OpenPrinting/cups-filters/files/1728619/ipp-attrs.txt)

3. driverless ipp://D3BFBB000000.local:631/ipp/printer > printer.ppd.txt

The pri

[2018-02-15 22:57] wifiprintguy commented on #22
It might be good for "driverless" to have an accompanying "driverless.test" file that can list its expected IPP attributes and PASS or FAIL so that its dependencies are more obvious...

[2018-02-16 09:00] tillkamppeter commented on #22
@wifiprintguy, this was also my idea when I looked into the attributes file of the OP yesterday, because I did not see anything broken in it. The driverless.test file needs to generate exactly the same IPP request as   the cups-filters utilities use for the PPD generator.
The change from cups-filters 1.19.0 to 1.20.0 is that the PPD generator is updated to the same functionality of the one of CUPS

[2018-02-16 19:35] wifiprintguy commented on #22
In the "get-printer-attributes.test" from CUPS (usually in something like /usr/share/cups/ipptool/) the Get-Printer-Attributes request doesn't include a "requested-attributes" operation attribute. Without that, as per PWG 5100.11 section 10.7, the Printer should NOT return "media-col-database" unless it is explicitly requested, like so:

    GROUP operation
    ATTR charset attributes-charset utf-

[2018-02-16 19:56] tillkamppeter commented on #22
Please download this test file
[get-printer-attributes-2.0.test.txt](https://github.com/OpenPrinting/cups-filters/files/1732603/get-printer-attributes-2.0.test.txt)
and rename it:
[code]
then run, with your printer's URI:
[code]
and attach `ipp-attrs-2.txt`. Thanks.

[2018-02-17 23:37] P3p1t0 commented on #22
Here's the ipp-attrs-2.txt file.

[ipp-attrs-2.txt](https://github.com/OpenPrinting/cups-filters/files/1734263/ipp-attrs-2.txt)

[2018-02-18 17:48] tillkamppeter commented on #22
I have looked into your printer's new attributes file and it seems that polling the "media-col-database" IPP attribute makes the printer stopping in the middle of its answer and so the answer stays incomplete, essential attribiutes missing, and so ending up with no PPD file being generated.
cups-filters has introduced polling "media-col-database" in version 1.20.0, the first version which does not

[2018-02-20 02:13] P3p1t0 commented on #22
Somehow, ipptool doesn't recognize the --ippserver option, and it isn't suggested by the output.
[code]

[2018-02-22 15:38] OhGonneck opened #23 "Printing speed degraded on pdf forms"
Note: I have technically not really an idea how cups-filter works. (Or why the potential bug could be related to it) but the developer of the cups project seems to think it could be so:
https://github.com/apple/cups/issues/5242#issuecomment-367021585
I am just sure that the "symptom" shows on several newer Linux distributions and it doesn't on older ones.

After updating the operating system (and

[2018-02-23 18:05] sahilarora535 opened #24 "rastertopclm: Incorrect PCLM output when input raster resolution is not the same as pclm default resolution."
Sometimes it may happen that the default resolution for PCLM is different from what the input `raster` has. In that case, the PCLM file generated from the `rastertopclm` filter is incorrect. For instance, if the input raster has a resolution of `600dpi`, and the default PCLM resolution in the PPD file is `1200dpi`, this is how the resultant PCLM file looks like:

![image](https://user-images.githu

[2018-02-23 18:53] tillkamppeter commented on #24
If the input file is a PDF then pdftoraster should already produce raster in the desired resolution (the one which was selected by the user, a supported one). So in most cases the problem should not occur. But a filter chain going through imagetoraster could cause this problem when the input resolution is wrong. In this case we would need a resolution transformation, like 300 dpi -> 600 dpi or 600

[2018-02-23 19:23] sahilarora535 commented on #24
The problem does not occur in most of the cases, and even while testing on a range of PDFs with an HP Printer, the results were good all the time.

However, sometimes if the default resolution in the PPD is say `300dpi`, the default PCLM resolution is `600dpi`, or something different from the default resolution, and the input is a PDF file, then the chain followed is:
[code]

and in this case, the

[2018-02-23 21:16] tillkamppeter commented on #24
As for all filters of cups-filters also the rastertopclm (rastertopdf) filter needs to follow the rule of first checking the command line (5th argument) for a "Resolution" option (all filters in the chain receive the same command line) and if there is no "Resolution" option, take the "*DefaultResolution:" entry of the PPD and only if this is missing take anything else. This way all filters use the

[2018-02-27 16:05] sahilarora535 opened #26 "Commit messages have unwanted characters."
The commits from aa35e2cea8bbb4f982f6658031bd386978ae539f to bad2494746d1adef0840c17dcfae832e641bb4cf have unwanted characters which may have come mistakenly while committing.

![image](https://user-images.githubusercontent.com/12633577/36739401-ce66bea6-1c05-11e8-8de1-22c047908c17.png)

[2018-02-27 16:36] tillkamppeter commented on #26
The way of writing this way is intended by the contributor. And I do not see any offending characters. They all are standard- ASCII even. What is wrong with these entries? Did you have any problems to handle them caused by their commit messages?

[2018-02-27 16:43] sahilarora535 commented on #26
Oh, I thought this was not intentional and thought it had been done mistakenly. I saw the commit diffs and now it makes sense. Closing the issue.

[2018-02-27 16:43] #26 closed

[2018-02-28 18:13] tillkamppeter commented on #6
Can be a QPDF issue. @jberkenbilt can you have a look?

[2018-03-01 09:34] zdohnal opened #28 "RFE: make debug mode configurable from cups-browsed.conf"
Hi Till,

I think it would be good to have a way to set cups-browsed debug log in cups-browsed.conf, like cupsd has with 'LogLevel'. (IMO we can use something like DebugLog on/off)
I can look into it and create a patch, if you have other matters to attend to.

[2018-03-01 16:03] tillkamppeter commented on #28
cups-browsed has such a functionality. It is the DebugLogging directive. Currently it only allows to log or not to log and whether to log on stderr and/or a file.
If you like to have more functionality here a patch via a Pull Request is welcome.

[2018-03-02 02:00] jberkenbilt commented on #6
What is happening is that qpdf is, as indicated by the messages, failing to uncompress the contents, so it's retrying without doing so. For the case of just having qpdf do something, this would be innocuous. A quick perusal of the cups-filters code reveals that there are some places in the code where replaceStreamData is being called with a string. I can't specifically find the code, but if cups-f

[2018-03-02 02:07] jberkenbilt commented on #6
So, just to be clear, there may be a qpdf bug here, which I will investigate, but there also may be a way to fix cups-filters so it would be able to successfully handle the file in spite of the problem. If it is detected during a study of cups-filters's that qpdf is somehow throwing the data away on its own, that would definitely a bug, but I rather doubt that is happening. But if it is, another b

[2018-03-02 07:20] zdohnal commented on #28
Sorry, I totally overlooked it. That directive suits the need. But maybe it would be good to mention that when you use cups-browsed as service in systemd then 'stderr' means 'journal', or like 'syslog' in cupsd.
Actually, I don't know if there are use cases when cups-browsed isn't running as daemon - if it's only use case is to run as daemon, then IMHO 'stderr' is misleading - because all logs are

[2018-03-02 22:39] tillkamppeter commented on #6
@smilingthax, as you have done the QPDF-based pdftopdf, can you have a look into this and check whether there are any ways to address this in pdftopdf? Thanks.

[2018-03-03 12:13] smilingthax commented on #6
Well, pdftopdf has basically two modes (as did pstops): For trivial transformations (add border, ...), it uses addPageContents. For everything else (number-up, ...) it transforms a page into an xobject by concatenating all the streams in a given page's /Contents and creating a wholly new stream, with completely different stream dictionary [1]. This form xobject can now be drawn with arbitrary rota

[2018-03-03 16:40] jberkenbilt commented on #6
I just pushed a fix to qpdf to ignore checksum errors when uncompressing streams. I see that other PDF readers do this, and it makes sense. Combining this with slightly different options to zlib's inflate method enables qpdf to successfully uncompress these streams. Do you think it's worth release 8.0.1 with just this fix? Would it make it into Ubuntu 18.04 since it's a small bug fix and 8.0.0 is

[2018-03-03 17:02] jberkenbilt commented on #6
I should have explicitly stated that qpdf, with the fix, is able to handle this file with no errors, warnings, or loss of data. Thanks for alerting me to this issue.

[2018-03-03 17:39] tillkamppeter commented on #6
@jberkenbilt, thanks for the quick fix.
Unfortunately, I doid not sync QPDF 8.0.x into Ubuntu 18.04 before Feature Freeze as the cups-filters changes needing the new features of QPDF 8.0.x had not made it into 18.04.
So I want to ask you whether the fix is independent of the new 8.0.x features of QPDF and the patch can also be applied to 7.1.1 (the version currently in Ubuntu 18.04). Is this possi

[2018-03-03 19:51] jberkenbilt commented on #6
The code change will apply to 7.1.1 and should still resolve this problem. It is a very localized fix, and it touches a a file I did not change at all between 7.1.1 and 8.0.0. The test suite change will not apply cleanly, but it would be trivial to fix. The only change to the test suite was that the case that was previously exercising the reporting of the zlib data check error now no longer does s

[2018-03-03 19:58] jberkenbilt commented on #6
Here's a patch (-p0) relative to 7.1.1 that fixes this problem.

[code]

[2018-03-03 22:05] tillkamppeter commented on #6
Thank you very much. I will apply this patch to the QPDF package of Ubuntu 18.04.

[2018-03-04 13:59] jberkenbilt commented on #6
I've gone ahead and done a 8.0.1 release that includes this fix and one other small, command-line-only enhancement.

[2018-03-06 16:16] tillkamppeter commented on #6
QPDF 8.0.1 synced now. 8.0.2 will be synced as soon as it gets available.

[2018-03-06 16:20] akorobkin commented on #6
Thank you guys for resolving this curious issue. I can confirm that the patch works with 7.1.1.

[2018-03-07 10:06] tillkamppeter commented on #23
It seems that the problem appeared with some change between 1.8.2 and 1.16.4.

As this is a long time with a lot of changes, it is difficult to see which change caused the problem, or even which filter. To find this out you need to go onto the machine with the new cups-filters and put several jobs of the problematic file into the print queue. While the jobs get printed, run "top" and see which pro

[2018-03-07 10:22] tillkamppeter commented on #22
It looks like that the printer's get-printer-attribute answer is incomplete, having stopped somewhere in the middle of media-col-database and therefore missing several of the keywords expected by the test file. Either there is a firmware bug in the printer leading to this incomplete answer or ipptool has some bug, for example a size limitation for the answer. Please report an ipptool bug on

https

[2018-03-09 10:33] tillkamppeter commented on #22
Can you download the ippsample GIT and build it and do the `ipptool -tv --ippserver ...` command with the `ippserver` executable from there? Thanks.

[2018-03-09 16:40] OhGonneck commented on #23
On the openSUSE Leap 42.3 i can see pdf2ps running while printing, but the workload is not really high (maybe 12 percent at maximum).

On the Netrunner system the CPU usage actually is 100% between the pages (when the printer stalls and waits) . But the process is "lp".
How do i find out which filter it is?

I don't know if the following Information is useful:
When i start a printjob with 12 pdf p

[2018-03-09 16:53] OhGonneck commented on #23
Gosh i'm an idiot.
The test pdf file i created is not even necessary. It can be easily observed by printing "form_english.pdf" from the cups data directory several times.

On the old systems the printer prints steadily while it stalls after every single page on the new ones.

[2018-03-10 13:12] oglueck opened #29 "cups-browsed segfaults"
cups-browsed segfauls shortly after startup:
Program received signal SIGSEGV, Segmentation fault.
0x00007ffff64a1666 in strlen () from /lib64/libc.so.6
(gdb) bt
#0  0x00007ffff64a1666 in strlen () from /lib64/libc.so.6
#1  0x00007ffff64a12ee in strdup () from /lib64/libc.so.6
#2  0x000055555555f84d in new_local_printer (cups_browsed_controlled=0, device_uri=0x0) at utils/cups-browsed.c:764
#3  get

[2018-03-11 09:38] tillkamppeter commented on #29
This seems to be Issue #16 to me, which was fixed in cups-filters 1.20.1.

[2018-03-11 09:38] #29 closed

[2018-03-12 09:37] DerPit opened #33 "cups-browsed should reload-or-restart after network changes"
I have BrowsePoll lines for the main network environments where I use my laptop.  But when changing to such a network (replugging, suspend/resume) I cannot use those printers:  They are detected by cups:
[code]

but when trying to print there is an error message:
[code]
I have to restart cups-browsed to be able to print to this printer.  As this will also delete already submitted print jobs, such

[2018-03-13 08:00] oglueck commented on #29
confirming, fixed in 1.20.1

[2018-04-04 15:24] zdohnal opened #34 "remote cups queues are no longer discovered"
Hi Till,
I was testing cups-filters-1.20.2, but my company printers - remote cups queues from cups server - are no longer discovered. I saw the commit d6323a81a00d8bf , which changes remote cups queues discovering to recognizing printer->type from avahi only.
I think it is caused by this patch:
+#else
  /* Check by the resource whether the discovered printer is a CUPS queue */
  if (!strncasecmp(r

[2018-04-04 15:25] zdohnal commented on #34
Client has cups-2.2.7, print server cups-1.4.2 (I know, ancient...)

[2018-04-04 15:45] tillkamppeter commented on #34
What I have done is (but only if building with Avahi) to recognize remote CUPS queues by the "printer-type" field in the TXT record of the DNS-SD record of the printer, as recognizing by URI of the form "ipp(s)://<host>:<port>/printers/<queue>" is smisleading with some printers as the HP LaserJet Professional M1212nf MFP (Ubuntu bug #1731417).
When I saw in your bug report that the server has only

[2018-04-04 16:17] tillkamppeter commented on #34
Commit 9766ea347b351ae403237f076ad085902eab6b85 should fix this. Please test.

[2018-04-04 17:00] OhGonneck commented on #23
I changed the topic to better reflect the problem. I think it is justified to assume that this happens on all PDF form documents.

[2018-04-05 06:15] zdohnal commented on #34
Works as expected, thanks Till!

[2018-04-17 10:51] biocyberman opened #35 "can't print because opc-life-over"
I reported the problem here: https://github.com/apple/cups/issues/5295 but found out that is is better to report it on this repo. Essentially I want to continue printing despite the warning (warning about opc-life-over). How do I do that?

[2018-04-18 10:38] biocyberman commented on #35
I think that is correct, because I tried installing cups-pdf and also failed when doing "Print Test Page" there, with the same error. The `opc-life-over` warning is just a red herring.

As you pointed out, `pdftopdf` filter is complaining about missing `LIBQPDF_10` definition in `libqpdf.so.17`. I installed this `libqpdf-dev` and `libpqdf17` from the stock ubuntu package, which is equivalent to li

[2018-04-18 11:25] biocyberman commented on #35
Solved it, I compiled and install qpdf from source, and then recompiled and installed cups-filters and cups. I can print now :)

[2018-04-18 14:31] Joo-fanChang opened #36 "wrongs with pdf"
We use cups to print PDF, but if PDF contains annotation and form fields, print and print fields will lack these annotations and form

[2018-05-01 16:14] prlw1 opened #42 "const poisoning"
Picky compiler complaint (1.20.3 release):

filter/pdftoopvp/OPVPOutputDev.cxx: In member function 'void OPVPOutputDev::doUpdateFont(GfxState*)':
filter/pdftoopvp/OPVPOutputDev.cxx:532:46: error: invalid conversion from 'const Ref*' to 'Ref*' [-fpermissive]
   id = new SplashOutFontFileID(gfxFont->getID());
[code]

[2018-05-08 09:24] biocyberman opened #43 "cups-browsed: undefined symbol: ppdgenerator_msg"
This is how I checked out, compiled, installed, and ran the program:
[code]
OS:

[code]

[2018-05-08 09:37] tillkamppeter commented on #43
This looks like that cups-browsed is using another libcupsfilters library than the one it came with.
Did you uninstall any old version of cups-filters before installing the new one?
If you build from source, by default cups-browsed and libcupsfilters are installed into subdirectories of /usr/local, whereas distribution packages install into subdirectories of /usr.
You could use
[code]
to let your

[2018-05-08 12:51] prlw1 commented on #42
Suitable patch here:

http://cdn.netbsd.org/pub/pkgsrc/current/pkgsrc/print/cups-filters/patches/patch-filter_pdftoopvp_OPVPOutputDev.cxx

[2018-05-08 19:00] tillkamppeter commented on #42
Patch applied in commit 2561a9dc5ebdfd90cc2781ca8f1560f4faff19a1.
Thank you very much for your contribution.

[2018-05-08 19:00] #42 closed

[2018-05-08 20:38] tillkamppeter commented on #43
Note that Ubuntu uses systemd to automatically start services, so you need to use the systemd facilities if you want to get cups-browsed automatically started.
I also do not know whether the use of stow can cause any problem here.
I am closing this issue as this is most probably not a bug in cups-filters.

[2018-05-08 20:38] #43 closed

[2018-05-21 19:48] leonardorame opened #46 "Installing on Centos 6"
Hi, I need to install cups-filters for CUPS 2.1.3 (not in any repository for Centos 6) and after ./configure I get this:

[code]

Can anyone help me to first, install `gdbus-codegen` for Centos 6, then `cups-filters`.

BTW, it is really needed `gdbus-codegen`?.

[2018-05-23 19:17] archenemies opened #47 "problems with specifying output order"
I submitted this issue to CUPS last week. At the time it seemed obvious to me that it was a CUPS issue, but Michael Sweet argues that it is a cups-filters issue and I wanted to make your project aware of it. I want to pass this off to someone else if I can.

https://github.com/apple/cups/issues/5315

The gist of it is that I have an inkjet printer and I found it confusing that the pages come out i

[2018-05-28 08:17] OhGonneck commented on #23
Is there any way i can assist with this?
I'm slowly getting bored of laying lazily in the sun all the time ;-)

[2018-06-04 17:29] Michael-IDA opened #48 "Where does CUPS Filters expect to find libgs?"
A long and winding road has hopefully led me to the right place to resolve this...

As I really don't know what info might be needed, I did a bit of overkill on cut/paste.  Mod's do feel free to edit/delete anything here that's not needed or irrelevant.  And obviously I'm willing  run any diagnostic you need or want.

Ref: https://askubuntu.com/questions/983970/where-does-cups-expect-to-find-libgs

[2018-06-04 19:15] tillkamppeter commented on #48
Unfortunately, I have to tell you that this is also not a problem of cups-filters.
cups-filters uses Ghostscript but always calls it via the command line. It does not use libgs.
Looking into your posting on AskUbuntu, one sees that the problem is caused by a filter from your printer's manufacturer, Panasonic. The filter is /usr/lib/cups/filter/L_H0JDGCZAZ  One does not see that this filter uses li

[2018-06-04 19:15] #48 closed

[2018-06-18 14:42] jberkenbilt commented on #6
Is this issue resolved? Is there anything else I have to do here? I don't think there is, so I'm taking this off my list unless I hear otherwise. Thanks.

[2018-06-18 16:24] tillkamppeter commented on #6
The problem is solved, as we got confirmation from the OP. Closing ...

[2018-06-18 16:24] #6 closed

[2018-06-26 20:47] tillkamppeter commented on #35
OK, So I will close this now.

[2018-06-26 20:47] #35 closed

[2018-06-26 20:55] tillkamppeter commented on #23
From version 1.17.4 on `pdftopdf` calls additional filters (`pdftocairo` or Ghostscript) to flatten PDF forms so that the filled in text will not get lost when doing manipulations like N-up or scale-to-fit on the pages. This can slow down the printing.
In a future version of cups-filters pdftopdf will do this directly (using QPDF), which is probably faster as there are less sub processes and pipes

[2018-06-26 20:59] tillkamppeter commented on #24
@sahilarora535, do you still have this problem or is it already solved?

[2018-06-27 20:52] tillkamppeter commented on #47
I have checked the situation in cups-filters.
With all PPDs available in Linux distributions (like Ubuntu) `pdftopdf` is correctly determining the correct output order from the PPD file, checking `*DefaultOutputOrder: ...`, in case of an `OutputOrder` option being present, its setting, and in case of an `OutputBin` option accompanied by `*PageStackOrder` keywords being present in the PPD, the orde

[2018-06-28 21:43] tillkamppeter commented on #47
I have added `*PageStackOrder` lines to the `OutputBin` option of the generated PPDs now, so that for each output bin it is marked whether it needs reverse output or not.

[2018-06-29 11:31] tillkamppeter commented on #47
Now I have also committed my suggested modifications on pdftopdf: also support reversing via `output-order` option (settings: `normal`, `reverse`) and always do the reversing by software, ignoring support for hardware-reversing on PostScript printers.
Now all my ideas of improving reverse output order for face-up output bins are implemented in cups-filters. Please report the issues I have suggeste

[2018-06-29 17:50] tillkamppeter commented on #47
I have now posted a pull request for CUPS:
https://github.com/apple/cups/pull/5345
It contains all the changes which I did on the PPD generator of cups-filters, to be apllied to the PPD generator of CUPS.

[2018-06-29 18:07] tillkamppeter commented on #47
I had a look into your [original report to CUPS](https://github.com/apple/cups/issues/5315) now. You posted a sample PPD and also mentioned the line you inserted:
[code]
According to the PPD specs it has to be without quotes:
[code]
This most probably made `pdftopdf` not recognizing it.

[2018-07-05 08:18] OhGonneck commented on #23
Interesting. But the tested "slow" Systems have versions 1.16.4-1 and 1.8.2 which are both beneath 1.17.4.

To flatten the PDF before use is my current workaround.
(The same Document is used multiple Times .)

[2018-07-10 02:37] archenemies commented on #47
@tillkamppeter Thanks for your hard work.

The PPD spec is [here](http://www-cdf.fnal.gov/offline/PostScript/5003.PPD_Spec_v4.3.pdf)? I think I see what you are talking about on p. 124. It seemed like the version with quotes was able to change the behavior of my printer under CUPS so I'm not sure where the difference lies, I don't have time to check it again. Maybe we should post something to the

[2018-07-20 11:37] fjaell opened #50 "build broken with poppler 0.67.0"
....
filter/pdf.cxx: In function 'int pdf_fill_form(pdf_t*, opt_t*)':
filter/pdf.cxx:740:44: error: invalid conversion from 'const GooString*' to 'GooString*' [-fpermissive]
             field_name = ff->getPartialName();
[code]

[2018-07-20 13:32] #50 closed

[2018-07-23 19:08] scottcc commented on #36
+1 for this.. We also use cups to print PDFs and have the same issue. We can spin up Linux or use OSX - really we'll use whatever works - but we need to have annotations print out on the page, and currently (what we see with a base 2.1.x Ubuntu install of CUPS) if we pass either `fit-to-page` or `fit-plot` as `-o` options, the annotations appear to be stripped.

This is compounded of course by the

[2018-07-29 16:41] sahilarora535 commented on #24
@tillkamppeter Apologies, I could not follow up on this issue. I will have a look into it and get back. Thank you.

[2018-08-04 12:24] ntaylor-86 commented on #2
Hi @scottcc ,
I never actually could get the comments to print out properly ?
I came up with a hacky way around it tho. First I convert the pdf to a PostScript file and then print that file with the 'lp' command.

Below is a snippet of the shell script I use to print out files with comments on them

    pdftops -paper A4 "$file"
    # removing the '.pdf' extension
    no_extension=${file%.pdf}

[2018-08-08 03:27] dourensei commented on #22
I'm using Linux Mint 19 Cinnamon and got same issue when trying to add Canon MF8280Cw with connection type of driverless IPP(ipp/print).
I tried the `ipptool -tv --ippserver ...` command but unfortunately 0 bytes was written into the file `ipp-attrs-ippserver.txt`.
Here is my test file:
[get-printer-attributes-my.test.txt](https://github.com/OpenPrinting/cups-filters/files/2268820/get-printer-attr

[2018-08-12 17:41] #8 closed

[2018-08-14 14:13] SoniaBalodi opened #52 "Printing multiple copies on Plotter HP Designjet T520"
Hello,

I am trying to print multiple copies to a plotter setup in CUPS. Plotter model is HP Designjet T520, since CUPS doesn't have driver for this model i am using an alternative driver HP Designjet T1100 pcl.
I am using library : https://github.com/williamkapke/ipp to send prints, Print request consists of :
1) data (image)
2) operation-attributes-tag {
    job-name='any job name'
   document-f

[2018-08-15 08:12] joosteto commented on #22
I've got the same issue with a Cannon MF635Cx printer.
To add some info to this report, I ran the suggested commands with the github ipsample code from today.
Here are the results:

```joosteto@abelo:/tmp/ippsample/tools$ URI=`driverless`
joosteto@abelo:/tmp/ippsample/tools$ echo $URI
ipp://Canone15412.local:631/ipp/print
joosteto@abelo:/tmp/ippsample/tools$ ./ipptool -tv $URI /tmp/get-printer-att

[2018-08-15 16:02] imsedgar opened #54 "JobSheets option is not forwarded to remote printer queues created by cups-browsed"
We have set JobSheets option with a value like "mybanner none" to a shared printer queue. File /usr/share/cups/banners/mybanner is available on cups print server and cups print client.

On our cups clients we run cups-browsed to make the shared printers from our cups print server available to all our linux computers. The problem is, that remote print queues created by cups-browsed all have "JobShe

[2018-08-15 16:13] imsedgar commented on #54
Additional info:
I have used option "-o job-sheets-default=mybanner,none" for "lpadmin" command on cups server to create the printer queue.

Output of "lpoptions -p printername" contains "job-sheets=none,none" on cups client, on cups server it contains "job-sheets=mybanner,none".

[2018-08-22 14:16] apbonn opened #55 "If I want to print 2 pages on 1. But it prints the 2 pages in the size of 4 pages"
Hi,

im using cups 1.7.5 on a pi3.
It worked great, but since 2 weeks i got this issue.

I want to print 2 pages on 1 page.
But the result is, that the 2 pages have the size, like when i would like to print 4 pages on 1.
So each page has not 50% size on the page, it has 25%.

If I just print one page on one page it works great.
If I connect the printer to my pc, it also works with 2 on 1 .

I rebo

[2018-08-22 18:36] tgurr opened #56 "Raise QPDF version requirement"
With the latest cups-filters-1.21.0 I get

[code]
with having QPDF 8.0.2 installed.

`configure.ac` states `PKG_CHECK_MODULES([LIBQPDF], [libqpdf >= 3.0.2])` as the version requirement for QPDF.

Upgrading to QPDF 8.2.1 allowed cups-filters-1.21.0 to compile.

[2018-08-22 19:06] tillkamppeter commented on #56
Fixed in commit a59a18abd
Thank you very much.

[2018-08-22 19:06] #56 closed

[2018-08-22 20:14] tillkamppeter commented on #55
How did you send the job? Did you use any GUI application with its print dialog? Which one if so?
Or did you print by the command line?
Did you print from your pi3 system or from an external client? Which OS, CUPS, cups-filters version do you have on the client?
Which cups-filters version are you using on the pi3?
Which options did you set for the job? Which option default settings has you print q

[2018-08-23 15:56] apbonn commented on #55
Hi, will try to get all Informations.

But the Thing is, i changed nothing. No
Updates , Upgrades

I printed with word 2017 on mac os high Sierra.
The Printer is Directly Connected to my pi3.
It is a HP laserjet p1005

[2018-08-24 19:36] erikwesselius opened #57 "No printing and "Failed filter" error after upgrading from version 1.20.4 to 1.21.0"
Description:

After a full system update (on an Arch Linux system), my Kyocera FS-1000 printer no longer receives any print jobs.

Cups reports the error message "Failed filter".

In the systemd logs I found this:
ANOM_ABEND auid=4294967295 uid=209 gid=209 ses=4294967295 pid=2597 comm="foomatic-rip" exe="/usr/lib/cups/filter/foomatic-rip" sig=11 res=1

The file foomatic-rip belongs to the package

[2018-08-25 15:53] PetriKaukasoina commented on #57
Remove free(newvalue) in line 1047 of options.c

[2018-08-25 17:40] tillkamppeter commented on #57
Thank you very much.

I have now fixed it a little bit differently and pushed it to the GIT (commit 98b2b528). Can you test this version? Thanks.

[2018-08-25 17:42] tillkamppeter commented on #57
This bug was caused by the Coverity fixes in pull request #53.

[2018-08-25 18:12] PetriKaukasoina commented on #57
Works here, thanks.

[2018-08-25 19:34] tillkamppeter commented on #57
Thank you very much for testing.

[2018-08-25 19:34] #57 closed

[2018-08-26 09:52] tillkamppeter commented on #57
I have released 1.21.1 with the fix included now.

[2018-09-02 08:12] pezcurrel opened #58 "HP LaserJet Pro P1102 always stuck "sending data to printer""
Hi,
I'm running an up-to-date Arch Linux box with...

kernel 4.18.5
cups 2.2.8
libcups 2.2.8
cups-filters 1.21.1
ghostscript 9.23
poppler 0.67.0

...and latest foo2zjs (2018-05-19) from http://foo2zjs.rkkda.com (not the AUR - but I get the same problem with foo2zjs-nightly from the AUR).
The printer no longer works since about second half of august (2018); I tried downgrading all the above package

[2018-09-02 15:04] pezcurrel opened #59 "gstoraster calls gs with "-dPARANOIDSAFER" and this causes cups to state "Filter failed""
Hi,
I'm running an up-to-date Arch Linux box with...

kernel 4.18.5
cups 2.2.8
libcups 2.2.8
cups-filters 1.21.1
ghostscript 9.23

My HP LaserJet Pro P1102 works ok with hplip 3.18.6, every job gets completed, but cups holds every job with a "Filter failed" message since gs, called by gstoraster, throws an error. Here are the relevant lines from /var/log/cups/error_log

[code]

By testing from ter

[2018-09-04 12:30] renne commented on #23
Postscript printers have been very slow for years. This seems to be related to the filters used. In 2006 my Dell 3110cn easily printed 20 pages per minute. A 300 pages script with images and double-sided printing was done in 30-45 minutes (~10 pages/minute). A few years later pdftops became very slow and produced huge Postscript output (up to 500 MBytes). Today pdftops runs 30 seconds for the prin

[2018-09-04 20:31] tillkamppeter commented on #59
Perhaps there is a relationship with this bug in Ghostscript:
https://bugs.ghostscript.com/show_bug.cgi?id=699713

[2018-09-04 20:51] tillkamppeter commented on #59
No, there is no relationship of this bug to mentioned Ghostscript bug, but in the GIT repo of Ghostscript there is a fix for this bug:
http://git.ghostscript.com/?p=ghostpdl.git;a=commitdiff;h=0704d18b1031
I am not sure whether it is included in the now released Ghostscript 9.24.

[2018-09-04 20:52] tillkamppeter commented on #59
I have confirmation now that the fix is in GS 9.24. Please update and check.
Closing as this is a Ghostscript bug.

[2018-09-04 20:52] #59 closed

[2018-09-07 17:26] tillkamppeter commented on #24
Any progress on this?

[2018-09-08 03:15] severach commented on #58
apple/cups#5396

[2018-09-11 13:04] MamataRao opened #60 "when we are using cups server for printing with brother printer by generating pdf the sizes are coming in different"

[2018-09-11 13:05] MamataRao commented on #60
how to print a default size from cups service using pdf.

[2018-09-11 13:57] zdohnal commented on #58
@tillkamppeter I see similar thing in Fedora 29:
Packages:
cups-2.2.8
cups-filters-1.20.3
glibc-2.28

When I install printer (Canon, with ppd foomatic:Canon-imageRunner_C5185i-Postscript.ppd from foomatic) as ipp printer (by "lpadmin -p test -v ipp://hostname:631/printers/printer -m foomatic:Canon-imageRunner_C5185i-Postscript.ppd -E" or when I add it by gnome-control-center) and then send the job

[2018-09-11 14:15] zdohnal commented on #58
And when I print with -oraw (lp -d test -oraw test-file), file is printed - that makes me think it is really filter problem.

[2018-09-11 14:53] zdohnal commented on #58
Here is the file which goes to the printer, after filtering: https://paste.fedoraproject.org/paste/eX6KaC-wBsX0KBiYGgOrjA

[2018-09-11 15:03] tillkamppeter commented on #58
As the printer is receiving PostScript and not able to print it I would guess that it is some PS interpreter bug in the printer. See the README file of cups-filters for how to force the pdftops filter to use Poppler or MuPDF for generating PostScript. Does the printer print this way?
Another possibility is to use another language which the printer understands, like PCL or driverless printing (uses

[2018-09-11 15:03] zdohnal commented on #58
File is postscript and its opening ends with:
GPL Ghostscript 9.23 (2018-03-21)
Copyright (C) 2018 Artifex Software, Inc.  All rights reserved.
This software comes with NO WARRANTY: see the file PUBLIC for details.
%%[ Error handled by opdfread.ps : undefined; OffendingCommand: cur ]%%

[2018-09-11 15:05] tillkamppeter commented on #58
This error is due to the case that the file is incomplete.

[2018-09-11 15:06] zdohnal commented on #58
@tillkamppeter I redirected cat to fpaste, which creates pastebin.
$ cat printout | fpaste

[2018-09-11 15:09] zdohnal commented on #58
@tillkamppeter Isn't it incomplete because the printing didn't end? Because the job stays in pending-held state (according network traffic and logs)?

[2018-09-11 15:11] tillkamppeter commented on #58
How did you extract this Postscript file?

[2018-09-11 15:11] zdohnal commented on #58
@tillkamppeter I can reproduce this behavior even with file device printer (with ppd mentioned above), so when you have glibc-2.28, you can see the issue too.

[2018-09-11 15:12] zdohnal commented on #58
@tillkamppeter The same way as described in https://wiki.ubuntu.com/DebuggingPrintingProblems - Getting the data which would go to the printer

[2018-09-11 15:14] tillkamppeter commented on #58
OK, I will try it.

[2018-09-11 15:16] zdohnal commented on #58
[file_from_app.txt](https://github.com/OpenPrinting/cups-filters/files/2371546/file_from_app.txt)
[file_from_filters.txt](https://github.com/OpenPrinting/cups-filters/files/2371551/file_from_filters.txt)
[job-8.txt](https://github.com/OpenPrinting/cups-filters/files/2371552/job-8.txt)

[2018-09-11 15:34] zdohnal commented on #58
[foomatic-tmp-file.txt](https://github.com/OpenPrinting/cups-filters/files/2371626/foomatic-tmp-file.txt)

[2018-09-11 15:36] zdohnal commented on #58
I told Chris Liddell about the issue and I uploaded file from /var/spool/cups/tmp/foomatic* upon his request.

[2018-09-11 15:36] severach commented on #58
HP LaserJet 4100 and [Lexmark](https://aur.archlinux.org/packages/lexmark-e260-pxl/) are printing fine with the foomatic-rip filter. The difference is that their FoomaticRIPCommandLine only contains gs which makes cups run different filters. Any printer model can be broken by changing "gs" to "/usr/bin/gs".

[2018-09-11 17:26] zdohnal commented on #58
https://sourceware.org/git/?p=glibc.git;a=commit;h=2cc7bad0ae0a412e75270be5ed41d45c03e7a931

[2018-09-11 17:40] severach commented on #58
Cups moves everything around in pipes. I think it's pipes, not files.

[2018-09-11 17:44] zdohnal commented on #58
@severach yup, you're right, sorry - they're working with pipes.

[2018-09-11 17:47] tillkamppeter commented on #58
But note that many filters (AFAIK also foomatic-rip) suck the whole stdin into a file before they actually start to work. And PDF (which is foomatic-rip's input format in our example) usually requires to get read completely to get processed due to the fact that the XREF table is at the end of the file.

[2018-09-11 17:54] severach commented on #58
So a slight change in EOF logic makes the EOF not show up as expected and the rip doesn't go onto the next step. The [Canon UFR II](https://aur.archlinux.org/packages/cndrvcups-lb/) driver breaks like this quite often.

[2018-09-11 19:40] wifiprintguy commented on #58
I'm fairly certain these printers do not support PostScript...

[2018-09-11 22:36] rickrich commented on #58
I compiled the 0xjmz one line patch against a VirtualBox instance of Linux Mint 19 targeting a networked LaserJet Pro P1102W.  Same thing, it *does not work*.

But a VirtualBox instance of Ubuntu 18.04 targeting a networked LaserJet Pro P1102W *does work*.

[2018-09-12 01:14] severach commented on #58
libio/fileops.c
    libio/oldfileops.c
    libio/wfileops.c

I trimmed the diff to just these 3 files and compiled glib with the reversed patch. Ricoh and Savin print fine.

[2018-09-12 05:30] rickrich commented on #58
If I compile 0xjmz test program on Ubuntu 18.04, I get two lines.
If I compile 0xjmz test program on Linux Mint 18.3, I get two lines.
If I compile 0xjmz test program on Linux Mint 19, I get two lines.
If I compile it on fresh Arch Linux, I get one line.

Ubuntu 18.04 and HP LaserJet Pro P1102 works.
Linux Mint 18.3 and HP LaserJet Pro P1102 works.
Linux Mint 19 and HP LaserJet Pro P1102 doesn't w

[2018-09-12 05:44] 0xjmz commented on #58
Well, Rickrich probably your printer is using different path. If I grep -Ri dup2.*stdin source code it looks like there are more places to change. I tested the following patch

[code]

against my printer (LaserJet P1006) and it still works.  However, I agree with severach glibc should not break the userspace in such a way. The sticky EOF in stdin will break much more applications and in the worst

[2018-09-12 05:52] severach commented on #58
`/etc/issue` on my Arch has one text line and one blank line. That might look line one line if you're not counting carefully. `/etc/issue` on Manjaro has 1 text line and 2 blank lines.

[2018-09-12 06:04] rickrich commented on #58
I compiled your three line patch on Linux Mint 19, and it still didn't work.
Note: Linux Mint 19 has libc6 2.27, not 2.28.

So, there are two problems.

[2018-09-12 06:30] 0xjmz commented on #58
Ok. In this case unfortunately  you have a different problem. This patch is against glibc 2.28 and its sticky EOF commit. And as I see you get two lines (the same output twice) in above C code.

[2018-09-12 06:52] fweimer commented on #58
Is this an attempt at reimplementing `freopen`? I don't think this is valid; you cannot replace the underlying descriptor in this way.

[2018-09-12 07:08] 0xjmz commented on #58
As you see in the patch the C code is reimplementation what cups-filters are doing with stdin. And I think that it shouldn't combine standard library with syscalls in this way as well.

[2018-09-12 09:10] 0xjmz commented on #58
I'm glad to help. My guess is that the second patch make all necessary changes if the problem is with glibc that it should work on all printers. In other words if the printer worked and after upgrade to glibc 2.28 it doesn't the patch should help.

[2018-09-14 08:09] archenemies opened #61 "jobs sent to remote unshared printer stuck in "held since <date>" with no indication of authorization problem"
(I thought I had submitted this issue but I don't see it in your list; apologies if it shows up twice)

I just upgraded cups and cups-filters on my laptop and on my desktop. The desktop has a printer attached to it. Prior to the upgrade, I was able to print from laptop to the desktop via a local print queue. Now when I try to print, I see in the web interface that the job is listed with "held sinc

[2018-09-14 10:58] archenemies commented on #61
I managed to debug this. What happened was that after the upgrade, I had to change the PPD on the server to use hpcups. For some reason after this modification, the printer was no longer being shared. I discovered this in the error log only after I stopped `cups-browsed.service`, which had been polluting the error log and making it impossible to read (also I had "LogLevel debug" in cupsd.conf whic

[2018-09-14 14:01] debiantriage commented on #61
Having the printer attached by USB to a server and using hplip is unnecessary in the second decade of the 21st century. Get it on the network with wireless and have it advertise itself with Bonjour.

You are using CUPS/2.2.8 on the server; I assume the client has this version too. Without cups-browsed running, do 'lpstat -e' on the client. The printer should be visible in the output. Print to it w

[2018-09-14 18:18] archenemies commented on #61
Thank you Brian! That's very tantalizing data. Here's what I get:

    $ lpstat -e
    B210a_Remote
    Brother_DCP-7065DN
    HP_Photosmart_Plus_B210_series_amenhotep
    HP_Photosmart_Plus_B210_series_USB
    Virtual_PDF_Printer
    # sometimes this
    $ lp -d HP_Photosmart_Plus_B210_series_amenhotep mozilla.pdf -o page-ranges=1
    lp: The printer or class does not exist.
    ...
    # or some

[2018-09-14 19:03] tillkamppeter commented on #61
Driverless printing also works via USB, using ippusbxd:
https://github.com/OpenPrinting/ippusbxd

[2018-09-14 19:05] tillkamppeter commented on #61
Also note that a remote printer must be shared to be able to print on it.

[2018-09-14 22:42] archenemies commented on #61
Thank you, yes the original problem was lack of sharing.

Is there something we can do to make the GUI "held since" message more informative?

Can you comment on the "Unable to connect to amenhotep.local" error I got, why is CUPS appending ".local" to the name of my server and how do I either fix this or get my computer to resolve it correctly?

[2018-09-15 10:29] pezcurrel commented on #59
Checked with GS 9.25-2 (Arch), it's fixed :)
Many thanks

[2018-09-17 15:14] atsampson commented on #58
The FreeBSD port of cups-filters has included [a patch that does clearerr(stdin); after the dup2](https://svnweb.freebsd.org/ports/head/print/cups-filters/files/patch-filter_foomatic-rip_foomaticrip.c?revision=411031&view=markup) since 2015.

[2018-09-17 15:44] 0xjmz commented on #58
Nice work. I hope that at this point upstream will fix that bug. On the other hand since FreeBSD has its own libc implementation the bug could appear sooner.

[2018-09-21 09:55] fweimer commented on #58
FYI: glibc has declined to revert the bug fix which changed behavior:

* https://sourceware.org/bugzilla/show_bug.cgi?id=23636
* https://sourceware.org/ml/libc-alpha/2018-09/msg00235.html

[2018-09-21 10:28] tillkamppeter commented on #58
Can someone test whether everything works again when I apply the patch from @atsampson  of the BSD port?

[2018-09-21 10:38] zdohnal commented on #58
@tillkamppeter I can test it for our Canon ImageRunner printers and file devices. If you request more testing, please tell me and specify what I should test.

[2018-09-21 11:44] 0xjmz commented on #58
I can confirm that it works on my printer HP LaserJet. By the way it is exactly the first patch that I sent in this thread, so it should work for people that my patch worked. The BSD guys are using 'clearerr(stdin)' instead I reused 'rewind' that is already in the code.

[2018-09-21 12:07] tillkamppeter commented on #58
@0xjmz, in your last patch you add the rewind() call at three points whereas the BSD patch adds the clearerr() call only at one point. Is a rewind() or clearerr() actually needed at the given 3 points or is it enough at the one place where the BSD guys have put it? @0xjmz and @zdohnal, which patch did you actually test?

[2018-09-21 12:08] zdohnal commented on #58
@tillkamppeter I tested the patch on printer with ppd from foomatic Canon ImageRunner C5185i and on file device, both works.
@0xjmz IMO your patch clears EOF on file every time when processing goes into print_file(), BSD guys clear it only when file is PDF. I'm not sure if it can cause troubles for f.e. postscript file...

[2018-09-21 12:09] zdohnal commented on #58
@tillkamppeter I tested both - @0xjmz's first patch and patch from BSD, both works for me.

[2018-09-21 12:10] zdohnal commented on #58
@tillkamppeter I didn't test it with @0xjmz second patch.

[2018-09-21 12:52] 0xjmz commented on #58
Well, if you take a look at the source code (filter/foomatic-rip/foomaticrip.c) then you notice that 'clearerr' is inserted in the place where function print_file is executed recursively. Thus, STDIN will be used again. However, at the beginning of the function print_file all file descriptors are rewound except STDIN. My first patch simply removed this restriction (STDIN is rewound as well). There

[2018-09-22 17:33] fjaell opened #62 "build broken with poppler 0.69.0"
...
CXX      pdftoraster-pdftoraster.o
filter/pdftoraster.cxx: In function 'int main(int, char**)':
filter/pdftoraster.cxx:2166:11: error: 'memCheck' is not a member of 'Object'
   Object::memCheck(stderr);
           ^~~~~~~~
filter/pdftoraster.cxx:2167:3: error: 'gMemReport' was not declared in this scope
   gMemReport(stderr);
   ^~~~~~~~~~
filter/pdftoraster.cxx:2167:3: note: suggested alterna

[2018-09-25 04:44] archenemies opened #63 "print a4 documents sensibly by default on command-line"
When I print a PDF whose pages are smaller or larger than letter paper, I find that `lp` does a poor job of printing it. The printed page appears in the upper-left corner of the paper (medium) page, and the top half of the top line is cut off. Generally I print these documents with Evince and select "Fit to Printable Area" under "Page Handling", that does a better job - it scales up the page and c

[2018-09-26 23:04] archenemies commented on #63
Here's another example, it prints fine from Evince or Okular, but crashes my printer when I try to print it with 'lp':

[el-cerrito.pdf](https://github.com/OpenPrinting/cups-filters/files/2421842/el-cerrito.pdf)

[2018-09-27 18:43] goldykav opened #64 "Help: I Want to Change Halftone Setting in Printer Driver (CUPS)"
I am using CUPS with the printer driver which use "application/vnd.cups-raster 10 rastertopj" and i am trying to get the look of Windows PC halftoning: dither 4x4 print/output but i am clueless where to change the setting for choosing different halftoning pattern..

i also contacted the Ghostscript support and they said halftoning is done by the driver and also told that If the driver is Ghostscri

[2018-09-28 16:02] tillkamppeter commented on #58
Fixed in commit 64ca9c2fb5
Thank you for the bug report and the patches.

[2018-09-28 16:02] #58 closed

[2018-09-28 16:09] tillkamppeter commented on #61
The CUPS client reporting "held since ..." when trying to a remote CUPS printer which is not shared is caused by CUPS, not by cups-filters, so it is a CUPS issue.

[2018-09-28 20:31] archenemies commented on #61
OK, I think this is probably not something Apple is going to change/fix since there is a more common similar problem: you get "Filter failed" when there is an error in a filter, instead of a more informative error message which could sometimes be found in /var/log/cups/error_log. And that issue has been closed.

https://github.com/apple/cups/issues/4823

[2018-09-30 17:34] sahilarora535 commented on #24
Let's assume the resolution of input raster is 100dpi. So according to your comment, here is how the flow for getting the resolution should work:
1. Check if the argument `Resolution` is passed in command line, If yes, then this should be the resolution of the output file and this is to be used. If this is different from 100dpi, what should be done?
2. If the command line resolution is not there,

[2018-10-01 10:59] tillkamppeter commented on #24
In a normal filter chain there is always pdf/gs/mupdf/imagetoraster before rastertopclm. As both are taking the selected resolution from the "Resolution" option or the default resolution from `*DefaultResolution` from the same PPD file (and for driverless printing PPD auto-generation this keyword is always present) the mentioned situation cannot happen. The incoming raster data always has a suitab

[2018-10-02 11:17] sahilarora535 commented on #24
So should we safely close this? At the time when I raised this issue, I was playing around with the PPD files and made the `DefaultResolution` different from `cupsPclmSourceResolutionDefault`. However, with the printer which I was provided with to test, both the values were same. So if the cases 1-4 do not occur, then this bug should not occur in real-world scenarios.

[2018-10-02 12:47] tillkamppeter commented on #24
Yes, the scenario which you created does actually not occur. If you find a PPD with such discrepancy, or without `*DefaultResolution` entry at all, we can report a bug on the PPD file. It would be a bug in cups-filters if one of the pdf/gs/mupdf/imagetoraster filters does not respect the "Resolution" option or the default resolution from "*DefaultResolution".
So I am closing this bug report.

[2018-10-02 12:47] #24 closed

[2018-10-04 13:19] speachy opened #65 "Add a simple "fill page" scaling option to imagetoraster and pdftopdf (print-scaling=fill)"
Imagetoraster, by default, scales the input image to fill the output page, while respecting the image's aspect ratio.

Unless the input and output aspect ratios are a near-perfect match, this often results in uneven borders/margins, or on full-bleed printers, unsightly white lines on one or more edges, and there is no simple way to avoid this without a-priori knowledge of the printer's native capa

[2018-10-05 08:36] olivierschonken commented on #62
The poppler project removed the memCheck and gMemReport functions in commits c362ab1b97f20c5b73b3bad8d52015f679178748  -  Remove DEBUG_MEM from Object since this uses RAII now and hence cannot leak. (The existing tracking also is not thread-safe and hence unreliable.)
and
f89446f6917a869b0f1a80fcc8ce81a7213dade4 -  Remove generic heap debugging from gmem since external tools and compiler instrumen

[2018-10-05 14:49] tillkamppeter commented on #65
Thank you very much in advance for your suggested code contribution.
It would be great to have this functionality in cups-filters and I appreciate very much if you could provide the code changes as a pull request.
Could you please consider the following:
- Every job is going through either `pdftopdf` or `imagetopdf`, more through `pdftopdf` even as applications usually send jobs in PDF format. So

[2018-10-08 16:57] srd424 commented on #22
Hitting this on a PIXMA 3150 .. any resolution yet? Will try the steps suggested above when today's chaos abates...

[2018-10-08 17:10] srd424 commented on #22
I'm seeing this on a Canon PIXMA 3150 on Ubuntu Bionic .. any progress yet? Will try the diagnostics mentioned above when the Monday chaos abates, if it ever does...

[2018-10-12 06:50] archenemies opened #67 "can't use page-ranges option on remote printer"
I have the following printer configured on my desktop:

    <Printer HP_Photosmart_Plus_B210_series>
    UUID urn:uuid:f7c17874-8003-30ee-40b0-7f21f5f107c3
    Info HP Photosmart Plus B210 series
    MakeModel HP Photosmart Plus b210 Series, hpcups 3.18.6
    DeviceURI usb://HP/Photosmart%20Plus%20B210%20series?serial=CN0AS2G4JJ05J9&interface=1
    State Idle
    StateTime 1539324752
    ConfigTim

[2018-10-21 17:03] jdehaan commented on #22
I have exactly the same problem with PIXMA MX925 series in trying to operate it via IPP.

[2018-10-22 05:09] andribas404 opened #68 "cups-browsed and sleep mode"
In /etc/cups/cups-browsed.conf option set to
CreateIPPPrinterQueues All
Network printer is autodiscovered and created queue.
When printer goes in sleep mode queue removed.
And i can't send documents to print.
Is there a way to not remove autodiscovered queue? (make it permanent)

[2018-10-27 03:59] archenemies commented on #67
Here's another example, if I print the attached file in Okular or Evince, I select pages 2-3 and ask for 2 copies, I get 4 copies of pages 2 and 3.

If however I submit the job on the command line:

    lp eprep-reqs.pdf -n 2 -o page-ranges=2-3

then I get 2 copies of just page 3. What could possibly be causing this behavior?

[eprep-reqs.pdf](https://github.com/OpenPrinting/cups-filters/files/252

[2018-11-07 15:05] Polynomial-C opened #69 "build fails with poppler-0.71.0"
[code]
At least the `gTrue` and `gFalse` issues are caused by the following commit from poppler upstream:
[Replace GBool, gTrue, and gFalse by bool, true, false, resp.](https://cgit.freedesktop.org/poppler/poppler/commit/?id=163420b48bdddf9084208b3cadf04dafad52d40a)

[2018-11-07 19:47] speachy commented on #65
Yes, I still intend to work on this, but I haven't progressed beyond a small pile of comments in the existing source code.

(Life has got in the way of my ability to hack on printer stuff..)

[2018-11-08 18:52] tillkamppeter commented on #65
For the correct option see the print-scaling IPP attribute, in section 6.2.2 of [this document](https://ftp.pwg.org/pub/pwg/candidates/cs-ipptrans10-20131108-5100.16.pdf). "fit" is to blow up the document content as much as possible without loosing any content, as the "fitplot" or "fit-to-page" do. This is the best for getting text documents filling the page. "fill" is what you are looking after,

[2018-11-13 16:02] Polynomial-C commented on #69
This is still not fixed:
[code]

[2018-11-23 21:36] tillkamppeter commented on #67
I have released cups-filters 1.21.4 now which contains fixes against duplicate execution of page management opttions. Also the newest CUPS (2.2.9) contains appropriate fixes.
Can you please test with these version whether this also covers your issue?

[2018-11-23 21:39] tillkamppeter commented on #68
This looks like that your particular printing model seems to disappear from the DNS-SD registry when going into sleep mode, which is not the case for many other printers.
Can you tell us which printer manufacturer and model you have?
Can you also check with utilities like `avahi-discover` or `avahi-browse` whether your printer gets invisible in DNS-SD when it goes to sleep mode?
Do you also have o

[2018-11-23 21:41] tillkamppeter commented on #55
I have released cups-filters 1.21.4 now which contains fixes against duplicate execution of page management options. Also the newest CUPS (2.2.9) contains appropriate fixes.
Can you please test with these version whether this also covers your issue?

[2018-11-23 23:11] archenemies commented on #67
I'm guessing you want me to install these new versions on the server as well as the client?

[2018-11-24 11:21] fjaell opened #74 "build fails with poppler-0.71.0"
Please reopen https://github.com/OpenPrinting/cups-filters/issues/69, the issue is still not fixed.

filter/pdftoraster.cxx: In function 'void outPage(PDFDoc*, Catalog*, int, SplashOutputDev*, cups_raster_t*)':
filter/pdftoraster.cxx:1821:6: error: 'gTrue' was not declared in this scope
      gTrue,gTrue,gTrue);
      ^~~~~
filter/pdftoraster.cxx:1821:6: note: suggested alternative: 'gfree'

[2018-11-26 18:19] tillkamppeter commented on #74
Same as issue #69.

[2018-11-26 18:19] #74 closed

[2018-11-26 19:14] tillkamppeter commented on #69
Fixed in commit 48625da3f.

[2018-11-26 19:14] #69 closed

[2018-12-01 20:52] KurtPfeifle commented on #54
What is the output if you run `lpoptions -h cupsserver -p printername` on the client?

[2018-12-01 21:46] imsedgar commented on #54
The output contains the values of option JobSheets contained in file /etc/cups/printers.conf for printername.
For example, if /etc/cups/printers.conf contain "JobSheets standard none" for printername, then the output of "lpoptions -h cupsserver -p printername" contains "job-sheets=standard,none" (and other options, of course).

copies=1 device-uri=ipp://printername/ipp finishings=3 job-cancel-afte

[2018-12-03 15:47] tillkamppeter commented on #54
What happens if you print (from the client)? Does the banner page get printed? If not, does it get printed if you print with
[code]
Does it get printed if you stop CUPS on the client, edit printers.conf on the client to have
[code]
start CUPS again and then print?
Does it print another banner if you print with
[code]
with `[banner name]` the name of another existing banner file? Or does it even ha

[2018-12-03 17:11] joebonrichie opened #75 "Further build issues with Poppler 0.71"
After applying 48625da I am still getting build issues with poppler 0.71

[code]

After a small search I found a related change in poppler:-

https://cgit.freedesktop.org/poppler/poppler/commit/?id=68fdbfd0b159e8cf146c480f0d14f5d7adfd5806

Which seems to be causing the error. Modifying to match the new upstream behaviour should hopefully resolve the error.

[2018-12-03 21:10] tillkamppeter commented on #75
Thank you for the hint. Most people will not take note of this failure as pdftoopvp is not built by default.
Unfortunately, the development branch of Ubuntu (Disco, 19.04) does not yet have Poppler 0.71. Could you make the patch, test it, and post it as a pull request here?
Another question: For what are you using pdftoopvp? Which printer? Which driver?

[2018-12-04 11:10] tillkamppeter commented on #75
Please make the patch, as I even do not have the possibility to test building it.
Please also make it working with both the old and new Poppler, by using conditionals ("`#ifdef ...`").
Thanks in advance.

[2018-12-07 15:55] mabam opened #76 "LaserWriter 4/600 PS prints blank pages when rendered by GhostScript"
The Apple LaserWriter 4/600 PS seems to suffer from the same bug in its PostScript interpreter as the Apple LaserWriter 12/640 PS does: When GhostScript is used to render the .ps files this results in empty pages printed. For the latter printer this has been fixed by a workaround in cups-filters:
http://bzr.linuxfoundation.org/loggerhead/openprinting/cups-filters/revision/7449 .
Would it be possib

[2018-12-07 17:39] tillkamppeter commented on #76
Fixed in commit 91ec37bec. Please test. Thank you for the bug report.

[2018-12-07 17:39] #76 closed

[2018-12-09 03:38] mabam commented on #76
Thank you for the quick fixing!

My system is not capable of the newest CUPS version, so it will take a while until I can test.

[2018-12-11 12:14] KurtPfeifle opened #77 "Document format specification of 'application/vnd.cups-pdf-banner' and 'bannertopdf'"
CUPS on macOS uses a MIME type named *`application/vnd.cups-banner`* which is a simple text file format where a few simple keywords define what should be the contents of the banner. Then  the filter *`cgbannertopdf`* converts that text file and generates a PDF banner page.

The original CUPS MIME type for banner textfiles uses `# CUPS-BANNER` on its first line for recognition.

CUPS provides the e

[2018-12-11 22:09] KurtPfeifle opened #78 "Support 'vnd.cups-banner' format to be converted by a 'x-bannertopdf' filter"
After having poked a bit into what features the cups-filters bannerfile format *`application/vnd.cups-pdf-banner`* and the related *`bannertopdf`* filter currently provide, it appears to me that *`bannertopdf`* is not able to support the original banner file source format of CUPS itself (i.e. *`vnd.cups-banner`* as specified here: https://www.cups.org/doc/spec-banner.html).

While this banner file

[2018-12-11 22:31] KurtPfeifle commented on #78
Upon further reading, I do not really understand why this current *bannertopdf* filter business in the CUPS-filters project takes such a complicated route.

Why for heaven's sake are we going to manipulate PDF *forms* ??

AFAIR, forms are one of the least supported and understood aspects of the PDF file format in the Open Source universe. Many open viewers do not even display them properly, most P

[2018-12-12 00:57] KurtPfeifle commented on #78
So I created a proof-of-concept 'bannertopdf' filter, based on a shell script. This script creates as an intermediary file HTML, and then currently two different PDFs: one with the help of Pandoc, the other with the help of HTMLdoc. Took about 2,5 hrs on Github:

* https://github.com/KurtPfeifle/kp-bannertopdf

[2018-12-12 02:54] imsedgar opened #79 "cups-browsed crashed in update_cups_queues"
cups-browsed crashed when restarted by systemctl restart cups (when cups-browsed was running). See attatched file.
I have Fedora 29 with cups-2.2.10 and cups-filters-1.21.5, build rpm packages myself from source, based on the latest Fedora packages from koji (but with newer source from github).

[cups-browsed-crashed.txt](https://github.com/OpenPrinting/cups-filters/files/2670272/cups-browsed-cras

[2018-12-12 03:01] imsedgar opened #80 "cups-browsed created and deletes remote cups queues repeatedly"
cups-browsed seams to create remote cups queues, and then it deletes the created queues. This occures repeatedly and consumes cpu time of cups process.

I don't know why the queues are deleted. I'm not sure, but I think it occurs first in some cups-filters 1.21.* versions.

There is also a strange error message, I haven't found the cause of it, and I don't know if it is related to this problem, be

[2018-12-12 14:48] tillkamppeter commented on #79
This problem should be fixed with f3d48ecda, as I got already a a bug report via Debian:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=916149

[2018-12-12 14:48] #79 closed

[2018-12-12 14:56] imsedgar commented on #79
Thanks, Till. In the meantime I have build and installed a package from current master git, which is currently commit f3d48ec, and yes, it seems it runs without crash (I haven't checked all systems yet).

[2018-12-12 14:58] tillkamppeter commented on #80
The crash should be already fixed, see issue #79.
If anything else is not OK, test with the current GIT snapshot and put a line "`DebugLogging file`" into cups-browsed.conf. After having seen something having gone wrong, attach the `/var/log/cups/cups-browsed_log` file. Thanks.

[2018-12-12 18:44] mabam commented on #76
The LW 4/600 PS requires AppleTalk which I use a2server for to provide it. a2server runs on Debian, though not on present versions.
I have now installed the latest Debian/Armbian updates for Jessie on my AppleTalk NAS so it is capable of CUPS 1.7.5. After deleting the old CUPS version I've downloaded the source for cups-filters-1.0.61, patched filter/pdftops.c with your fix from v1.21.6, compiled

[2018-12-13 02:46] imsedgar commented on #80
I did some tests.
When I run cupsd on a cups server, but not cups-browsed, then remote printers are found by cups-browsed on cups clients, and cupsd does not use much cpu time.

When I start cups-browsed on the cups server too, then cupsd creates a high load on cups clients. It seems that cups-browsed creates a local queue for remote cups queues, but cupsd deletes it soon after creation. I found n

[2018-12-13 02:48] imsedgar commented on #80
file:///home/edgar/tst/cups-browsed_log-2018-12-13.txt
file:///home/edgar/tst/mycupsserver2-cupsd.conf
file:///home/edgar/tst/mycupsserver2-cups-browsed.conf

[2018-12-13 02:51] imsedgar commented on #80
[cups-browsed_log-2018-12-13.txt](https://github.com/OpenPrinting/cups-filters/files/2674355/cups-browsed_log-2018-12-13.txt)

[mycupsserver2-cupsd.conf.txt](https://github.com/OpenPrinting/cups-filters/files/2674356/mycupsserver2-cupsd.conf.txt)
[mycupsserver2-cups-browsed.conf.txt](https://github.com/OpenPrinting/cups-filters/files/2674357/mycupsserver2-cups-browsed.conf.txt)

[2018-12-13 15:30] tillkamppeter commented on #80
Fixed in 257086970ae97
To assure that a the local queue created by cups-browsed gets permanent, cups-browsed has removed and re-created it (it failed to set the printer-is-shared bit as we are pointing to a remote CUPS queue) and the removal causes a notification by the local cupsd and triggers on_printer_deleted() which schedules our local queue for immediate re-creation, which causes an infinite

[2018-12-13 15:30] #80 closed

[2018-12-28 01:23] ocean1 opened #81 "segmentation fault (zero page read) in libcupsfilters.so from imagetopdf with corrupted gif"
The following gif causes imagetopdf filter to segfault [1960.gif.zip](https://github.com/OpenPrinting/cups-filters/files/2713691/1960.gif.zip)

Reproduce with `cupsfilter 1960.gif`

(attaching output of an ASAN build, but can reproduce also without it)

[code]

[2018-12-28 12:46] ocean1 opened #82 "cupsfilter hangs with 100% cpu usage with corrupted gif"
Potential denial of service in cupsfilter (through imagetopdf) with the following corrupted gif
[1051.gif.zip](https://github.com/OpenPrinting/cups-filters/files/2714873/1051.gif.zip).

Reproducible with: `cupsfilter 1051.gif`

[2018-12-29 03:11] StefanBruens commented on #75
See #83

[2018-12-29 19:30] tillkamppeter commented on #75
Fixed with pull request #83.

[2018-12-29 19:30] #75 closed

[2018-12-30 14:51] lbricchi opened #84 "PDF print very slow"
Hello,
we have a server Linux with Centos 7 with:
Static hostname: localhost.localdomain
con name: computer-desktop
Chassis: desktop
Machine ID: cf80fa656ac04e5d87b4f73ed333e575
Boot ID: 63809566b5dc41a58a8eb3bb53fd9381
Operating System: CentOS Linux 7 (Core)
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 3.10.0-862.14.4.el7.x86_64
Architecture: x86-64

and Cups version is 1.6.3.

We use a java

[2018-12-30 15:13] tillkamppeter commented on #84
Which version of cups-filters is running on the machine with the problem?
CUPS 1.6.3 is already rather old. Have you tried a machine with newer (newest) versions of CUPS and cups-filters?

[2018-12-30 18:43] tillkamppeter commented on #84
You can principally uninstall the distribution's CUPS and cups-filters packages and then install the current versions self-compiled from source. Or you take the source RPMs of the current CentOS development branch and rebuild them on your system, getting RPMs of the current CUPS and cups-filters for your system. Note that some libraries also need to get up[dated, especially QPDF.

[2019-01-03 11:35] diego-treitos commented on #22
Same problem here with a PIXMA MX475

[2019-01-04 11:50] dheeraj135 opened #85 "cups-browsed unable to add printer."
I am trying to add ipp printer(driverless) in cups. When I add it through web interface everything works smoothly but cups-browsed is not able to automatically add it. The weird thing is when I try to do the same thing on a virtual machine, cups-browsed automatically adds that printer.
I have Ubuntu: 18.04, cups: v2.3b7 and cups-filters: v1.21.6 on both main computer and virtual machine.
How can I

[2019-01-04 14:18] dheeraj135 commented on #85
I tried running it with user "dj" and "root".
Groups of user "dj" :

dj adm cdrom sudo dip plugdev lpadmin sambashare wireshark

Attached files:
[cupsd.conf](https://drive.google.com/open?id=1hNgzedqgPx41yp_7CFVUFINNQQqJpem-)
[cups-files.conf](https://drive.google.com/open?id=1lpcvbEM0uAHDtsl0G0nmTU9-zm0lu5T4)

[2019-01-04 16:45] tillkamppeter commented on #85
Please add the line
[code]
to your `/etc/cups/cups-browsed.conf` and restart cups-browsed. Is it now able to create print queues?

[2019-01-04 17:03] dheeraj135 commented on #85
No. It is still not working.
Maybe it has something to do PeerCred? I found this line in cups log of my virtual machine:

This line is printed every time cups-browsed is trying to add printer. So, cups-browsed is authorizing using PeerCred. But this is not happening on my main computer.

[2019-01-06 18:32] mark246 commented on #22
I had this same issue with Mint 19.1 (cups-filters 1.20.2-0ubuntu3) and a Canon MG4250. I found a workaround (although it did involve compiling from source).

I believe the root cause is that with version 1.20.x of cups-filters, the `Get-Printer-Attributes` request includes the "requested-attributes" field, and (rightly or not) this means that the MG4250's response does NOT contain the "urf-suppor

[2019-01-11 08:02] ndreisg opened #87 "gstopdf ignores NumCopies"
On my Ubuntu system I have cups-filters version **1.8.3** (still uses pstopdf).
My customer has a newer version which uses **gstopdf** instead of **pstopdf**.

When I print a Postscript file with NumCopies in the header, **pstopdf** is correctly printing multiple copies while **gstopdf** seems to ignore the NumCopies value.

[2019-01-11 08:09] ndreisg commented on #87
pstopdf seems to use the -dDoNumCopies parameter in the gs command while gstopdf doesn't. Can I configure this somehow?

[2019-01-11 09:44] ndreisg commented on #87
I now found out which version my customer is using (1.11.6)
I was able to reproduce the issue on my system.
I also tried with a newer version (1.20.4)
I was not able to install the latest version (1.21.X) on Ubuntu 16.04 because it needs QPDF 8.1.0 which is not available on 16.04

[2019-01-14 21:28] #23 closed, assigned to nobody

[2019-01-15 11:35] kabassanov opened #89 "Cups daemon notifies avahi about printers before it starts responding to clients cups queries on port 631"
Hello,

We use a cups server (2.2.8) with an avahi daemon for printer sharing.
We noticed that every time cupsd reloads its configuration (or when we restart it), remote linux clients (cupsd + avahi + cups-browsed) loose one or two printers from the server.
Some tests we made showed (in cups-browsed logs) that this issue concerns printers first rediscovered by the client. In addition, it seems tha

[2019-01-21 13:23] dheeraj135 commented on #85
@tillkamppeter any updates?

[2019-01-21 16:18] tillkamppeter commented on #85
Unfortunately, I have no experience with PeerCred. I have always run cups-browsed as root and CUPS with a configuration so that root can create a queue. This way it always worked.

[2019-01-25 20:08] dheeraj135 commented on #9
@tillkamppeter @sahilarora535 I looked into the codebase of cups-filters, I found [mupdftoraster.c](https://raw.githubusercontent.com/OpenPrinting/cups-filters/master/filter/mupdftoraster.c). This file creates PWG raster from pdf using mutool. Is there any specific problem in using mutool?

[2019-01-27 10:19] sahilarora535 commented on #9
@tillkamppeter One thing I did not understand is why do we depend on three softwares, Ghostscript, MuPDF and Poppler? Is there a specific reason for adding the three? If all of these do the same task, then can we just not choose one and remove the other two?

[2019-01-27 14:06] sahilarora535 commented on #9
@tillkamppeter Okay. My question is why are we giving an option to choose? Is there any benefit of a user choosing the interpreter, or will it do if we have only one interpreter which we think is the most reliable one and will be maintained for long, and use that?

Also, if we even remove poppler completely from the project and then also it works fine, then what do you think that we can completely

[2019-01-28 03:04] eduncan911 commented on #22
Reporting same issue with Canon MX922.

[2019-01-29 16:35] tillkamppeter commented on #9
The advantage is the following: If we have low-resource (mobile, IoT, ...) system we want to use only one PDF interpreter in the whole system. If there is already software to display PDFs on the screen and it uses Poppler, we also use Poppler in cups-filters, if it uses MuPDF, we also use MuPDF, ...

[2019-02-11 22:21] tillkamppeter commented on #22
Fixed in cups-filters with commit 5259bb7. See also pull request #86.

[2019-02-13 09:55] dheeraj135 commented on #65
@tillkamppeter Is there any other filter which already implements this functionality?

[2019-02-13 10:06] tillkamppeter commented on #65
No, AFAIK not.
Another interesting additional mode would be crop-to-fit, meaning that the incoming image/PDF is conserved in size and centered, for cases where size conservation is important and/or the original file has a weird, slightly off-standard size making the printer asking for inserting that size's paper. See this bug report:
https://bugs.launchpad.net/bugs/1813432

[2019-02-13 20:58] dheeraj135 commented on #65
@tillkamppeter
I don't think we need to change ``` imagetoraster ``` filter because as you earlier mentioned that every print job is going either through ``` imagetopdf ``` or ``` pdftopdf ```. Is ``` imagetoraster ``` in the title intentional or is it a typo?
I fired a print job and it used ``` imagetopdf ```, **not** ``` imagetoraster ```.
Logs:
[code]

[2019-02-13 21:08] tillkamppeter commented on #65
Seems that you have found a bug, as if the workflow goes through PDF always `pdftopdf` should be executed.

[2019-02-13 21:10] tillkamppeter commented on #65
Or does `imagetopdf` do all tasks of `pdftopdf` so that we could allow to go without? This needs to be checked.

[2019-02-13 21:11] dheeraj135 commented on #65
@tillkamppeter I am printing a jpg file. So, I think ``` imagetopdf ``` is justified.

[2019-02-13 21:12] tillkamppeter commented on #65
For `imagetoraster` try a printer which uses a CUPS-Raster based driver (or a driverless printer using a raster input format, like PWG Raster, Apple Raster, or PCLm, NOT PDF) and print an image to it.

[2019-02-13 21:15] tillkamppeter commented on #65
Independent of the fact whether `pdftopdf` actually gets used or not, we can only consider this feature request completed if both image files and PDF files as input (or simply ANY input file) support the new settings, especially because if you print from a photo editor/manager the app sends the photo as PDF file.

[2019-02-13 21:15] speachy commented on #65
imagetoraster is useful for printers that don't consume PDF natively.  It's more efficient to convert image->raster->native than image->pdf->raster->native.

As for my ability to work on this issue, thanks to a change in my family employment situation I have much less time than expected to work on side projects.  So if someone else is interested in working on this, by all means, please do so.

[2019-02-13 21:22] speachy commented on #65
IMO if this is only implemented in the 'pdftopdf' filter, then we should remove the imagetoraster filter, so that all images unconditionally go through imagetopdf..

[2019-02-13 21:32] dheeraj135 commented on #65
@tillkamppeter I created one test printer with ippserver : ``` ippserver -f image/pwg-raster t1 ```
These are the filters used:
[code]

[2019-02-13 21:53] dheeraj135 commented on #65
Ok, for printers with cups-raster format, it uses ``` imagetoraster ``` filter.
Printer created with: ``` ippserver -v -f application/vnd.cups-raster t2 ```
Logs:
[code]

[2019-02-13 21:54] tillkamppeter commented on #65
There are rules suggesting the use of `imagetoraster` in the `mime/cupsfilters.convs` file, but probably their cost value is too high to make the path using this filter selected by CUPS. But perhaps one can force this path by lowering the cost value or removing the executable bit of `imagetopdf` (restart cupsd when doing changes like this).
We do not have to necessarily implement all features in a

[2019-02-13 21:57] tillkamppeter commented on #65
Another thought: Minimizing the number of filters needed for a job can make the processing faster, as less processes, pipes, and temporary files are involved.

[2019-02-14 09:45] dheeraj135 commented on #65
I made required changes in ``` imagetopdf ``` filter for a single orientation. These are the results:
Input file:
![jpg](https://user-images.githubusercontent.com/28601604/52777686-61622780-306a-11e9-93e5-090a6b5e0d56.jpg)

Output file: [jpg.jpg___cups-pdf_dh-job_25.pdf](https://github.com/OpenPrinting/cups-filters/files/2864286/jpg.jpg___cups-pdf_dh-job_25.pdf)
@tillkamppeter Can you please confi

[2019-02-14 10:15] tillkamppeter commented on #65
For a given target format you need input files
- In portrait and landscape orientation, and also square
- "Longer" aspect ratios (for example 16:9 on a 3:2 target format)
- "Shorter" aspect ratios (for example 4:3 on a 3:2 target format)
- The same aspect ratio as the target
These are 7 input files for a given target format.
Test also a square target format.
Test also with PDF input files on the `

[2019-02-14 10:27] tillkamppeter commented on #65
The sample image looks OK for me. This is how I imagined how it should work.

[2019-02-15 18:42] tillkamppeter commented on #22
Sorry, I closed this in error. What we have achieved now is that both CUPS and CUPS filters always use the same attributes on their get-printer-attributes IPP requests for auto-generating PPD files. What is still missing is that your Canon printer (and also the Canon printers of some other users) return a faulty response to the request.
The reason for the wrong answer can either be a buggy printer

[2019-02-15 21:27] tillkamppeter commented on #22
This problem got also reported to CUPS, as [CUPS issue #5512](https://github.com/apple/cups/issues/5512). Michael Sweet, author of CUPS, will get a Canon printer on the coming Wednesday for further investigation.
But please do the test with ippsample independent of this.

[2019-02-15 21:38] srd424 commented on #22
OK, I tried ippsample's ipptool on my 3150 and got the following (with get-printer-attributes-2.0.test.txt from earlier)

[ipp-attrs-2.txt](https://github.com/OpenPrinting/cups-filters/files/2870948/ipp-attrs-2.txt)

[2019-02-15 21:46] tillkamppeter commented on #22
Thank you very much. With ippsample we run into the same problem.

[2019-02-19 12:34] dheeraj135 commented on #65
Please correct me if I am wrong. In both ```scaling=fill``` and ```crop-to-fit``` mode, we will crop the input file according to the page's aspect ratio and center it(or use the position to get the desired location). Difference between crop-to-fit and scaling=fill is that in scaling=fill we will stretch the input file to match the page's size.
@tillkamppeter

[2019-02-19 13:12] tillkamppeter commented on #65
We need the following modes:

1. Preserve the paper size of each page: This was always the default when not using the `scaling` option. If you print a document which for example contains mainly A4 and some A3 pages and the printer has both A4 and A3 loaded (or A3 is inserted into the manual feed when the printer asks for it), it pulls the correct paper for each page, same for letter with envelope

[2019-02-19 17:13] paulmenzel opened #93 "Unable to correctly print PDF file: Error: Ignoring spurious ET operator."
I am using Debian Sid/unstable and cups-filters 1.21.6-3.

The university document [antrag_exmatrikulation.pdf](https://github.com/OpenPrinting/cups-filters/files/2881078/antrag_exmatrikulation.pdf) causes problems on different printers.

Printing on the Canon iR-ADV C2225i using the Canon PCL, an error page is first printed, and on the first page after *Email* everything is missing. The second pa

[2019-02-19 19:51] paulmenzel commented on #93
Some more things, I forgot to mention. Doing `pdf2ps` manually, and printing that, works.

The Epson model is *WorkForce WF-2660*.

Following the Debian Wiki article [DissectingandDebuggingtheCUPSPrintingSystem](https://wiki.debian.org/DissectingandDebuggingtheCUPSPrintingSystem), and creating a printer actually printing to a file, the file is created, but I am unable to view it.

Lastly, using th

[2019-02-19 20:54] paulmenzel commented on #93
Actually [looking at the Postscript output][1] – I thought I had already –, the errors are in there.

[code]

[1]: https://wiki.ubuntu.com/DebuggingPrintingProblems

[2019-02-19 20:59] paulmenzel commented on #93
Editing the PPD, and leaving just the Ghostscript command in there, it can still be reproduced.

[code]

This goes in line, that this is also happening on the Epson printer.

[code]

[2019-02-20 11:13] tillkamppeter commented on #22
@michaelrsweet was not able to reproduce the problem on the Canon printer he got ([CUPS issue 5512](https://github.com/apple/cups/issues/5512)). Can you join there if you still have the problem and debug it directly with Michael? Thanks. Please make sure you have applied the fix on CUPS and are also using the newest cups-filters?

[2019-02-21 07:14] deepak0405 opened #94 "Error while Generating Manual Cluster using "Cluster" option in cups-browsed.conf"
I am using ubuntu 18.04 and the latest cups-filters code available on Github. I am trying to generate a manual cluster by uncommenting the given lines in cups-browsed.conf (The rest of cups-browsed.conf is similar to the default one i.e no other changes are made).

[code]
I also tried
[code]

I am getting the following error:
[code]
I tried finding the error, it is coming because  of line free(sta

[2019-02-21 07:42] archenemies commented on #63
I just discovered that there is already an option to 'lp' called 'fit-to-page', which makes at least the first example PDF print acceptably. (Does anyone read these issues?)

It's a pity that '-o fit-to-page' is not the default. Most users have to deal with a mix of A4 and letter documents, and it is difficult to tell which is which just by bringing it up in a PDF viewer. Should everyone with a le

[2019-02-21 08:57] tillkamppeter commented on #94
Fixed in commit e93764bdc2. Thanks. Please test.

[2019-02-21 08:57] #94 closed

[2019-02-21 10:20] tillkamppeter commented on #63
In issue #65 and pull request #92 we are working on the scaling, especially adding a new scaling option [`crop-to-fit`](https://github.com/OpenPrinting/cups-filters/issues/65#issuecomment-465122873). This one would do the right thing if you want to print A4 on Letter paper or vice-versa.
Note that we do not set any of the options by default, so that if one has a document which intendedly has pages

[2019-02-21 10:20] #63 closed

[2019-02-21 10:22] tillkamppeter commented on #65
Please also test the suitability of the `crop-to-fit` setting with Issue #63.

[2019-02-21 10:50] tillkamppeter commented on #93
Also reported [here](https://bugs.launchpad.net/bugs/1817033).

[2019-02-21 11:10] tillkamppeter commented on #93
The PDF file contains a fillable form. Did you fill it in and save the PDF with filled form before printing? Or did you print the original PDF without filling the form?

[2019-02-21 11:10] tillkamppeter commented on #93
Can you update your Debian unstable so that you get cups-filters 1.22.x? Does this solve your problem?

[2019-02-21 11:13] paulmenzel commented on #93
On 02/21/19 12:10, Till Kamppeter wrote:

I printed it without filling the form (from Evince and `lpr`).

[2019-02-21 11:37] paulmenzel commented on #93
On 02/21/19 12:11, Till Kamppeter wrote:

Adding the experimental archive under `/etc/apt/sources*`, and
running `apt install cups-filters/experimental`, it prints fine
now. Sorry for not trying the latest release in the first place.

[2019-02-21 12:00] paulmenzel commented on #93
[So, the commits mentioned in merge/pull request #88 to use QPDF seem to work around the issue.](
https://github.com/OpenPrinting/cups-filters/pull/88#issuecomment-454167373)

The Ghostscript developers seem to be interested in fixing this, too, but I haven’t figured out, how to reproduce this with plain Ghostscript commands. Could you help me here?

[2019-02-21 13:47] dheeraj135 commented on #65
@tillkamppeter
Let's say we have a page of dimension: W: 576.000000 H: 756.000000
and an image of dimension: W: 2592 H: 3872.
What should be the output of crop-to-fit?

[2019-02-21 14:10] tillkamppeter commented on #65
Assuming that the units of these numbers are the same (for example PostScript points, 1.72 inch) the input page is huge and so only a small portion of the center of the input page will show as output page.
Note that there are always option settings which are unsuitable in certain situations. crop-to-fit is mainly for situations where the user wants to print A4 input documents on Letter paper or vi

[2019-02-22 07:00] archenemies commented on #63
I think this may have been closed prematurely.... anyway it's not a big deal, maybe the best thing is for me to use a wrapper script to 'lp' which checks if the input is PDF and if so, whether it is the same dimensions as the printer paper, and if not, queries me. Or to make fit-to-page=true the default, and just remember to pass "-o fit-to-page=false" in cases where I need accuracy. As you point

[2019-02-22 08:52] tillkamppeter commented on #63
I did not close this prematurely, I simply linked your report to ongoing work on new scaling options which is discussed in issue #65. The setting you will need is `crop-to-fit` which centers the content and then crops away at the border what exceeds the destination paper size. With this as default you can for example print Letter-sized documents on A4 without the content getting shrinked.

[2019-02-22 11:49] paulmenzel commented on #93
Just a quick update, that updating to Cairo 1.17.2 also fixes the problem, as it includes [commit 4c8813f0 (pdf: add missing flush)](https://gitlab.freedesktop.org/cairo/cairo/commit/4c8813f0eaacc32c27126ad2296951a626300b89) fixing issue [Cairo generates incorrect PDF files](https://gitlab.freedesktop.org/cairo/cairo/issues/342). Thank you to Tobias Hoffmann for mentioning that in the Launchpad bu

[2019-02-22 11:49] #93 closed

[2019-02-22 12:36] dheeraj135 commented on #65
@tillkamppeter I converted a letter-sized pdf to image. But the converted image was larger than letter size. I got same results with A4-sized pdf.
I think, in case of images, crop-to-fit doesn't make any sense. For images, it is best to use either fitplot or fillprint.

[2019-02-22 13:11] tillkamppeter commented on #65
Yes, there can always be options which do not make sense in certain situations. If you have an image which has no size in any absolute units then `crop-to-fit` is not applicable and should be ignored.

[2019-02-22 17:04] archenemies commented on #63
I understand that, as I think I expressed in the first sentence of the second paragraph, where I noted that the document margins may not be compatible with cropping. The rest of the second paragraph talks about some other alternatives which I thought would be better.

I would be happy to test your changes except that the last time I tried to test changes at your request (#67) I ran into a build pr

[2019-02-25 12:54] paulmenzel commented on #93
For the record, here the commands to directly reproduce the issue with the example PDF file.

With Cairo 1.15.12 and Cairo 1.16.0:

[code]

[2019-02-26 18:16] dheeraj135 commented on #87
@ndreisg Please try to reproduce this issue on the latest version of cups-filters(1.22.x). You can install QPDF from [source](https://github.com/qpdf/qpdf).

[2019-02-28 09:07] yugeshk commented on #87
@dheeraj135  I don't think the error is because of the versioning.
@ndreisg  I went through the code for gstopdf and gstoraster.c for the version your customer is using. gstopdf is simply a wrapper. The options are being [set](https://github.com/OpenPrinting/cups-filters/blob/ad4f69dadba149f43a83f8e9bb7bccc5c28ed20e/filter/gstoraster.c#L265) in the gstoraster.c file

[2019-03-05 21:09] j39m opened #96 "PostScript CMYK printers cannot produce monochrome output without PPD ColorModels"
We're working with one of our partners to figure out the subject matter. We think we have validly reproduced the issue on Chrome OS with CUPS 2.2.8 and cups-filters 1.17.8.

## Observed problem
Given a PPD with a CMYK `DefaultColorSpace`, e.g.
[code]
and no `ColorModel`s specified elsewhere in the PPD, we cannot coerce the target printer to produce B&W output.

## Expected behavior
Our partner is

[2019-03-06 10:23] tillkamppeter commented on #96
First, is your printer a color printer or a monochrome printer?
How did you obtain the PPD file. Did you get it from the printer's manufacturer? Did you get it as part of a manufacturer-independent printer driver (like Gutenprint for example)? Was it part of you operating system distribution? Or did CUPS or cups-filters auto-generate it (driverless printing)?
Please attach the full PPD file to thi

[2019-03-06 15:01] #65 closed

[2019-03-06 15:13] tillkamppeter commented on #63
Your problem is solved now, by pull request #92 which I have merged now. After updating your cups-filters to the current repository snapshot (or to the upcoming 1.22.2 release) you can print with the options "`-o crop-to-fit`" to get the desired results.

[2019-03-06 16:45] lbricchi commented on #84
Finally I had time to update cups.
I had to remove all the dependencies from the old cups (basically everything that was installed), befor install new version. Now i have CUPS 2.1.3. Now the waiting time has moved from printing one page to another. First page is printing immediately but then wait at least 10 seconds for each next page. Is there any settings that i can modify? Or maybe i have need

[2019-03-06 17:52] j39m commented on #96
* We tested with a color printer.
* We are currently testing (and seeing the same, jammed-to-color print) with a generic PPD on a Ricoh PostScript printer (SP C250DN).
* The PPD (built by ppdc for a generic PostScript printer) is attached: [generic-cmyk.txt](https://github.com/OpenPrinting/cups-filters/files/2937590/generic-cmyk.txt)

[2019-03-07 00:52] bccfrederick commented on #63
@tillkamppeter I'm not getting any indication that you read what I wrote, but I understand that you added a feature which may be useful to some people.

[2019-03-07 00:58] archenemies commented on #63
@tillkamppeter - I don't see any indication that you read what I wrote. However, I understand that you added a new feature which may be useful to some people.

[2019-03-07 07:16] reinilowsax opened #97 "detected remote printer vanishs with "No destination host name supplied by cups-browsed" on printing"
Switching "LocalQueueNamingRemoteCUPS" to "RemoteName" in cups-browsed.conf, detected remote printers listed providing showing the remote queue name (exactly the name, the queue was set up on the remote machine) will break the local queue. The printer is listed unreachable:
"No destination host name supplied by cups-browsed for printer "queue-name>", is cups-browsed running?"
activating the queue

[2019-03-07 09:51] tillkamppeter commented on #63
As `crop-to-fit` does not scale it is idempotent, applying it twice will lead to the same result. If the input page is A4 and it is a usual document, scanned, and the output page is A4, too. You get it printed in original size and then usually the content falls into the printable area of the printer, and any black strips at the border which occur when scanning usually fall out of the printable are

[2019-03-07 10:51] tillkamppeter commented on #97
What I need from you is a log file from cups-browsed. To get one, please edit `/etc/cups/cups-browsed.conf` to have a line
[code]
Restart cups-browsed and then wait until the (non-working) print queues appear. Then attach the file `/var/log/cups/cups-browsed_log` to this bug report. Note that you have to rename it to have a `.txt` extension so that GitHub accepts it.

[2019-03-07 15:49] reinilowsax commented on #97
I tested printing and started a job from machine a (rzha059) to b (rzhd040)."a" here stands for PC which means machine and "d" within the name means printer (German "Drucker" and usb-connected) on a remote machine (PC) rzha040.

Following message might be of importance among many lines of cups-browsed_log:
 "ERROR: could not determine ID of curremt job on rzhd040"
I'll try to provoke the error aga

[2019-03-07 17:01] tillkamppeter commented on #97
Can you please attach the complete log file(s) to this bug report? I need to see what happens until it comes to the error. Thanks.

[2019-03-07 18:35] archenemies commented on #63
Thank you for the explanation and for your work on this.

I think if I had done it, I would have gone for an idempotent (or rather "preserving the scale of already correctly-sized-input", and therefore "usable as a default") version of `fit-to-page`, since instead of just working OK for most A4->letter documents, that would also produce sensible results for the two example documents I provided in

[2019-03-07 18:41] tanmayanand44 commented on #89
@kabassanov One possible solution is that instead of restarting cups-browsed everytime you can set ``BrowseInterval`` directive in cups-browsed.conf.

[2019-03-07 19:06] kabassanov commented on #89
@tanmayanand44, do you mean that there is no default value if the entry is commented?
# BrowseInterval 60

I thought that there was some kind of mess when an annoncement had arrived, but the client was unable to join remote cups server, and lost the printer until restart. Restarting cups-browsed makes a kind of reset of it internal state. Am I wrong?

[2019-03-07 19:11] tillkamppeter commented on #89
@tanmayanand44, "BrowseInterval" is NOT used at all for DNS-SD browsing. It is ONLY used for
- Classic CUPS broadcasting (for CUPS 1.5.x and older clients)
- LDAP
- "BrowsePoll"

[2019-03-08 06:47] dheeraj135 commented on #60
@MamataRao Try using ```-o media=X``` option. Have a look at the [documentation](https://www.cups.org/doc/options.html).

[2019-03-08 09:59] dheeraj135 commented on #67
@archenemies This issue is same as #69. I think this issue can be closed now.

[2019-03-09 16:50] tanmayanand44 commented on #89
@kabassanov Does this issue happens with a particular printer(s) always after cupsd restart on your cups server or any of printer(s) at random.

[2019-03-09 17:04] kabassanov commented on #89
@tanmayanand44, it happens with the first (one or two) printers client gets from remote server broadcasts after restart.
We made a test blocking mdns annoncements on the server side just before cupsd restart and unblocking them after the end of the restart. And the issue disappeared, because client is not aware of the action. But it is not a real solution, because it doesn't work when server just

[2019-03-11 08:54] reinilowsax commented on #97
Hi,
here's a Screenshot of the failed attempt to print from Computer A (rzha059) to remote Computer B (rzha040 with USB connected printer rzhd040) providing
"LocalQueueNamingRemoteCUPS RemoteName" in cups-browsed.conf
Look at Line #370 of the attached logfile

![cups-bugreport-github97](https://user-images.githubusercontent.com/48310271/54110418-a0716780-43e1-11e9-96d9-437d94ae6d8f.png)

[cups-bro

[2019-03-11 09:15] tillkamppeter commented on #97
Why did you close this issue?

[2019-03-11 09:23] reinilowsax commented on #97
I didn't want to close this issue, try to reopen..

[2019-03-11 09:32] reinilowsax commented on #97
I must add that after receiving this error after lpstat -d <queuename> and having sent the print-job, cups-browsed didn'nt collaps. It was still working but seems having its job Id. Found it in utils/cups-browsed.c

[2019-03-11 11:08] dheeraj135 commented on #46
@leonardorame Please try installing ```glib2``` and ```glib2-devel``` package.
Please look into this: http://www.linuxfromscratch.org/blfs/view/svn/general/glib2.html

[2019-03-11 11:51] zdohnal commented on #46
@leonardorame CentOS 6 is based on RHEL 6, which was released 9-10 years ago, so I would not recommend to trying to build newer cups and cups-filters there - you can encounter issues in other required packages.
Would you mind telling us what is your use case, for which you need new cups-filters on CentOS 6? If it is browsing features, CentOS 6 still has CUPS version, which does it in cupsd.

[2019-03-11 12:36] Cybso commented on #97
Subscribing because I see exactly the same behavior on multiple machines since the upgrade from Ubuntu 16.04 to Ubuntu 18.04. Cups version on print server (Debian 9) is 2.2.1-8, on client is 2.2.7-1ubuntu2.3.

I tried changing multiple directives like increasing Http(Local|Remote)Timeout in cups-browsed.conf, but with no permanent success. Since it does work from time to time this looks like a rac

[2019-03-11 12:55] reinilowsax commented on #97
For our administration it's a serious issue because if you don't use "LocalQueueNamingRemoteCUPS RemoteName" output is very long and confusing. Our customers might spray prints all over. This can't be tolerated and should be fixed. Only few problems occured with cups 1.7.5 (OpenSuSE 42.2/3 and SLES12).

[2019-03-11 15:07] tillkamppeter commented on #97
cups-browsed is not able to determine the ID of your job in order to give the CUPS backend instructions to which server to pass on the job.
Please attach your files `/etc/cups/cupsd.conf`, `/etc/cups/cups-files.conf`, `/etc/cups/cups-browsed.conf` (you will most probably have to add `.txt` to the file names).
After sending a job (which doses not get printed) please run the commands
[code]
and post

[2019-03-11 15:10] tillkamppeter commented on #97
A possible workaround (do it only after you have followed all my instructions in my previous comment):
Edit `/etc/cups/cups-browsed.conf` replacing
[code]
by
[code]
and restart cups-browsed.
Does this solve the problem.

[2019-03-12 06:46] reinilowsax commented on #97
Here are the wanted files. Please note that cupsd.conf and cups-browsed.conf are autogenerated by a function called edit_conf and based on corporate Metafiles to enforce common behaviour
[cupsd.conf_rzha040.txt](https://github.com/OpenPrinting/cups-filters/files/2955466/cupsd.conf_rzha040.txt)

[cups-browsed.conf_rzha040.txt](https://github.com/OpenPrinting/cups-filters/files/2955472/cups-browsed.

[2019-03-12 09:15] tillkamppeter commented on #97
Did you also do the test with "`BrowseRemoteProtocols dnssd`" for which I asked in my very last comment?
Also is there any machine with CUPS 1.5.x or older in your network? If not, you can remove the "`BrowseLocalProtocols cups`" as this one is only for sharing the local print queues to machines with these old CUPS versions. Removing these lines can remove a lot of communication clutter from your

[2019-03-12 09:35] reinilowsax commented on #97
Unfortunatety we have Printservers using cups 1.3.5 (SLES-11).  We are going to exchange them in a couple of months. I'm not quite shure, if our cups 1.7.5 clients (OpenSuse 42.2/3) use old fashioned cups browsings method. if  necessary, I'll post config files her. I'll try to apply you proposals..

[2019-03-12 09:50] tillkamppeter commented on #97
If the CUPS 1.3.5 machines are only servers and not clients you will not need "`BrowseLocalProtocols cups`" at all. Generally "`BrowseLocalProtocols cups`" is only needed on a machine which has a local printer to be shared to a CUPS 1.3.5 machine, so avoid to use it generally on all machines.
In "`BrowseRemoteProtocols dnssd cups`" the "`cups`" is for receiving broadcasts of the old servers and th

[2019-03-12 12:08] reinilowsax commented on #97
My first trial with your proposals worked half: the error-message didn't occur anymore, but printing vanished in the darkness without reaching a cups 2.2 client (rc=0). Now I've removed all cups protocols with only little changes:
<code>
BrowseAllow All
BrowseDeny None
BrowseLocalProtocols DNSSD
BrowseOrder Allow,Deny
BrowsePoll ssks001-test:631 # cups 1.7.5 print server
BrowseRemoteProtocols DNSS

[2019-03-12 14:36] ndreisg commented on #87
@dheeraj135 I could not reproduce this issue with the latest version. Can be closed. Thanks

[2019-03-12 14:45] tillkamppeter commented on #87
Closing on OP's request.

[2019-03-12 14:45] #87 closed

[2019-03-12 15:56] reinilowsax commented on #97
Update: switching "BrowseProtocols" to "CUPS" in cups-browsed.conf. Advertising works with all computers (1.7.5 and 2.2) and printing from cups 1.7.5 (passive) clients to 2.2 (active) computers with a local printer. But printing 2.2 (passive) to 2.2 (with local printers) is only simulated, remote print-queue is visible, and lp <remote dest> returns with RC=0 but prints vanish in the dark never rea

[2019-03-13 09:25] dheeraj135 commented on #85
Broken installation of ```libpam``` package was responsible for this error. So, I am closing this issue.

[2019-03-13 09:25] #85 closed

[2019-03-13 14:08] reinilowsax commented on #97
New results: DNSSD-packets of 2.2 service are obviously spread in the local network but a bug in OpenSuSE 15.0 doesn't let them get reveived. This issue seems to be fixed in Tumbleweed:
cups-filters-1.22 is working fine.

[2019-03-13 14:27] tillkamppeter commented on #97
Does this mean that I can close this issue now?

[2019-03-13 15:03] reinilowsax commented on #97
Built new version of cups-filters (including dependent qpdf) in OpenSuSE factory. Testing..

[2019-03-14 09:02] Cybso commented on #97
I've installed the cups-filter packages and dependencies from Ubuntu Disco (1.22.1) but still get ""No destination host name supplied by cups-browsed for printer "printername", is cups-browsed running?" when trying to print a test file. BrowseRemoteProtocols and BrowsePoll don't make a difference.

Logs and current config:

[cups-browsed_log.txt](https://github.com/OpenPrinting/cups-filters/files/

[2019-03-14 10:42] tillkamppeter commented on #97
@Cybso, could you attach a cups-browsed_log after having sent a print job which has failed?

[2019-03-14 10:48] Cybso commented on #97
@tillkamppeter This was an log file after sending a failed print job. There are no new lines appended when cups fails to print the job.

[2019-03-14 10:56] tillkamppeter commented on #97
@Cybso, perhaps you have some D-Bus problem of your CUPS not sending notifications of the printer state changed. This way your problem seems to be different to the one of the OP.
What happens if you send a job is that the job will get held by the `implicitclass` CUPS backend and cups-browsed is supposed to tell the `implicitclass` CUPS backend to where to send the job. For this cups-browsed must k

[2019-03-14 11:02] Cybso commented on #97
@tillkamppeter Do you have any hint for me where to look for debugging information? Basically this is a fresh Kubuntu 18.04 workstation, configured via Saltstack (but none of the saltstack rules touches any dbus configuration). I'll do a test with a clean unconfigured installation when I'm in the office at Saturday since I have to restore another workstation anyway.

[2019-03-14 11:16] tillkamppeter commented on #97
One approach is to try untouched Ubuntu configurations, without using Saltstack. You can also use virtual machines for that.
On the faulty system, set CUPS to debug logging, running the command
[code]
Then restart cups-browsed and wait until all the queues are created. After that submit a print job. Wait until the error occurs again.
Then attach the files `/var/log/cups/error_log` and `/var/log/cu

[2019-03-15 00:20] ivanbaldo opened #99 "cups-browsed option to rename DNSSD printers before adding them"
CUPS shares DNSSD printers with the following format:
`PrinterName @ HostName`
I need to add those printers without the `@ HostName` like if I where using the deprecated CUPS sharing mechanism.
I reported the reverse of this here https://github.com/apple/cups/issues/5543.
I think it would be good to have that flexibility in both to adapt better to any user needs.
Thanks!!!

[2019-03-15 11:35] reinilowsax commented on #97
Done lot of tests. Seems that DNSSD for queue advertising doesn't work at all. Using CUPS-protocol only when avahi-daemon is removed  from the system and clustering is switched off:
"LocalQueueNamingRemoteCUPS RemoteName" and "AutoClustering Yes" seem to collide. Autoclustering doesn't work stable. I've sent 9 job from a to b and 3 were succesfull in reaching the target but 6 out of 9 failed and g

[2019-03-15 17:53] tillkamppeter commented on #97
I could not reproduce the problem on my test setup consisting of my laptop as client with two VMs on it as servers, where the servers advertise their CUPS queues via DNS-SD (CUPS 2.2.x) and the client is running the current cups-filters and CUPS 2.2.10 (Ubuntu Disco, 19.04). Client's cups-browsed configuration is auto clustering with remote CUPS queues named as the remote queues. The servers each

[2019-03-15 19:05] tillkamppeter commented on #97
Now you can also test with the cups-filters 1.22.2 release.

[2019-03-15 19:09] tillkamppeter commented on #99
cups-browsed can be configured to do so.
Edit `/etc/cups/cups-browsed.conf` to have the lines
[code]
and restart cups-browsed. Then your remote CUPS queues should be handled as they were before, with CUPS browsing.

[2019-03-15 19:09] #99 closed

[2019-03-16 09:50] tillkamppeter commented on #84
Did you also update cups-filters? To which version?
Does the problem occur with every print job? Or are there certain PDFs which cause the problem? Can you attach sample PDFs then?
When the printing pauses, can you check by the `top` command and also by the error_log file what is happening?

[2019-03-16 18:51] tillkamppeter commented on #67
@dheeraj135, the compilation problem in the last comment of @archenemies, is issue #69, this issue is different and @archenemies needs to build the newest version to check whether it is already fixed.
@archenemies, with your compilation problem please check the (already fixed) issue #69. Make sure you use the very newest cups-filters version.

[2019-03-16 19:52] tillkamppeter commented on #55
No response from the original poster, so I assume that my changes have fixed it. Closing ...

[2019-03-16 19:52] #55 closed

[2019-03-16 19:53] tillkamppeter commented on #61
We cannot do anything more here. Closing ...

[2019-03-16 19:53] #61 closed

[2019-03-16 20:12] tillkamppeter commented on #10
Try putting a line
[code]
and make sure not having any of
[code]

[2019-03-17 20:01] tanmayanand44 commented on #89
@kabassanov What version of cups-filters on client did you use? I was able to successfully reproduce this issue with v1.8.3 but after upgrading to v1.20.2 this issue disappears.

[2019-03-17 20:18] tillkamppeter commented on #28
Added appropriate hint to man page of `cups-browsed.conf` and `cups-browsed.conf` itself, commit a32dfc38ba6b.

[2019-03-17 20:18] #28 closed

[2019-03-17 20:52] kabassanov commented on #89
@tanmayanand44 I've tried USB live releases of Fedora 28 and 29, so I suppose it was cups-filters-1.20.0-7.fc28.x86_64 and cups-filters-1.20.3-9.fc29.x86_64, but I'm unable to check right now.

[2019-03-18 05:08] zdohnal commented on #28
Thank you, Till!

[2019-03-18 06:37] reinilowsax commented on #97
At first, thank you for your effort.
After lots of trials, i succeeded in getting remote queues detected by using the Legacy CUPS protocol, here are the changes. I made versus default in cups-browsed.conf :
<code>
AutoClustering No
BrowseAllow All
BrowseDeny None
BrowseLocalProtocols CUPS
BrowseOrder Allow,Deny
BrowsePoll ssks001-test:631
BrowseRemoteProtocols CUPS
DebugLogging file
LocalQueueNami

[2019-03-18 09:03] tillkamppeter commented on #97
First, did you upgrade to cups-filters 1.22.2? Do jobs reliably print with that version?
Second, if you use
[code]
together with
[code]
you get always the queue names of the form `<remote name>@<server IP>` to avoid problems if there are several servers using the same queue name. To get the simple names you have to use
[code]
even if you do not actually have multiple servers with the same queue na

[2019-03-18 09:08] Cybso commented on #97
These settings (in combination with "BrowseLocalProtocols cups" on the server) seems also to have solved my problem.

However, I tried the whole weekend to reproduce this problem in virtual machine - without success. It seems to occur more frequently when the server is propagating multiple printers. In our normal configuration we have five printers (or pre-configured versions of the same printer).

[2019-03-18 09:11] tillkamppeter commented on #97
@Cybso, can you also test with cups-filters 1.22.2? Or applying commit f0e1fc4 to whatever version you are actually using?

[2019-03-18 09:12] Cybso commented on #97
I'll do check this in the evening, I'm at work at the moment.

[2019-03-19 06:55] reinilowsax commented on #97
failed in compiling it myself on OpenSuSE 15.0. (gcc not available on OpenSuSE). Maybe I need binary packages. For using OpenSuSE Build-Service you need to rebuild qpdf together with cups-filters. It would be appreciated, if cups-filters 1.22.2 could get availlable for OpenSuSE 15.1, because we would like migrate to it on 12.000 computers.

[2019-03-19 07:42] Cybso commented on #97
I've applied the patch to the cups-filters-1.20.2 package in Ubuntu 18.04 (had to merge some parts manually) and until now remote printing seems to work, no matter how many printers I've configured on the server.

May I ask what this patch changes? It's slightly hard to read since parts of the original code where moved into its own function.

I will roll out the modified package to the production

[2019-03-19 08:25] tillkamppeter commented on #97
@Cybso, thank you for your feedback.
The patch changes the following:
If you have a cluster of printers, cups-browsed creates the queue for printing on this cluster with the implicitclass backend. This backend passes each job on to one of the cluster's memeber printers. To know which printer the current job has to be sent, cups-browsed is used. cups-browsed subscribes to CUPS notifications to get

[2019-03-19 08:37] tillkamppeter commented on #97
@reinilowsax, unfortunately, I cannot help you with SUSE Linux integration, as I do not use SUSE Linux.
What you could try is to only copy the code of cups-browsed, the files `utils/cups-browsed.*` and `backend/implicitclass.*` from cups-filters 1.22.2 to your SUSE distribution's cups-filters. The QPDF requirement is only for the filters, which you do not need to update.
I will also ask SUSE's pri

[2019-03-19 09:49] tillkamppeter commented on #97
@Cybso, could you attach your patch here, so that I can use it for a SRU (Stable Release Update) on Ubuntu? Thanks.

[2019-03-19 10:21] reinilowsax commented on #97
Next trial:
OpenSuSE 15.x seem to lag behind..
Tumbleweed:  cups-filters-1.22.1-lp150.102.1.x86_64
15.1 (beta)   :  cups-filters-1.20.3
compared both version: seem to be different with respect to cups-browsed.c
No I'm triying to use the latest Tumbleweed version of cups-filters and include your code proposals.

[2019-03-19 10:33] Cybso commented on #97
[f0e1fc43dc5ec79a783cf2df82d9df827f3ccece-1.20.2-0ubuntu3.txt](https://github.com/OpenPrinting/cups-filters/files/2982826/f0e1fc43dc5ec79a783cf2df82d9df827f3ccece-1.20.2-0ubuntu3.txt)

[2019-03-19 10:34] tillkamppeter commented on #97
@reinilowsax, @Cybso has backported my patch to 1.20.2 and he has attached his backport here while I am writing this post. This could probably also work on the 1.20.3 of OpenSUSE 15.1.

[2019-03-19 10:36] tillkamppeter commented on #97
@Cybso, thank you very much.

[2019-03-19 12:05] reinilowsax commented on #97
Thank you very much, trying to build a new package 1.22.x with you modifications and hoping the best for upcoming OpenSuSE-Release 15.1...

[2019-03-19 12:24] dheeraj135 commented on #82
@ocean1 I was able to reproduce this error in the latest version of cups-filters. I think, when the input file is corrupted, the program should exit gracefully rather than a segfault.

[2019-03-19 20:39] ivanbaldo commented on #99
CUPS protocol is deprecated isn't it?
So, what is needed is a way to accomplish the same thing but with DNS-SD.
I think this issue has been closed by mistake...
Thanks!!!

[2019-03-20 09:45] reinilowsax commented on #97
With this configuration, the hangups didn't occur anymore:
<code>
BrowseRemoteProtocols CUPS
BrowseLocalProtocols CUPS
LocalQueueNamingRemoteCUPS RemoteName
AutoClustering Yes
BrowseAllow All
BrowseDeny None
BrowseOrder Allow,Deny
DebugLogging file
</code>
I'll do more tests with slight modifications...

[2019-03-20 13:13] tillkamppeter commented on #99
The configuration settings apply also to DNS-SD-advertised print queues, not only to the deprecated CUPS protocol.

[2019-03-21 06:10] reinilowsax commented on #97
Seems to work fine..

[2019-03-21 06:32] tillkamppeter commented on #97
@reinilowsax, thank you very much. Then I will close this as fixed.
For anyone seeing only this post to not need to search through the whole thread, the fix is commit f0e1fc4, included in the 1.22.2 release of cups-filters.

[2019-03-21 06:32] #97 closed

[2019-03-21 14:04] #81 closed

[2019-03-21 14:04] #82 closed

[2019-03-21 21:22] ivanbaldo commented on #99
Oh! Now I see! It works indeed without using the CUPS protocol! Nice!
I don't know how, but the comments and manpage should be changed a bit to make this more clear.
Thanks a lot!!!

[2019-03-22 15:00] dheeraj135 commented on #33
@tillkamppeter This issue has already been resolved. Please check the bugzilla report.

[2019-03-22 15:07] kabassanov commented on #89
Yes, just for confirmation: cups-filters-1.20.3-9.fc29.x86_64 in F29

[2019-03-22 15:51] #33 closed

[2019-03-26 21:39] ivanbaldo opened #101 "NewBrowsePollQueuesShared option?"
Hello.
It would be useful to be able to re-export printers discovered by BrowsePoll options.
Like for example in a CUPS server connected to various VPNs resharing their printers without specifying them one by one but instead relying on CUPS servers in each VPN having access and sharing the printers at that location automatically.
Maybe the more correct way would be to fiddle with Avahi though... b

[2019-03-27 21:21] jmrcpn opened #102 "3 page test page in double side mode (2 paper sheet)"
Printing a test page with CUPS 2.2.12 while printer is defined with duplexer (double-side),
3 pages are printed on the two sheets printed.
I was expecting (as with cups-1.4.2) to have only 2 pages (one sheet recto-verso).
According michaelrsweet, this "bug" is cups-filters one.

Note:
- test page in none duplexer mode (single side) is OK.
- Problem is occurring with different printer brand  (HP, l

[2019-03-30 12:05] jmrcpn commented on #102
Bug still present with cups-filters 1.22.3 (cups version 2.2.10)

[2019-03-31 19:17] tillkamppeter commented on #102
@sahilarora535, could you have a look into this? It seems to be a problem in your new bannertopdf filter.

Reproducer:
[code]
with an arbitrary PPD file (will probably need "Duplex" option), or even without PPD:
[code]
If duplex printing is set, like here there are 3 instead of the expected 2 output pages. With Duplex not set, there is as expected one output page.
By the way, in all of the cases t

[2019-03-31 19:33] tillkamppeter commented on #102
@sahilarora535, I have already found and fixed the bug. I will commit the fix soon.

[2019-03-31 19:42] jmrcpn commented on #102
Good, let us know when commit is done
such I can confirm it is ok.

[2019-03-31 19:45] tillkamppeter commented on #102
Fixed in commit 8b51968106.
Thank you for the bug report.

[2019-03-31 19:45] #102 closed

[2019-04-01 10:37] tillkamppeter commented on #89
@tanmayanand44, any further news about this?

[2019-04-03 16:28] zdohnal opened #104 "[driverless] HP Color LaserJet M281 cannot print test page"
Hi!

we have report in Fedora 29 (cups-2.2.10, cups-filters-1.20.3) https://bugzilla.redhat.com/show_bug.cgi?id=1694797 , which is about driverless HP printer (dnssd backend, ppd created by cups-filters generator based on IPP comm) cannot print test page from GNOME control center, but other files does not do any problems.

Jan (the reporter) provided logs
[cups_journal.txt](https://github.com/Open

[2019-04-07 16:14] tillkamppeter commented on #104
For me it looks like that when your print job runs the bannertopdf filter that the filter is not finding the fonts for the text part of the test page.
Extracting text from your output PDF file one sees that all the text is actually contained in the file. Also evince complains about fonts when displaying it and displays it without text then.
Then mention of cairo in the PDF file can come from the t

[2019-04-08 09:27] zdohnal commented on #104
I tried the newest cups-filters and it works there - probably when bannertopdf was rewritten it was fixed.

[2019-04-08 09:27] #104 closed

[2019-04-08 19:34] tanmayanand44 commented on #89
@tillkamppeter I switched to latest version of cups-filters for testing and now after multiple restarts on server, it seems that sometimes client is not able to fetch those ppd file but after every 10s it retries and in subsequent tries, the client was actually find all the printers on the server. I am attaching the log which shows the initial failed attempts to find the all 4 printers together bu

[2019-04-08 19:45] kabassanov commented on #89
@tanmayanand44 , is it a new feature for the client to retry fetching ppd files? Does "lpstat -p" show all your printers after that?

[2019-04-08 19:59] tanmayanand44 commented on #89
@kabassanov Retry feature existed even in v1.8.3, and using v1.8.3 I was able to reproduce this issue almost every restart and client was stuck at unable to find ppd after each retry. But after switching to the l v1.22.4, it takes some time to find all printer but it does find them all finally.

[2019-04-08 20:04] kabassanov commented on #89
@tanmayanand44 , are you able to reproduce the failure with cups-filters-1.20.3 (-9.fc29.x86_64) ?

[2019-04-08 20:20] tanmayanand44 commented on #89
@kabassanov If I remember correctly, this issue existed on v1.20.2(which came with stock ubuntu18.04lts), but it showed up only after several restarts on the server, i.e., worked fine most times. I would request you to update to the latest release and then update us.

[2019-04-09 08:32] flying-sheep opened #106 "Switch from imagemagick to graphicksmagick (or another library)"
Imagemagick is problematic since it hijacks a lot of command names (convert, import, …) and has quite a few security problems. There’s more here: http://www.graphicsmagick.org/

[2019-04-09 08:39] tillkamppeter commented on #106
@sthibaul, I think, ImageMagick is only used by your Braille support. Could you convert this to GrapicsMagick?

[2019-04-09 10:27] tillkamppeter commented on #106
@sthibaul, could you test the pull request #107? Thanks.

[2019-04-10 08:30] tillkamppeter commented on #106
Unfortunately, we cannot do this change due to the fact that GraphicsMagick does not support all formats needed for our Braille embosser support. As ImageMagick is only used for the Braille embosser support and for nothing else in cups-filters this is no disadvantage for most users.

[2019-04-10 08:30] #106 closed

[2019-04-16 19:47] michaelrsweet opened #108 "Support "print-scaling" option"
The "print-scaling" option is the standard IPP Everywhere option for controlling the scaling of the output; currently defined values are:

- `auto`: if the “ipp-attribute-fidelity” attribute is true or the document is larger than the requested media, scale the document using the 'fit' method if the margins are non- zero, otherwise scale using the 'fill' method. If the “ipp-attribute-fidelity” attr

[2019-04-17 12:23] paulmenzel commented on #102
This is Debian bug report [cups-filters: Printing a test page prints 3 pages on duplex printer][1].

[1]: https://bugs.debian.org/922409

[2019-04-19 10:56] Bujiraso opened #109 "Printer being repeatedly automatically added by cups-filters"
As described by myself and another user on https://gitlab.gnome.org/GNOME/gnome-settings-daemon/issues/104, a printer with a null address that doesn't work keeps showing up in my Gnome control center.

![image](https://user-images.githubusercontent.com/1975771/56421345-6f097880-6278-11e9-9ca6-7004a792bda6.png)

From looking at my printer settings, I"m guessing this comes from the Bonjour Name that

[2019-04-20 16:39] debiantriage commented on #109
This is neither a CUPS nor a cups-filters issue. Please see

[https://gitlab.gnome.org/GNOME/gtk/issues/1509](url)

Regards,

Brian.

[2019-04-20 17:36] tillkamppeter commented on #109
Closing as it is a GTK bug ...

[2019-04-20 17:36] #109 closed

[2019-04-24 16:05] paulmenzel opened #110 "error: ‘Rectangle’ in ‘class QPDFObjectHandle’ does not name a type"
Trying to build cups-filters with QPDF 8.4.0, it fails with the error below.

[code]

[2019-04-24 16:12] paulmenzel commented on #110
I messed up the include and library paths. Sorry.

[2019-04-24 16:16] paulmenzel opened #111 "configure: error: conditional "ENABLE_DRIVERLESS" was never defined."
With cups-filters 1.22.5, configuring the build with the command below results in the error below.

    $ PREFIX=/package/tonerlow/cups-2.1.4 PKG_CONFIG_PATH="${PREFIX}/lib/pkgconfig" ./configure \
        --prefix=$PREFIX \
        --without-rcdir \
        --disable-avahi \
        --without-php \
        --disable-dbus \
        --with-cups-config=${PREFIX}/bin/cups-config
    […]
    checking

[2019-04-24 16:19] paulmenzel commented on #111
Is that because of the old CUPS 1.2.4 version?

https://github.com/OpenPrinting/cups-filters/blob/cf508346bf7141f6fa07cf6e916550203486e1ba/configure.ac#L121-L124

[2019-04-24 16:35] paulmenzel opened #112 "parallel/ieee1284: Linking fails with undefined references"
[code]

[2019-04-24 16:38] dheeraj135 commented on #111
@paulmenzel I think issue is because of cups-config. Please verify your path of cups-config.

[2019-04-24 16:41] paulmenzel opened #113 "Allow to disable backends"
It would be nice if the wanted backend list could be specified during configure time. That would have helped with issue https://github.com/OpenPrinting/cups-filters/issues/112, so that the backends *parallel* and *ieee1284* could have been disabled.

[2019-04-24 16:45] paulmenzel commented on #112
It also happens with other backends *serial* and *implicitclass*.

[2019-04-24 16:52] paulmenzel commented on #112
It works when manually adding `-lcups`.

     cups-filters-1.22.5$ /bin/sh ./libtool  --tag=CC   --mode=link gcc  -g -O2 -Wall -std=gnu11 -D_GNU_SOURCE   -o implicitclass implicitclass-implicitclass.o  -lldap -ltiff -ljpeg -ldl -lcups
    libtool: link: gcc -g -O2 -Wall -std=gnu11 -D_GNU_SOURCE -o implicitclass implicitclass-implicitclass.o  -lldap -ltiff -ljpeg -ldl -lcups

[2019-04-24 16:56] paulmenzel commented on #112
It turns out, it is not checked if the specified path to `cups-config` actually exists.

    cups-config:     /bin/cups-config

[2019-04-24 23:05] paulmenzel commented on #110
Actually it is still happening with QPDF 8.4.0.

[code]

[2019-04-25 09:48] tillkamppeter commented on #110
Are you sure that you did not mix up QPDF versions on your system? Is there actually only one version of QPDF and also the header files of only this version installed?
Note that if you have QPDF of your distribution installed and in addition install QPDF from source, they get installed in different locations.

[2019-04-25 09:50] tillkamppeter commented on #110
@jberkenbilt, could you have a look here?
For me cups-filters 1.22.5 builds perfectly with the QPDF 8.4.0 installed on Ubuntu Disco (19.04).

[2019-04-25 13:32] jberkenbilt commented on #110
My first thought also was that it looks like there are headers from multiple qpdf versions installed. I'm not sure what system you are building on, but make sure you have installed version 8.4.0 of the dev package, e.g. libqpdf-dev or qpdf-devel or whatever it's called on your system. If you have 8.2.1 of the dev package and 8.4.0 of the executable package, you would actually be building against 8

[2019-04-25 23:44] paulmenzel commented on #111
@dheeraj135, no I do not think it is . It is because my CUPS version is older. The the two nested if conditions. The if statements/conditions should probably be reversed. Currently, if the CUPS version is too low, the variable will never be set.

[2019-04-25 23:48] paulmenzel opened #114 "Configure script does not abort, when certain Poppler headers are missing"
The configure script should error out, if certain Poppler headers cannot be found.

    checking for POPPLER... yes
    checking poppler/cpp/poppler-version.h usability... no
    checking poppler/cpp/poppler-version.h presence... no
    checking for poppler/cpp/poppler-version.h... no

In Debian Sid/unstable with `libpoppler-dev` 0.71.0-3 and without `libpoppler-cpp-dev` installed, the error below

[2019-04-29 22:14] tanmayanand44 commented on #114
@paulmenzel As a temporary fix, you must build poppler from source and enable the xpdf-headers using ``./configure --enable-xpdf-headers`` to configure poppler. These error is due to our pdftoraster using non-public api's of poppler that are derived from xpdf. We are currently working to change the pdftoraster to use only the public api's of poppler and you will see the patch soon. For more inform

[2019-04-30 13:34] davygravy commented on #8
@tillkamppeter , @sahilarora535 :

1.   Is it now the case that cups-filters no longer depends on poppler/libpoppler at all?

2.   this dependency is completely changed to qpdf, without any loss in function?

Thank you in advance,

Dave

[2019-04-30 14:01] tillkamppeter commented on #8
@davygravy:
1. cups-filters still contains filters which use Poppler, `pdftoraster` and `pdftops` to support Poppler as one of the three available PDF interpreters (the two others are Ghostscript and MuPDF), but you can build cups-filters without Poppler as you can as well work with one of the other PDF interpreters. They are all equally supported.
Note that QPDF is NOT a PDF interpreter. So you c

[2019-04-30 14:42] tillkamppeter commented on #114
Closing as this problem will be solved with issue #9.

[2019-04-30 14:42] #114 closed

[2019-04-30 16:12] tillkamppeter commented on #113
In issue #112 the backends do not build do to the "`-lcups`" missing in the linker command line. libcups is also needed by the filters though, so disabling the build of the backends had not made cups-filters build in that case.

[2019-04-30 16:12] #113 closed

[2019-04-30 17:29] tillkamppeter commented on #111
Fixed in commit ec8f9266.
Thanks for the bug report.

[2019-04-30 17:30] #111 closed

[2019-04-30 18:54] tillkamppeter commented on #112
Which `./configure` command line did you actually use?

[2019-04-30 19:35] tillkamppeter commented on #110
@paulmenzel, could you please check your system whether there is perhaps more than one QPDF version installed and make sure that ONLY QPDF 8.4.0 and its header files are installed. Then try building cups-filters again and report back here. Thanks.

[2019-04-30 20:18] tillkamppeter commented on #108
@dheeraj135, could you add this functionality? The actual implementation you have already done with issue #65, issue #63, and pull request #92. What you need to add now is that this functionality is also triggered appropriately by the print-scaling attribute as Mike has shown in the initial posting.
- `print-scaling=fill`: This is your "fill-page" asked for in the original posting of issue #65, a

[2019-05-01 12:58] dheeraj135 commented on #108
@tillkamppeter Sure, I will work on it.

[2019-05-07 12:50] dheeraj135 commented on #108
@tillkamppeter @michaelrsweet, I am not sure how I should compare the size of the document and the media. Suppose the dimension of an image is [100,150] and, that of media is [120,90]. What should be the expected behaviour of ```auto-fit``` option?

[2019-05-07 14:18] tillkamppeter commented on #108
@dheeraj135, first the input page is considered larger than the output frame, as the height of 150 does not fit into the height of 90. Even if we allow rotating to fit the output page the input page is still larger than the output page.
What happens when the "auto-fit" setting is used depends on the state of the “ipp-attribute-fidelity” IPP attribute. If it is set, we have to apply the "fit" metho

[2019-05-08 09:07] tillkamppeter commented on #89
@kabassanov, we are now waiting for your answer for one month. Did you actually update and try out whether this solves your problem?
I will close here now. If you still suffer the problem after updating cups-filters please re-open this issue. Thanks.

[2019-05-08 09:07] #89 closed

[2019-05-08 09:14] tillkamppeter commented on #84
@lbricchi as you did not answer my questions for near two months now I assume that all is OK for you now. So I am closing this issue. Please re-open it if, after updating cups-filters, you are still suffering this problem.

[2019-05-08 09:14] #84 closed

[2019-05-08 18:16] archenemies commented on #67
I tried installing the newest cups-filters version on both devices. However, I'm still getting "filter failed" when I try to print something with both `-n` and `-o page-ranges`.

It might be nice to have a page with instructions that answer the following questions:

1. how do I install the latest version of cups-filters

2. How do I check that the latest version of cups-filters is installed

3. Ho

[2019-05-08 18:43] archenemies commented on #67
Also, it seems like there is a clock issue.

And I didn't run into any build problems when building the latest cups-filters from Github.

[2019-05-08 20:10] tillkamppeter commented on #67
You wrote:
[code]
CUPS 2.2.10 is a rather new version, 2.2.12 is the very newest, but I am not sure whether it would actually fix this bug. The version number of a running CUPS daemon you find also in the web interface http://localhost:631/. `/var/log/cups/error_log` probably contains it, too.
cups-filters 1.22.5 is the currently released version. `cups-browsed --version` is one of the possible co

[2019-05-08 20:34] tillkamppeter commented on #67
I do not know your PDF files. If I use a file with a sufficient number of pages, so that the page-ranges setting leaves at least one single page for me everything seems to work correctly. Can it be that your input files do not have enough pages letting pdftopdf output a zero-page file?
Could you use the `cupsfilter` command of CUPS to test the filtering and then post the complete screen output of

[2019-05-08 21:30] tillkamppeter commented on #67
The error which you have in your error_log in the initial posting is the filter `hpcups` erroring on empty input. I have found it out by manually running the sequence of `pdftopdf`, `gstoraster`, and `hpcups`, with a one-page PDF as input and selecting pages 3 and 4 via `page-ranges` resulting in `pdftopdf` sending a zero-page PDF file to `gastoraster` and `gstoraster` producing no byte of output

[2019-05-08 23:18] archenemies commented on #67
Thank you. I don't think it's a problem with zero pages but I'll have to get back when I have more time to investigate, maybe tomorrow I hope.

[2019-05-09 09:12] archenemies commented on #67
Hmm, GitHub was telling me that one of your comments had been posted "3 hours from now". I don't know, were you using the email gateway and maybe there is a timezone issue? I'm sending this comment through email by the way, usually I use the website.

[2019-05-09 09:39] tillkamppeter commented on #67
I do all my posts via the web interface. Perhaps you had the web site open for several hours. The pages do not auto-update, so you need to reload to see the correct relative time stamps.

[2019-05-09 09:53] archenemies commented on #67
That's interesting. I don't see how a future timestamp would result from an out-of-date web page, but I agree that, if you are using the web interface, it's hard to see how the problem could be on your end. My apologies.

[2019-05-09 12:59] tillkamppeter opened #117 "Graceful/Consistent handling of zero-page jobs"
It does not make much sense to send a file in a printable format but consisting of zero pages to a printer, but such jobs can easily appear, for example using the "page-ranges" option to select certain pages but the input file does not contain enough pages so that not even one page gets selected (like `page-ranges=3-4` on a one-page input file). Also errors in handling a PDF file manipulation util

[2019-05-09 13:23] tanmayanand44 commented on #117
@tillkamppeter Sure, I will do include this.

[2019-05-09 14:25] jberkenbilt commented on #117
Please let me know if there's anything for me to do here, but it's unlikely that there will be. I'm quite certain that QPDF works with zero-page files since that's what --empty produces. There may be some library calls that might throw exceptions on zero-page files, but certainly it would be possible to make pdftopdf handle that case without any qpdf library changes. But if there were some changes

[2019-05-09 15:25] smilingthax commented on #117
Well, what pdftopdf outputs when there are no pages left, is basically the same thing qpdf --empty produces (except for three `%...comment...` lines at the start). At least, that's what I got here with a simple test.

The thing is, **the pdf spec does not seem to allow pdf's with no pages.** I don't have an exact quote right now, but e.g.see here: https://forums.adobe.com/thread/2011170 , or the o

[2019-05-09 17:52] tillkamppeter commented on #117
Thanks for your answers.
I have checked now, the output of `qpdf --empty` makes Ghostscript producing the same warnings as the zero-page output of `pdftopdf`. So it seems that the PDF specs actually do not support zero-page files.
I do not like Apple's idea of outputtting a single blank page, as this makes the printer spin out a piece of paper which is actually not needed.
I suggest that ALL filte

[2019-05-09 21:00] tillkamppeter commented on #117
Multi-page data formats handled by cups-filters:
- Apple/CUPS/PWG Raster (zero-page output: 4-byte magic string only)
- PDF (zero-page output: 0 bytes)
- PostScript (zero-page output: Only "%!" or 0 bytes)
- PCLm (zero-page output: 0 bytes, as PDF)
- Plain text (zero-page output: 0 bytes)

Filters affected (taking at least one of the above formats as input and/or removing pages):

- rastertopdf
-

[2019-05-11 20:02] archenemies commented on #67
OK so `cupsfilter` seems like a useful command but when I try to use it, it just gives me an exact copy of the input document. This is using the PDF file I uploaded earlier:

    $ foomatic-rip --version
    foomatic-rip of cups-filters version 1.22.5
    "man foomatic-rip" for help.
    $ cupsfilter -n 2 -o page-ranges=3-4 eprep-reqs.pdf > t.pdf
    DEBUG: argv[0]="cupsfilter"
    DEBUG: argv[1]=

[2019-05-12 21:17] tillkamppeter commented on #67
You need to specify the output format in the `cupsfilter` command line. Otherwise PDF is assumed and with a PDF as input file no filtering will happen. Please check the man page of `cupsfilter` and specify as much as possible, for example also the PPD file of the printer for which you want to debug the filtering.

[2019-05-12 21:31] archenemies commented on #67
OK sorry you'll need to tell me more information. I read the man page already. Can you provide an example command line for cupsfilter?

Also, maybe comment on the fact that it looks like `page-ranges` is still being applied twice? Did you fix that part of the bug; did you test your fixes? I'm not quite sure what additional data we're supposed to be learning from `cupsfilter`, beyond the informatio

[2019-05-12 22:30] tillkamppeter commented on #67
Usually, you run the command this way:
[code]
The `<PPF file>` is the name of the PPD file of your print queue. Note that it is only readable for root in its standard location in `/etc/cups/ppd/`. Use a copy at another place or run the command with `sudo`. The `-m` option specifies the output format, which one is the correct one you see in the PPD, in your case it is `application/vnd.cups-raster`.

[2019-05-14 14:15] genifycom opened #119 "Raspbian Login Loop for cups 2.2.1-8+deb9u2"
Just installed "cups 2.2.1-8+deb9u2" on a Raspberry Pi Model 3B+ using "Linux raspberrypi 4.14.98-v7+"

Cups installs and the GUI runs. I have not changed the user at all. So I added the user pi as in:

sudo usermod -a -G lpadmin pi

and rebooted.

When I attempt to Add Printer, the login box will not accept the username pi and password raspberry. The resulting page indicated Unauthorized.

I see

[2019-05-14 14:19] dheeraj135 commented on #119
Please raise this issue on ```cups``` repository: https://github.com/apple/cups/issues

[2019-05-14 14:26] tillkamppeter commented on #119
Not a cups-filters bug, closing ...

[2019-05-14 14:26] #119 closed

[2019-05-14 16:15] tillkamppeter commented on #67
The only way `page-ranges` can be applied twice is by the `pdftopdf` filter running on both client and server. Can you attach the PPD file which you are using on the client's print queue and the PPD file which you are using on the server's print queue? They are in `/etc/cups/ppd/` on each machine, named with the print queue's name and the `.ppd` extension. To attach them here you have to add `.txt

[2019-05-14 16:18] tillkamppeter commented on #67
A way to get a correctly working client-side queue is not to create it manually but instead, let it get auto-created by cups-browsed (or by the client's CUPS). If you remove the queue on the client the auto-creation should take place.

[2019-05-14 19:57] archenemies commented on #67
Thank you for your help. I am very busy this week but I will try your instructions when I have time.

[2019-05-14 20:36] #96 closed

[2019-05-14 21:33] tillkamppeter commented on #96
Note: The merged pull request fixes this issue when Ghostscript ot Poppler is used as PDF renderer. I will add a solution for MuPDF soon.

[2019-05-15 09:09] tillkamppeter commented on #96
Fixed for MuPDF in commit 7a8f404f3c.

[2019-05-15 20:14] #108 closed

[2019-05-16 07:02] paolobenve opened #120 "net printer doesn't print any more"
Hi! I have 4 ubuntu bionic pc's on my intranet, with a multifunction sharp printer, an MX-2310U, which always printed perfectly until a few days ago.

Since some day ago I cannot print any more from any PC, while it seems that from a Windows PC printing is ok (the printer technician who came for assistance told me so).

Apparently, on the PC side the printing job ends well, and the job is sent to

[2019-05-19 14:40] Esokrates commented on #22
Same problem here with Canon_MG4200_series:

E [19/May/2019:16:30:37 +0200] [Client 247] Returning IPP server-error-internal-
error for CUPS-Add-Modify-Printer (ipp://localhost/printers/Canon_MG4200_series)
 from localhost.
E [19/May/2019:16:30:38 +0200] [CGI] Unable to create PPD file: Printer does not
 support required IPP attributes or document formats.
E [19/May/2019:16:30:38 +0200] copy_model

[2019-05-30 23:19] archenemies commented on #67
Sorry for the delay. Here are the PPDs:

[B210a_Remote.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/3239023/B210a_Remote.ppd.txt)
[HP_Photosmart_Plus_B210_series.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/3239025/HP_Photosmart_Plus_B210_series.ppd.txt)

As you can see from the output of cupsfilter, both PPDs are processing the `page-ranges` option:

    $ cupsfilter

[2019-06-04 09:46] zdohnal opened #124 "cups-browsed 1.24.0 does not create local queues for remote cups queues (cups-1.4.2)"
Hi!

I tested the newest release - 1.24.0 - in our company environment, where print server is served by cups-1.4.2, and local queues are not created anymore. Here are the logs
[cups-browsed-log.txt](https://github.com/OpenPrinting/cups-filters/files/3251248/cups-browsed-log.txt) .
From logs - it seems some of remote queues did not pass get-printer-attributes request at cups-browsed.c:6793 , thougn

[2019-06-04 09:50] tillkamppeter commented on #124
@deepak0405 can you have a look into this? Thanks.

[2019-06-04 11:24] deepak0405 commented on #124
I am trying to reproduce the errors.
1. What is the Make Model of remote cups queue?
2. Can you please also send the output  and return status of
[code]
https://github.com/steveathon/cups/blob/master/test/get-printer-attributes-2.0.test

[2019-06-04 12:23] zdohnal commented on #124
@deepak0405
1) Canon imageRunner C5185i Foomatic/Postscript , but it based on used PPD. In reality it is Canon imageRUNNER ADVANCE C3530i MFP
2) ipptool -tv ipp://server_hostname:631/printers/brno4-tpbc-0th-north get-printer-attributes-2.0.test
[ipptool_output.txt](https://github.com/OpenPrinting/cups-filters/files/3252271/ipptool_output.txt)

The uri is uri of print queue on server, uri to device

[2019-06-06 14:59] tillkamppeter commented on #124
@zdohnal, the CUPS server server_hostname is not answering the standard get-printer-attributes IPP request, according to your ipptool_output.txt. As CUPS is supposed to fully conform to IPP 2.x this is not expected.
Most probably this is either a bug in CUPS or the server runs a stone-old CUPS version which only does IPP 1.x.
Could you tell which CUPS version your server server_hostname is running

[2019-06-06 15:18] tillkamppeter commented on #9
Fixed by pull request #125, merged in cups-filters 1.25.0.
Thanks, @tanmayanand44, for your great work!

[2019-06-06 15:18] #9 closed

[2019-06-06 19:29] tillkamppeter commented on #120
I do not see anything wrong in your error_log, neither on job processing nor on communication with the printer.
So please first, gfet your printer's PPD file from /etc/cups/ppd/ and attach it here. Rename it to have the extension `.txt` added to the original name so that GitHub accepts it.
The run the following command to isolate the filtering:
[code]
This does the conversion of your input file (P

[2019-06-06 21:25] paolobenve commented on #120
I resolved when something explained me that that printer doesn't accept ps input, it needs pcl

[2019-06-06 21:25] #120 closed

[2019-06-06 22:13] tillkamppeter commented on #67
Thank you for the information.
You do not need to use `cupsctl` for switching to debug logging. To set the log level to debugging mode you simply stop CUPS, edit /etc/cups/cupsd.conf editing the `LogLevel` line to be `LogLevel debug` or create such a line if there is none. Then start CUPS again.
The problem is that both on your server and on your client you have CUPS queues with PPD files. This me

[2019-06-07 05:50] zdohnal commented on #124
@tillkamppeter Ad cups version - please see issue subject, I explicitly defined version there - and yes, because it is old CUPS, it runs only IPP 1.x.
Ad conf files - they are under jurisdiction of our IT team, so I do not have free access to them. But I asked them to send them to me.

[2019-06-07 11:10] tillkamppeter commented on #124
@deepak0405, perhaps we should re-introduce the old clustering method for legacy server support. Not having this especially defeats the support for legacy CUPS browsing (as a client).
First, we need to find out with which version CUPS started to have IPP 2.x support (with supplying full capability info when getting a get-printer-attributes IPP request). If the first DNS-SD-enabled version already

[2019-06-07 11:24] tillkamppeter commented on #124
@zdohnal, as your servers have such an old CUPS (1.4.x), are you using cups-browsed's feature to create local queues based on legacy CUPS browsing (the feature Tim Waugh had added near the beginning of cups-browsed development in 2013)?
Do you only access single printers with each loacl queue or do you want to create clusters?

[2019-06-07 11:43] zdohnal commented on #124
@tillkamppeter ad first question - AFAIK yes, cups-browsed is set to find remote shared printers by dnssd protocol and CUPS legacy protocol.
Ad second question - ideally both. I'm okay with accessing single printers with each local queue for my usual workflow, but IMO there will be requests for clustering feature too .
e.g. our customers wanted clustering features in RHEL 7, so I am doing a rebase

[2019-06-07 11:47] zdohnal commented on #124
Footnote:
There was a change in creating local queues from CUPS legacy broadcast since 1.14.0 - created queues started to get implicitclass backend, even when only one server (AFAIK) is broadcasting the queue - I thought it was simple change of behavior, but I'm not sure now - is it not a bug in the end?

[2019-06-07 14:47] tillkamppeter commented on #67
I have checked your client's PPD file and it contains the line
[code]
This you would get when creating a queue pointing to a remote CUPS printer with CUPS 2.2.8 or older on the client and it leads to duplicate execution of `pdftopdf` (on both client and server). In CUPS 2.2.9 [CUPS issue #5361](https://github.com/apple/cups/issues/5361) got fixed and you would get
[code]
in your PPD which prevents

[2019-06-07 14:50] tillkamppeter commented on #67
If you get the wrong `*cupsFilter2: ..." line in your PPD with CUPS 2.2.9 or newer on your client using your command line
[code]
please report an [issue on CUPS](https://github.com/apple/cups/issues).

[2019-06-07 16:33] archenemies commented on #67
Thank you for the attention. Here is what I get when running that command:

    $ lpadmin -p B210a_Remote -m raw -E -v ipp://amenhotep/printers/HP_Photosmart_Plus_B210_series
    lpadmin: Raw queues are deprecated and will stop working in a future version of CUPS.
    lpadmin: Use the 'everywhere' model for shared printers.
    $ sudo lpadmin -p B210a_Remote -m raw -E -v ipp://amenhotep/printers/H

[2019-06-07 16:37] archenemies commented on #67
(it says "Email replies do not support Markdown", so I'm posting this again via the web interface)

Thank you for the attention. Here is what I get when running that command:

    $ lpadmin -p B210a_Remote -m raw -E -v ipp://amenhotep/printers/HP_Photosmart_Plus_B210_series
    lpadmin: Raw queues are deprecated and will stop working in a future version of CUPS.
    lpadmin: Use the 'everywhere' m

[2019-06-07 17:09] tillkamppeter commented on #67
Add "-o collate":
[code]
Do the pages come out in the desired order now?

About raw queues and "everywhere" model:
A raw queue ("`-m raw`") is a print queue without PPD (or driver) at all, job data is passed on completely unfiltered to the destination. This was formerly used to pass on jobs to remote CUPS queues as the server's CUPS is doing the filtering. This still works with current CUPS, "depr

[2019-06-07 17:14] tillkamppeter commented on #67
The bug reported here is actually the [CUPS issue #5361](https://github.com/apple/cups/issues/5361) which is fixed in CUPS 2.2.9 and cups-filters 1.21.0. Closing as it is already fixed.
@archenemies, but still tell whether "`-o collate`" gives you the desired result. Thanks.

[2019-06-07 17:14] #67 closed

[2019-06-07 17:33] tillkamppeter commented on #64
cups-filters does not do fine-tunable halftoning, the halftoning is done by the individual printer drivers and sometimes even only in the printer hardware or firmware. So there is no way to solve your problem by modifying anything in cups-filters (and also not in CUPS).
The Pentax driver also has no tunable entries in its PPD file, meaning that if the halftoning is done in the driver and not in th

[2019-06-07 17:33] #64 closed

[2019-06-07 17:34] tillkamppeter commented on #60
No more reaction from the original poster, closing ...

[2019-06-07 17:34] #60 closed

[2019-06-07 17:36] tillkamppeter commented on #54
No answer from the original poster, closing ...

[2019-06-07 17:36] #54 closed

[2019-06-07 17:40] tillkamppeter commented on #52
There have been several fixes in cups-filters. Could you try with a newer version (or with a newer Ubuntu, like 18.04 LTS)?

[2019-06-07 17:42] tillkamppeter commented on #47
Is your problem now solved? Can I close this issue?

[2019-06-07 17:43] tillkamppeter commented on #46
No reaction from the original poster any more, closing ...

[2019-06-07 17:43] #46 closed

[2019-06-07 17:55] tillkamppeter commented on #22
This seems to be a hardware bug observed on a few Canon printers. Unfortunately, neither me nor @michaelrsweet have access to such a printer. If you have a printer with this problem, please post on apple/cups#5512 and work together with @michaelrsweet on a solution.
I am closing this issue here as we do not have a way to solve it on the cups-filters side.

[2019-06-07 17:56] archenemies commented on #47
The pages now come out of my inkjet in the correct order, thank you for your work.

There were a lot of other items in my list, but I think it is reasonable to close this issue, since someone can submit new issues for them if they run across the same problems.

[2019-06-07 17:56] #47 closed

[2019-06-07 17:59] tillkamppeter commented on #10
@zdohnal, @Ste74, anyone of you still suffers this problem? Could you please try with the newest version of cups-filters?
I am closing this now, please re-open if you still have this problem.

[2019-06-07 17:59] #10 closed

[2019-06-07 18:04] archenemies commented on #67
Thank you for defining the terms "raw queues" and "everywhere model".

If I pass `-o collate` then the output is collated. It seems strange that collation is not the default (should I set it as a default with `lpoptions`?). But indeed it is unrelated to the queue being remote, since I get the same page ordering (2,2,3,3) when I copy the document to the server and print it directly:

    $ lp -dHP_

[2019-06-07 18:04] tillkamppeter commented on #47
OK, the other issues seem partially to be CUPS issues and not cups-filters and with the title of this issue we can assume that we wanted to solve the problem with page-order here and this got actually solved. Thank you very much for your report and cooperation.

[2019-06-07 18:08] tillkamppeter commented on #110
Probably simply an issue of more than one QPDF version installed and no answer from original poster, closing ...

[2019-06-07 18:08] #110 closed

[2019-06-07 18:09] tillkamppeter commented on #112
No answer from original poster, closing ...

[2019-06-07 18:09] #112 closed

[2019-06-08 06:59] deepak0405 commented on #124
@tillkamppeter
The DNS-SD support was introduced in cups1.2 and the IPP 2.x support was added in cups 1.4.

I think the method suggested by Till is the best way to solve the issue.

The new Clustering code does IPP requests three times:

1. While getting the attributes of the printer for generating the ppd file.

2. Getting the number of jobs on the server, while we are distributing the new job on

[2019-06-08 08:38] tillkamppeter commented on #124
@zdohnal, the implicitclass backend is needed for clustering and it is easier to handle when a single printer also uses implicitclass instead of changing when a second printer gets added or all but one printers of a cluster disappear. See also the `NEWS` file, changes for version 1.11.3.

[2019-06-08 10:45] tillkamppeter commented on #124
@deepak0405, CUPS started with DNS-SD printer advertising only in 1.3.x but it does not change anything for us here as @zdohnal has CUPS 1.4.x on his servers. But having CUPS 1.4.x already doing IPP 2.x but not answering a get-printer-attributes IPP request properly looks like a bug in this old CUPS for me. @deepak0405 could you have a look into the IPP specs whether the IPP 2.0.x/2.1.x conformanc

[2019-06-10 08:04] zdohnal commented on #10
I'll check with others on the bugzilla ticket - if they still can reproduce the issue, I'll reopen this one.

[2019-06-10 12:56] deepak0405 commented on #124
@tillkamppeter
The GET_PRINTER_ATTRIBUTES request is also supported by [IPP/1.1](https://tools.ietf.org/html/rfc2911). I checked in IPP/1.1 specification and the IPP request format was the same as we are doing. But the attributes lists in IPP/1.1 or  [IPP/2.x](https://ftp.pwg.org/pub/pwg/standards/std-ipp20-20151030-5100.12.pdf) doesn't have reference to media-col-database. One file related to [IP

[2019-06-10 13:09] tillkamppeter commented on #124
@deepak0405, perhaps we need to work with a fallback. First, we do, as before, our get-printer-attributes request with "all" and "media-col-database", if we get a failure or broken data, we get into the fallback, which is the same get-printer-attributes request but only with "all" and no "media-col-database". This can even in addition to support for old printers/CUPS queues solve the Canon printer

[2019-06-10 13:47] zdohnal commented on #124
Hi @deepak0405 !
here are the logs
[ipptool_output_without_mediacoldatabase.txt](https://github.com/OpenPrinting/cups-filters/files/3272271/ipptool_output_without_mediacoldatabase.txt)

[2019-06-10 15:52] tillkamppeter commented on #124
Thanks, @zdohnal, this looks like that the fallback as I described in my previous comment would work with this output, as the output lists the available paper sizes ("media-supported") and input PDLs ("document-format-supported")  which is the minimum information for generating a valid PPD file, but it has also some point where it is not consistent, as under "job-settable-attributes-supported" the

[2019-06-11 07:51] zdohnal commented on #124
@tillkamppeter I checked clean CUPS 1.4.2 which Mike provided at that time and current upstream master - actually those two missing attrs were only in requested attributes field at that time and they were missing from load_ppd() function, where they are handled now in current upstream. So they are missing in the request because server did not take them from ppd file and was not meant to do it at t

[2019-06-11 14:16] tillkamppeter commented on #124
@zdohnal, the missing "print-quality-supported" and "printer-resolution-supported" (or generally missing "...-supported" if "..." is listed in "job-settable-attributes-supported") I consider a bug and not a feature addition as it breaks IPP standard compliance, so being legitimate to fix this in an already released distribution, but it is not a security bug or otherwise very severe. You could ask

[2019-06-12 20:24] tillkamppeter commented on #117
pdftoraster is done now, as pull request #127 by @tanmayanand44.

[2019-06-14 12:16] deepak0405 commented on #124
@zdohnal
I have generated a pull request #128. If an IPP request to obtain "media-col-database" and "all" fails, we do a fallback request, asking only "all" group name attributes.
Can you please test it ?

[2019-06-14 12:42] zdohnal commented on #124
@deepak0405 Sure thing, I'll test it right away. Thank you for the patch!

[2019-06-14 14:12] zdohnal commented on #124
@deepak0405 I cherry-picked your two commits, applied on 1.24.0 and tried it in Fedora rawhide. Unfortunately, there are no local queues. I'll send the logs on Monday.

[2019-06-14 14:17] tillkamppeter commented on #124
@zdohnal, chank you very much. I have already found a bug in the patch which renders the fallback completely non-functional. Please see my comment on the pull request. You could try again with this bug corrected.

[2019-06-17 07:32] zdohnal commented on #124
@tillkamppeter now I see - the fallback is very good idea, but it is unfortunate it is not set to 1 in any call of get_printer_attributes() :)

[2019-06-17 08:04] tillkamppeter commented on #124
@zdohnal, in calls outside of get_printer_attributes() outside get_printer_attributes() itself the fallback mode is always set to 0 so that get_printer_attributes() does the standard ("all" + "media-col-database") first. If this fails, get_printer_attributes() calls itself with 1 as fallback mode, so that then the attempt with only "all" is initiated.
Did you test it? Did you apply the small corre

[2019-06-17 08:13] zdohnal commented on #124
I'm sorry, I have not tested it yet - just arrived into the office. I'll post an update around the noon.

[2019-06-17 13:26] zdohnal commented on #124
@tillkamppeter Actually I do not see any comment on pull request, so I looked into the code and IMO there is the other issue - when you call get_printer_attributes(uri, 1), you do not store the return value, so the output of get_printer_attributes is still NULL from previous call.
I tried to fix it, but messed up something else, so the queues are not created too.

[2019-06-17 14:00] tillkamppeter commented on #124
@zdohnal, take deepak's repo on which he has created this pull request. There edit line 6659 in the file `utils/cups-browsed.c` by replacing
[code]
with
[code]
Now use the freshly built cups-browsed, either by terminating any other cups-browsed instance and then running `./cups-browsed` in the source tree of cups-filters or replacing the system's cups-browsed with `.libs/cups-browsed` from the sou

[2019-06-18 05:08] deepak0405 commented on #124
@zdohnal Please also upload the ppd file, if it is generated.

[2019-06-18 08:44] zdohnal commented on #124
I'm sorry, tried pure deepak's version, but still no created queues - here is the log
[cups-browsed_log.txt](https://github.com/OpenPrinting/cups-filters/files/3300587/cups-browsed_log.txt) and there are no ppds in /etc/cups/ppd.

[2019-06-18 09:42] tillkamppeter commented on #124
@zdohnal, could you do the get-ipp-attributes requests with only the "all" attribute using ipptool (copy file `/usr/share/cups/ipptool/get-printer-attributes-2.0.test`, remove "media-col-database" from the attributes and use this with ipptool). Do it preferably on all your remote printers, from the client on which you have the problem with cups-browsed. Attach the results here together with the pr

[2019-06-18 10:39] zdohnal commented on #124
Here are the logs of request
[gpa-request-all.tar.gz](https://github.com/OpenPrinting/cups-filters/files/3301103/gpa-request-all.tar.gz) . I see in the logs:

 Get printer attributes using get-printer-attributes                  [FAIL]

even without media-col-database, is it connected?

[2019-06-18 10:41] zdohnal commented on #124
Printer uris are in the logs (server_cname is canonical name of server, server_name is classic hostname).

[2019-06-18 13:08] tillkamppeter commented on #124
@zdohnal, @deepak0405, the output seems to be a sufficient amount of data for building a PPD file, but ipptool is considering the operation failed, probably due to the following errors listed in the end of the file:
[code]
These errors are probably not severe enough to prevent building a PPD, and they are most probably caused by a bug in this stone-old CUPS 1.4.2. A solution would be to let cups-b

[2019-06-18 18:09] deepak0405 commented on #124
@tillkamppeter There are a number of IPP status which can be returned. I am using this ref:
[IANA Repo](  https://www.iana.org/assignments/ipp-registrations/ipp-registrations.xhtml#ipp-registrations-11). I will read which errors can be ignored.

Also,
The log file shows that even though the request failed, our cupsLastErrorString() is Success.
`Jun 04 03:29:25 host-client-ip cups-browsed[2420]: Tu

[2019-06-18 18:56] tillkamppeter commented on #124
I think using `ippErrorString(ipp_status)` inplace of `cupsLastErrorString()` is the correct thing here, it was probably overlooked when this code was initially created. Please do it.

[2019-06-23 05:43] deepak0405 commented on #124
Hi @tillkamppeter, @zdohnal I am working on the issue. It will take me few more days.

[2019-06-24 14:48] PatriciaJH commented on #124
Hi all, I believe I may be seeing the same bug on a much simpler network -- no subnets, 2 printers, Cups running on my laptop.   Seeing it on Fedora 29 with all updates, and not on Linux Mint 19.1; manifests as lpq not seeing the default printer when I change it from the system Printers dialogue or from the Cups browser interface.   I am seeing repeated unresolved "cupsd[2925]: REQUEST localhost -

[2019-06-24 17:11] tillkamppeter commented on #124
@PatriciaJH, for me this looks like a different issue. Could you start a new issue report and there especially tell:
- Which distribution version and which versions of CUPS and cups-filters are you using on the client? And which ones on the server?
- How did you set up your print queues on the server? Device URI? Are the printers set to be shared? Please attach the printer's PPD files (from `/etc/

[2019-06-28 06:14] zdohnal commented on #124
@deepak0405 No problem, take your time - I'll let older cups-filters in Fedora for now. I will be on vacation next week, so if you need a testing, I will not reply until Monday 7th July.

[2019-07-01 08:23] nandateme opened #130 "Huge issue with CUPSD : high CPU usage when starting with lot of printers !"
Hello everybody,

I'm experiencing a huge problem with Linux Mint 19 Cinnamon on my laptop. At work, there are a lot a printers on the network (like a hundred at least). When I start the computer, cupsd and many other process (avahi whatever) consume A LOT of CPU for at least 15 minutes (I guess the system is scanning for the hundred of printers !!) ; while doing that, the computer is unusable, la

[2019-07-01 10:07] tillkamppeter commented on #130
Can you please tell which version of cups-filters is used in LM 19 (where the problem occurs) and in LM 18 (where the problem does not occur)? Please also tell which processes cause high load (cupsd, cups-browsed, avahi-daemon, ...) and how many of these appear.
Please run cups-browsed and cupsd with debug logging.
For cupsd run the command
[code]
For cups-browsed edit `/etc/cups/cups-browsed.conf

[2019-07-04 17:56] tillkamppeter opened #131 "pdftoraster: New version segfaults on imagetopdf output"
The new version of pdftoraster resulting from the fix of issue #9 causes a segfault in the test suite ("`make check`") of CUPS.
You can reproduce it by taking the test JPG file of the CUPS source code (`test/testfile.jpg`, attached) and the PPD file of the test (also attached) and running the coimmand lines
[code]
This makes pdftoraster segfault and the backtrace of `gdb` is:
[code]
@tanmayanand44

[2019-07-04 18:06] tillkamppeter commented on #131
I have found this problem via the following Ubuntu bug report: [Launchpad bug #1833231](https://bugs.launchpad.net/ubuntu/+source/cups-filters/+bug/1833231)

[2019-07-04 20:57] tillkamppeter commented on #131
Sorry, forgot the attachments. Here we go:
[pdftoraster-segfault.jpg](https://user-images.githubusercontent.com/1244825/60687440-ea112100-9eae-11e9-9d2f-f2672a1e328e.jpg)
[pdftoraster-segfault.ppd.txt](https://github.com/OpenPrinting/cups-filters/files/3360489/pdftoraster-segfault.ppd.txt)

[2019-07-05 13:42] #131 closed

[2019-07-05 19:09] jypma commented on #22
I'm getting a similar message on a Dell 2155CDN.
[code]
on Arch linux. Let me know if I can help figure something out.

[2019-07-06 07:17] tillkamppeter commented on #22
@jypma,  could you run the following command:
[code]
This will give you a list of URIs, find the one of your printer. Now run the command
[code]
replacing `<URI>` by your printer's URI from the output of the first command. Attach the output file `ipp-attributes.txt` to this issue report.

[2019-07-14 00:48] pgnd opened #134 "cups-filter/head built fails with latest qpdf/head; OK with last qpdf release, v8.4.2. qpdf API change?"
Building cups-filters/head,
[code]

against qpdf/release-qpdf-8.4.2, works as intended.  cups-filter pkgs build, install & exec -- alongside cups/head -- fine.

OTOH, switching dep to newest qpdf
[code]

with latest qpdf src, apparently after an API change,

	cd qpdf/
	git log | head
		commit 8f06da75343a5e970ff7a6f275c319172e6292d0
		Author: Thorsten Schöning <6223655+ams-tschoening@users.noreply

[2019-07-14 09:24] tillkamppeter commented on #134
@jberkenbilt, did there actually happen an API change in a microrelease (9.4.2) of QPDF? Can it also affect other places in cups-filters? How should I fix this the best way?

[2019-07-14 09:30] tillkamppeter commented on #134
@sahilarora535, you did the last changes on pdf.cxx, for the QPDF-based bannertopdf, could you have a look here to solve this problem? Thanks.

[2019-07-14 09:31] tanmayanand44 commented on #134
@tillkamppeter The build error states that the <cstring> header isn't included. After including it, cups-filters is able to build without any errors.

[2019-07-14 09:36] tillkamppeter commented on #134
The error message suggests to add "`#include <cstring>`", but `man memcpy` suggests "`#include <string.h>`", was there some alternative C compiler or C library used?

[2019-07-14 09:55] tanmayanand44 commented on #134
I use gcc8.3.0. Yes string.h also works, essentially \<cstring\> and \<string.h\> are identical. [here](http://www.cplusplus.com/reference/cstring/)

[2019-07-14 10:14] tillkamppeter commented on #134
On my Ubuntu Eoan I have only `/usr/include/string.h` and the `pdf.cxx` file contains `#include <string>`. In which cases there is a`/usr/include/cstring.h` file instead of `/usr/include/string.h`?  Seems that we need to do some check in `configure.ac` so that both cases get supported.

[2019-07-14 14:15] pgnd commented on #134
fwiw, here I've:
[code]

There's no "cstring.h" here,
 just "cstring"
[code]

[2019-07-14 19:03] jberkenbilt commented on #134
I guess you've figured out that it's a header issue with the compiler. Anyway, I can confirm that there were no API changes in 8.4.2. It's very hard to know that you have all the required headers. It's so common to forget one and get away with it because it's included somewhere else, and then that changes and you get an error. If you happen to find something like that in qpdf, please report it. Bu

[2019-07-14 19:23] pgnd commented on #134
Just to be clear -- there's **_no_** issue^^ with building cups-filters with qpdf/release-8.4.2.

The build fail, as reported above, only surfaces when building with qpdf/master -- i.e, *_after_* 8.4.2

[2019-07-14 22:56] jberkenbilt commented on #134
There are API changes in master. The next version of qpdf will be 9.0.0 and will contain both ABI and API changes. The API changes are minimal, and they are already documented in the release notes section of the manual in master. They will not affect most users, though there was a change from `list` to `vector` in some outlines code to work around bugs with some other compilers.

If you are encoun

[2019-07-14 23:52] pgnd commented on #134
@jberkenbilt

Thanks for the detail; will take a look.

ok.  So it's officially "something since 8.4.2" ...

In case it's helpful, here's my online build repo where the cups-filter build fail exists, when in the presence of qpdf/master

	https://build.opensuse.org/project/show/home:pgnd:PrintingNEXT:cups-filters-testing

Fwiw, the context is an attempt to get an up-to-date, consistent cups (et al)

[2019-07-15 00:53] jberkenbilt commented on #134
Regarding using qpdf master, do keep in mind that the code in master builds shared libraries whose version numbers match the most recent release even though compatibility may not have been preserved. I only update shared library versions for releases. Otherwise, I keep a stable, releasable master at all times, so for your own private use, it should be safe.

As far as I can see, there is no action

[2019-07-15 01:04] pgnd commented on #134
At this point, only 'awareness' that stuff breaks, currently, if you use > qpdf 8.4.2.  I suppose, *eventually*, something needs to get 'fixed' -- either on the cups-filters side, or on the qpdf side, it their respective future incarncations are intended to play nicely together.

I'm irritated at 'my distro' that they can't be bothered with the interest in getting a working stack into packaging, b

[2019-07-15 12:52] tillkamppeter commented on #134
As this is caused by a not yet completed version of QPDF and not by the currently released QPDF I am closing this bug report. Please re-open when it still happens with released QPDF 9.0.0.

[2019-07-15 12:52] #134 closed

[2019-07-17 03:52] deepak0405 commented on #124
@tillkamppeter
The response without including "media-col-database" is NULL. I was trying to recreate the same environment so that I will be able to debug it better.

I used `run-stp-tests.sh`, luckily it was there in the cups 1.4.2 code. I was able to create print queues on port 8631 but those were not visible in cups-browsed running on the client.

a. The printers on port 631 were visible on the

[2019-07-19 01:22] sherwinkh commented on #120
@tillkamppeter
I encounter the same issue.
I use web browser to add my Label Printer，and shared it on Ubuntu Mate 16.04.2.
Then add printer device use “http://192.168.1.79:631/printers/Deli_DL-888B” on Win7.
I printe a test label，the printer makes some noise but does not print anything.
[code]

[2019-07-20 13:45] deepak0405 commented on #124
@tillkamppeter
My earlier setup was :
              Server ( VM ) : Ubuntu 19.04 and cups 1.4.2 running on port 8631
              Client: Ubuntu 19.04, latest cups-browsed and  cups 2.2.10.

I applied the patch on the avahi 0.7 code, installed and reloaded the systemctl service on the Server.
I checked the output of avahi-discover on client and avahi-browse -a on server, the printer on port 8631

[2019-07-20 15:38] tillkamppeter commented on #124
OK, what we need is a server which actually broadcasts its printers so that cups-browsed picks them up automatically. I do not know with which CUPS version the Avahi broadcasting support started. cups-browsed is also capable of picking up printers via the legacy CUPS broadcasts of old CUPS versions. Perhaps you need to ask @zdohnal what config he actually has.

[2019-07-22 07:32] Dapeng-W opened #135 "lpr 命令，打印中文或日文，出现串位覆盖现象"
[code]

[2019-07-22 07:34] tillkamppeter commented on #135
Could you please report bugs in English, thanks.

[2019-07-22 07:40] Dapeng-W commented on #135
The p-th Chinese or Japanese characters printed on paper, the left side will be aligned with the left side of the p-th English character of other lines,
mabe the width of each character of Chinese or Japanese is greater than the width of a single English character,
when actually printing to paper After that, you will find that the text covers each other.

[2019-07-22 07:45] Dapeng-W commented on #135
1，Write a few Chinese or Japanese characters in test-print.txt
2，Add a printer by system-config-printer
3，Use command lpr to print test-print.txt
4，see your printed paper，the text covers each other.

[2019-07-22 08:09] Dapeng-W commented on #135
I upload two pictures on:  https://github.com/Dapeng-W/issues/tree/master/cups-filters/
you can make a comparison.

thank you.

[2019-07-22 08:28] Dapeng-W commented on #52
since which version?

[2019-07-23 11:18] zdohnal commented on #124
@deepak0405 I asked our IT for access to the server (I expect you need server side cupsd.conf), but no answer yet... If you would like to know a specific setting in cupsd.conf on the server, maybe I can ask people who was in charge of company printers before current IT, but still I do not have access to whole cupsd.conf :( .

[2019-07-24 14:02] tillkamppeter commented on #135
texttopdf should take into account that Japanese or Chinese characters have the width of 2 standard latin characters when fixed width fonts are used. In terminal windows for example this is taken into account.

@smilingthax, could you have a look into this? Thanks.

[2019-07-24 22:47] smilingthax commented on #135
Well, I can probably improve this. But I need to understand how to best determine whether a character is double width? It this just true for any character in a certain unicode range (e.g.) `U+3000 `to `U+9FFF`? Or does this somehow depend on the font?
For the similar problem of right-to-left text, the corresponding ranges used by texttopdf are configured via `charset/pdf.utf8` -- do we have to ext

[2019-07-25 19:56] dheeraj135 opened #136 "cups-browsed incorrectly remove printers."
I turn on my laptop's wifi.
I create a virtual printer with the command: ```ippserver -p 8010 t1 ```.
It creates two printers:
[code]
The printer is detected by cups-browsed and queue is automatically created for the ipps protocol. It doesn't create queue for the ipp protocol. The ipp printer is available under discovered network printers on the cups web interface.

I turn off my laptop's wifi and

[2019-07-25 20:17] tillkamppeter commented on #136
cups-browsed does everything to avoid creating two queues for only one physical printer. Here we have a printer supporting both ipp: and ipps: protocols. cups-browsed recognizes that these two URIs are only one physical printer and only creates a queue for the "better" version, which is ipps:. When the printer disappears, it only removes the queue it has created, the one for ipps:. So in terms of

[2019-07-25 20:36] dheeraj135 commented on #136
The printer is correctly broadcasted.

Result of avahi-discover when wifi is on:
[code]

Result of avahi-discover when wifi is off:
[code]
I am using ubuntu 19.04 and I installed avahi using apt. So, I am assuming avahi is already patched.

[2019-07-25 21:46] tillkamppeter commented on #136
What is exactly going wrong here? That cups-browsed is removing its queue when turning off Wi-Fi (printer is on lo and cups-browsed should also work in lo-only environment)? CUPS not showing both ipp: and ipps: version of printer in "`lpstat -e`" (I actually do not know what CUPS should show here)?
Please provide a debug log of cups-browsed covering the point in time when the unexpected happens. I

[2019-07-25 21:57] dheeraj135 commented on #136
cups-browsed removing its queue when turning off Wi-Fi is the only issue.
Log file:
[cups-browsed.txt](https://github.com/OpenPrinting/cups-filters/files/3433399/cups-browsed.txt)
Events logged into the log file: cups-browsed being restarted, t1 is discovered. Then wifi is turned off and print queue for t1 is deleted.

[2019-07-26 19:19] tillkamppeter commented on #136
Do you have an actual, physical printer?
Can you also post your file `/etc/cups/cups-browsed.conf`? Please rename it to have a `.txt` extension for attaching here.

[2019-07-26 19:25] tillkamppeter commented on #136
Are you sure trhat you are running only one printer emulation in your local network? Or could there be a second instance of ippserver running on a machine named "dj-HP.loca"?

[2019-07-27 00:44] arditi-t2s commented on #130
I am currently facing the same issue with Ubuntu 16.04 ->  2.1.3-4ubuntu0.9

the same configuration with the older version of cups isn't happening  2.1.3-4ubuntu0.4

While being on  2.1.3-4ubuntu0.4/5/6 the average usage is around 0.2 % memory while on  2.1.3-4ubuntu0.9 this is increasing dramatically up to 80%  especially when using network printers

I have checked the error logs and there is onl

[2019-07-27 08:30] dheeraj135 commented on #136
Yes, I have HP Officejet 6960. But I cannot recreate this issue on a physical printer because for this we will need the printer to be connected on more than one interfaces. In the case of ippserver, the printer is connected on 'lo', and wlo1 interfaces.

[cups-browsed.txt](https://github.com/OpenPrinting/cups-filters/files/3437967/cups-browsed.txt)

Yes, I am sure. If I turn off the wifi and resta

[2019-07-28 19:02] tillkamppeter commented on #136
cups-browsed creates one entry for each printer it discovers, also if it discovers one and the same printer through several different interfaces. If one interface goes away, the printer entry (and so the local queue) is removed, even if the printer is still available through another interface.
To cope with this, the following improvements/fixes on cups-browsed are needed:
- The printer entry needs

[2019-07-30 20:30] lumotroph opened #137 "Filter permission issue"
Trying to set up linux print server, connected to Lexmark S405 by USB.

Cannot print test page - error log lists this as issue: Permission denied on starting filter.
[code]

Sorry if this is the wrong place to go for this.

Install details:
[code]
System details: uname -a
`Linux legasov 4.15.0-55-generic #60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

Attached here is m

[2019-07-31 13:48] tillkamppeter commented on #136
Thank you very much for your bug report. This was an important problem, especially as we now will see emulated IPP printers on the local machine.

Fixed with commit 1a8cedd6fa.

I have solved this by registering each DNS-SD message of a printer appearing with network interface, IPP type, and network family (IPv4/IPv6). The printer entry will only get actually removed if a corresponding disappearin

[2019-07-31 13:48] #136 closed

[2019-07-31 13:55] tillkamppeter commented on #137
For me this looks like a problem of a third-party printer driver (from Lexmark).
Is the executable bit of the file
[code]
set?
I do not see any problem in the cups-filters package here.

[2019-07-31 13:55] #137 closed

[2019-07-31 13:57] tillkamppeter commented on #135
I am not absolutely sure what defines with fixed-width UTF characters are double width. Not sure whether it is defined in the font or somewhere else.

[2019-08-01 02:17] speachy opened #138 "gstoraster shifts image over a bit but pdftoraster is correct"
I just ran into an odd problem.  I'm trying to print a full-bleed image that is perfectly sized for the printer's imagable area.  If I submit the job as an image (ie jpeg), the image prints correctly.

However, if I convert the image to a pdf first and submit that, the image is offset about 3-4mm from the left of the page, leaving a white visible margin.

When debugging I noticed that the filter f

[2019-08-01 02:49] speachy commented on #138
Further info -- I'm submitting these images on the command line using 'lp', to a local queue.  The printer in this specific instance is a USB-attached DNP DS620, driven by git master Gutenprint.  I can also supply the PPD and source image (in jpeg and pdf form) that demonstrates the problem.

[2019-08-01 11:04] lumotroph commented on #137
Sorry, i didn't know where else to look for help - been trying the docs
extensively.

Yes, permissions seem to be set according to docs (no group write, owner
and group execute).

Could you point me in the right direction?

Thanks Till

On Wed, 31 Jul 2019 at 15:55, Till Kamppeter <notifications@github.com>
wrote:

--
Duncan Cosser - (+27)848009957

[2019-08-02 13:04] tanmayanand44 commented on #138
@speachy Can you share the PPD and the image for us to look upon. Probably, there is a margin offset bug in gstoraster.

[2019-08-02 14:56] speachy commented on #138
[files.zip](https://github.com/OpenPrinting/cups-filters/files/3461750/files.zip)

In the zip file are the PPD, and a source image in the original jpg, and converted to pdf.  Note that these images have (symmetrical) borders, which makes it pretty easy to see if/how the image gets shifted.

I used PageSize=w432h648 Resolution=300dpi.

[2019-08-02 14:59] speachy commented on #138
![DSC_0115](https://user-images.githubusercontent.com/5199155/62379206-7fd2b700-b514-11e9-8fec-0be72d7e906f.JPG)

Here's a quick side-by-side comparison of what came out of the printer.

[2019-08-07 20:32] tillkamppeter commented on #120
@sherwinkh, it looks like that you do not have all filters installed. There must be filters `texttopdf`, `pdftopdf`, and `pdftops` filters in your `/usr/lib/cups/filter` directory. Do you have cups-filters installed? Note that after installing missing filters you have to restart CUPS.

[2019-08-12 14:37] logTom commented on #124
I also get `get-printer-attributes IPP call failed on printer konica_minolta_bizhub_c253_5e_92_c6_ (implicitclass://KONICA_MINOLTA_bizhub_C253_5E_92_C6_/).` executing cups-browsed on Solus with cups-filters 1.25.1.

[2019-08-12 18:16] deepak0405 commented on #124
@logTom
* Which version of CUPS you are using ? Whether your printer is IPP Network Printer, if not what is the version of cups running on the server ?
* Can you please attach the error log of cups-browsed ?
* Please also send the output of
[code]
https://github.com/steveathon/cups/blob/master/test/get-printer-attributes-2.0.test

[2019-08-13 06:26] logTom commented on #124
Cups is version 2.2.8. Should I try upgrading to the latest version 2.2.11+?
Or try cups-filters with the proposed fix https://github.com/OpenPrinting/cups-filters/pull/128?
The printer is a Konica Minolta C-253 network printer and yes it's kinda old.

The full error log is (edited /etc/cups/cups-browsed.conf and uncomment the line DebugLogging stderr):
[code]

I'm afraid I'm not sure how to find